{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Armor Services API"
  },
  "host": "api.armor.com",
  "schemes": ["https"],
  "paths": {
    "/{entityType}/{entityId}/tasks": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Retrieve a list of scheduled events that are associated to your account.",
        "operationId": "Task_GetList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "entityType",
          "in": "path",
          "description": "The type of the entity",
          "required": true,
          "type": "string"
        }, {
          "name": "entityId",
          "in": "path",
          "description": "id of the entity",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Scheduling.Models.TaskResponse"
              }
            },
            "examples": {
              "application/json": [{
                "entityType": "vms",
                "entityId": "100",
                "action": "delete",
                "taskDate": "2015-01-01T00:00:00"
              }]
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Infrastructure"],
        "summary": "Delete a scheduled event that is associated to an entity.",
        "operationId": "Task_CancelTask",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "entityType",
          "in": "path",
          "description": "The type of the entity",
          "required": true,
          "type": "string"
        }, {
          "name": "entityId",
          "in": "path",
          "description": "id of the entity",
          "required": true,
          "type": "string"
        }, {
          "name": "request",
          "in": "body",
          "description": "Request",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Scheduling.Models.TaskRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/{entityType}/tasks": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Retrieve list of scheduled events for all accounts.",
        "operationId": "Task_GetTaskList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "entityType",
          "in": "path",
          "description": "The type of the entity",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Scheduling.Data.Domain.FullTaskResponse%5D"
            },
            "examples": {
              "application/json": {
                "total": 1,
                "page": 1,
                "items": [{
                  "entityType": "vms",
                  "entityId": "100",
                  "action": "delete",
                  "taskDate": "2026-02-12T16:25:55.4031549Z",
                  "vmName": "IIS Web Server 01",
                  "accountId": 2,
                  "accountName": "Development Test Account",
                  "type": "Infrastructure",
                  "summary": "Jonh Doe scheduled IIS Web Server 01 to be deleted on 09/01/2017 12:00",
                  "datetimeOfActivity": "0001-01-01T00:00:00"
                }]
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/apps": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Retrieve any workloads that are associated to your Account.",
        "operationId": "App_GetAppList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Compute.Models.Application.ApplicationDto"
              }
            },
            "examples": {
              "application/json": [{
                "id": 1,
                "name": "VMA",
                "location": "DFW01",
                "zone": "dfw01-vc01",
                "status": 8,
                "deployed": false,
                "tierCount": 1,
                "vmCount": 13,
                "totalCpu": 1,
                "totalMemory": 2048,
                "totalStorage": 30720,
                "notes": null,
                "health": 0,
                "tags": []
              }, {
                "id": 4,
                "name": "VMW",
                "location": "PHX01",
                "zone": "phx01-vc01",
                "status": 100,
                "deployed": false,
                "tierCount": 1,
                "vmCount": 1,
                "totalCpu": 0,
                "totalMemory": 0,
                "totalStorage": 0,
                "notes": null,
                "health": 2,
                "tags": []
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/apps/{appId}/tiers": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Retrieves all the tiers associated with a specified workload.",
        "operationId": "Tier_GetAppTiers",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "appId",
          "in": "path",
          "description": "id for the workload to retrieve tiers",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": ""
              }
            },
            "examples": {
              "application/json": [{
                "id": 5,
                "name": "New Tier 1",
                "vms": []
              }, {
                "id": 7,
                "name": "New Tier 3",
                "vms": []
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Infrastructure"],
        "summary": "Create a new tier on a workload, to serve as a logical grouping of servers within a workload.",
        "operationId": "Tier_AddTier",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "appId",
          "in": "path",
          "description": "id of the workload to which the tier should be added",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "tierDto",
          "in": "body",
          "description": "Details for the new tier (Name)",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Compute.ApiExamples.Models.AddTierSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Compute.Models.Application.ApplicationDetail"
              }
            },
            "examples": {
              "application/json": {
                "tiers": [{
                  "id": 5,
                  "name": "New Tier 1",
                  "vms": []
                }, {
                  "id": 6,
                  "name": "New Tier 2",
                  "vms": []
                }, {
                  "id": 7,
                  "name": "New Tier 3",
                  "vms": []
                }],
                "id": 1,
                "name": "Name",
                "location": null,
                "zone": null,
                "status": 8,
                "deployed": false,
                "tierCount": 4,
                "vmCount": 13,
                "totalCpu": 1,
                "totalMemory": 2048,
                "totalStorage": 30720,
                "notes": null,
                "health": 0,
                "tags": []
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/apps/{appId}/tiers/{tierId}": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Retrieves information for a specified tier from a workload.",
        "operationId": "Tier_Get",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "appId",
          "in": "path",
          "description": "The ID of the workload that contains the tier",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "tierId",
          "in": "path",
          "description": "The ID of the tier",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": ""
              }
            },
            "examples": {
              "application/json": {
                "id": 5,
                "name": "New Tier 1",
                "vms": []
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Infrastructure"],
        "summary": "Updates an existing tier on a workload",
        "operationId": "Tier_UpdateTier",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "appId",
          "in": "path",
          "description": "id of the workload to which the tier should be added",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "tierId",
          "in": "path",
          "description": "id of the tier",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "tier",
          "in": "body",
          "description": "Details for the tier (Name) to be updated",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Compute.ApiExamples.UpdateTierExampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Compute.Models.Application.ApplicationDetail"
              }
            },
            "examples": {
              "application/json": {
                "tiers": [{
                  "id": 5,
                  "name": "SMOKE-TEST-1",
                  "vms": [{
                    "id": 1,
                    "coreInstanceId": "00000000-0000-0000-0000-000000000000",
                    "name": "Smoke - Test - A1",
                    "provider": null,
                    "location": null,
                    "zone": null,
                    "ipAddress": null,
                    "status": 4,
                    "appId": 0,
                    "appName": null,
                    "osId": null,
                    "os": "Ubuntu 14.04",
                    "deployed": false,
                    "cpu": 1,
                    "memory": 2048,
                    "storage": 30720,
                    "notes": null,
                    "vCenterId": 0,
                    "vCenterName": null,
                    "product": null,
                    "uuid": null,
                    "health": 1,
                    "tags": [],
                    "scheduledEvents": null
                  }]
                }, {
                  "id": 6,
                  "name": "New Tier 1",
                  "vms": [{
                    "id": 9,
                    "coreInstanceId": "00000000-0000-0000-0000-000000000000",
                    "name": "New_Test_01",
                    "provider": null,
                    "location": null,
                    "zone": null,
                    "ipAddress": null,
                    "status": 100,
                    "appId": 0,
                    "appName": null,
                    "osId": null,
                    "os": "Ubuntu 14.04",
                    "deployed": false,
                    "cpu": 1,
                    "memory": 2048,
                    "storage": 30720,
                    "notes": null,
                    "vCenterId": 0,
                    "vCenterName": null,
                    "product": null,
                    "uuid": null,
                    "health": 0,
                    "tags": [],
                    "scheduledEvents": null
                  }]
                }],
                "id": 1,
                "name": "string",
                "location": "DFW01",
                "zone": "DFW01-VC01",
                "status": 8,
                "deployed": false,
                "tierCount": 2,
                "vmCount": 13,
                "totalCpu": 1,
                "totalMemory": 2048,
                "totalStorage": 30720,
                "notes": null,
                "health": 0,
                "tags": []
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Infrastructure"],
        "summary": "Delete a single tier from a workload.",
        "description": "<b>The tier must not contain any VMs.</b> If the tier does contain one or more VMs you will get a 400 back with an appropriate error message.",
        "operationId": "Tier_DeleteTier",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "appId",
          "in": "path",
          "description": "id of the target workload",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "tierId",
          "in": "path",
          "description": "id of the tier targeted for deletion",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Compute.Models.Application.ApplicationDto"
              }
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "Name",
                "location": null,
                "zone": null,
                "status": 8,
                "deployed": false,
                "tierCount": 4,
                "vmCount": 13,
                "totalCpu": 1,
                "totalMemory": 2048,
                "totalStorage": 30720,
                "isRecoveryWorkload": false,
                "tiers": [{
                  "id": 5,
                  "name": "New Tier 1",
                  "vms": []
                }, {
                  "id": 7,
                  "name": "New Tier 3",
                  "vms": []
                }],
                "notes": null,
                "health": 0,
                "tags": []
              }
            }
          },
          "400": {
            "description": "You cannot delete a tier that has VMs assigned to it."
          }
        },
        "deprecated": false
      }
    },
    "/apps/{id}": {
      "get": {
        "tags": ["Infrastructure"],
        "summary": "Retrieve details for a workload that is associated to your Account.",
        "operationId": "App_GetAppDetail",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id for the workload to retrieve details",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Compute.Models.Application.ApplicationDetail"
              }
            },
            "examples": {
              "application/json": {
                "tiers": [{
                  "id": 1,
                  "name": "VMA",
                  "vms": [{
                    "id": 1,
                    "coreInstanceId": "00000000-0000-0000-0000-000000000000",
                    "name": "VMA",
                    "provider": null,
                    "location": null,
                    "zone": null,
                    "ipAddress": null,
                    "status": 4,
                    "appId": 0,
                    "appName": null,
                    "osId": null,
                    "os": "Ubuntu 14.04",
                    "deployed": false,
                    "cpu": 1,
                    "memory": 2048,
                    "storage": 30720,
                    "notes": null,
                    "vCenterId": 0,
                    "vCenterName": null,
                    "product": null,
                    "uuid": null,
                    "health": 1,
                    "tags": [],
                    "scheduledEvents": null
                  }]
                }],
                "id": 1,
                "name": "VMA",
                "location": "DFW01",
                "zone": "DFW01-VC01",
                "status": 8,
                "deployed": false,
                "tierCount": 1,
                "vmCount": 13,
                "totalCpu": 1,
                "totalMemory": 2048,
                "totalStorage": 30720,
                "notes": null,
                "health": 0,
                "tags": []
              }
            }
          },
          "404": {
            "description": "Unable to find workload"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Infrastructure"],
        "summary": "Update the details for a workload that is associated to your Account.",
        "operationId": "App_UpdateApp",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id of a workload (ignored)",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "request",
          "in": "body",
          "description": "New name for the workload<br /><br />id of the workload",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Compute.ApiExamples.Models.UpdateAppSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Compute.Models.Application.ApplicationDetail"
              }
            },
            "examples": {
              "application/json": {
                "tiers": [{
                  "id": 1,
                  "name": "VMA",
                  "vms": [{
                    "id": 1,
                    "coreInstanceId": "00000000-0000-0000-0000-000000000000",
                    "name": "VMA",
                    "provider": null,
                    "location": null,
                    "zone": null,
                    "ipAddress": null,
                    "status": 4,
                    "appId": 0,
                    "appName": null,
                    "osId": null,
                    "os": "Ubuntu 14.04",
                    "deployed": false,
                    "cpu": 1,
                    "memory": 2048,
                    "storage": 30720,
                    "notes": null,
                    "vCenterId": 0,
                    "vCenterName": null,
                    "product": null,
                    "uuid": null,
                    "health": 1,
                    "tags": [],
                    "scheduledEvents": null
                  }]
                }],
                "id": 1,
                "name": "VMA",
                "location": "DFW01",
                "zone": "DFW01-VC01",
                "status": 8,
                "deployed": false,
                "tierCount": 1,
                "vmCount": 13,
                "totalCpu": 1,
                "totalMemory": 2048,
                "totalStorage": 30720,
                "notes": null,
                "health": 0,
                "tags": []
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Infrastructure"],
        "summary": "Delete a workload that is associated to your Account.",
        "description": "Workload must be empty for it to be deleted.",
        "operationId": "App_DeleteApp",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id for the workload to delete",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "Accepted"
          },
          "400": {
            "description": "A workload cannot be deleted unless it is empty. Please delete all virtual machines before deleting the workload."
          }
        },
        "deprecated": false
      }
    },
    "/apps/vms/{id}": {
      "put": {
        "tags": ["Infrastructure"],
        "summary": "Assign VM to Workload",
        "operationId": "App_AssignVmToWorkLoad",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "ID of the VM",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "requestDto",
          "in": "body",
          "description": "vmId: ID of the VM\r\n            <br /><br />workloadId: ID of the workload\r\n            <br /><br />tierId: ID of the tier\r\n            <br /><br />accountId: ID of the account\r\n            <br /><br />userName: email of the user making this change",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Compute.ApiExamples.Models.SampleAssignVmToWorkloadRequestDto"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": ""
              }
            },
            "examples": {
              "application/json": {
                "vmId": 1,
                "workloadId": 2,
                "tierId": 3,
                "accountId": 4,
                "userName": "example@armor.com"
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "deprecated": false
      }
    },
    "/backup/activity-logs": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of restore activity logs",
        "description": "<strong>Get request URI contain the following query options</strong>\r\n<br />\r\n<br />\r\n<strong>$top (required):</strong> total number of results to display. <strong>Data Type:</strong> integer. <strong>Example:</strong> $top=25<br /><br /><strong>$skip (required):</strong> skips the top number of results. <strong>Data Type:</strong> integer. <strong>Example:</strong> $skip=1<br /><br /><strong>$filter (optional):</strong> filters down results. <strong>Data Type:</strong> string. <strong>Example:</strong> $filter=status%20eq%20%27Success%27%20and%20taskCategory%20eq%20%27Restoring%20files%27<br /><br /><strong>$search (optional):</strong> search for specific result. <strong>Data Type:</strong> string. <strong>Example:</strong> $search=file%20restore<br /><br /><strong>$orderby (optional):</strong> order by column name (name, message, startTime, endTime, errorMessage). <strong>Data Type:</strong> string. <strong>Example:</strong> $orderby=startTime%20desc",
        "operationId": "AdvancedBackup_GetActivityLogList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.ActivityLogDto"
            },
            "examples": {
              "application/json": {
                "taskId": "00000000-0000-0000-0000-000000000000",
                "event": "Adjusting Vm Resources",
                "message": "Backup VM refresh completed for VM: VmId: 1",
                "status": "Success",
                "errorMessage": "example error",
                "snapshotDate": "2026-02-12T16:25:52.8467555Z",
                "accountId": 1,
                "isPublic": false,
                "userId": 1,
                "startTime": "2026-02-12T16:25:52.8467555Z",
                "endTime": "2026-02-12T16:25:52.8467555Z",
                "id": 1,
                "createdDate": "2026-02-12T16:25:52.8467555Z",
                "createdBy": "example user",
                "modifiedDate": null,
                "modifiedBy": null
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/agent-url": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns the Rubrik agent download URL",
        "operationId": "AdvancedBackup_GetDownloadRubrikAgentBaseUrl",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "https://example.url/"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/availablelocation": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of active locations",
        "operationId": "AdvancedBackup_GetActiveRubrikLocations",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.RubrikApplianceListDto"
              }
            },
            "examples": {
              "application/json": [{
                "id": 1,
                "name": "example Rubrik Appliance name",
                "url": "https://example.url/",
                "description": "example Rubrik Appliance discription",
                "version": "4",
                "podId": 1,
                "location": "example location",
                "locationId": 1,
                "replicationPodId": 1,
                "replicationLocationData": [{
                  "replicationLocation": "example location",
                  "replicationLocationId": 1,
                  "replicationClusterId": "00000000-0000-0000-0000-000000000000",
                  "id": 1,
                  "createdDate": "2026-02-12T16:25:52.6844464Z",
                  "createdBy": "example user",
                  "modifiedDate": null,
                  "modifiedBy": null
                }, {
                  "replicationLocation": "example location",
                  "replicationLocationId": 1,
                  "replicationClusterId": "00000000-0000-0000-0000-000000000000",
                  "id": 1,
                  "createdDate": "2026-02-12T16:25:52.6844464Z",
                  "createdBy": "example user",
                  "modifiedDate": null,
                  "modifiedBy": null
                }]
              }, {
                "id": 2,
                "name": "example Rubrik Appliance name",
                "url": "https://example.url/",
                "description": "example Rubrik Appliance discription",
                "version": "4",
                "podId": 2,
                "location": "example location",
                "locationId": 1,
                "replicationPodId": 1,
                "replicationLocationData": [{
                  "replicationLocation": "example location",
                  "replicationLocationId": 1,
                  "replicationClusterId": "00000000-0000-0000-0000-000000000000",
                  "id": 1,
                  "createdDate": "0001-01-01T00:00:00",
                  "createdBy": null,
                  "modifiedDate": null,
                  "modifiedBy": null
                }, {
                  "replicationLocation": "example location",
                  "replicationLocationId": 1,
                  "replicationClusterId": "00000000-0000-0000-0000-000000000000",
                  "id": 1,
                  "createdDate": "0001-01-01T00:00:00",
                  "createdBy": null,
                  "modifiedDate": null,
                  "modifiedBy": null
                }]
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/externalpolicies": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of policies",
        "operationId": "AdvancedBackup_GetExternalSlaDomainList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.ExternalSlaDomainDto"
              }
            },
            "examples": {
              "application/json": [{
                "rubrikSlaDomainId": 1,
                "rubrikApplianceId": 1,
                "timeunit": "Daily",
                "name": "Test VM Policy",
                "location": "example location",
                "locationId": 1,
                "slaDomainTypeId": 1,
                "slaDomainTypeName": "VM Protection",
                "frequencies": [{
                  "id": 0,
                  "frequency": 1,
                  "retention": 10,
                  "timeUnit": "Daily",
                  "createdDate": "2026-02-12T16:25:52.423189Z"
                }, {
                  "id": 0,
                  "frequency": 1,
                  "retention": 10,
                  "timeUnit": "Monthly",
                  "createdDate": "2026-02-12T16:25:52.423189Z"
                }],
                "isCustomerDefault": false
              }, {
                "rubrikSlaDomainId": 2,
                "rubrikApplianceId": 1,
                "timeunit": "Daily",
                "name": "Example policy name",
                "location": "example location",
                "locationId": 1,
                "slaDomainTypeId": 1,
                "slaDomainTypeName": "VM Protection",
                "frequencies": [{
                  "id": 0,
                  "frequency": 1,
                  "retention": 10,
                  "timeUnit": "Daily",
                  "createdDate": "2026-02-12T16:25:52.423189Z"
                }, {
                  "id": 0,
                  "frequency": 1,
                  "retention": 10,
                  "timeUnit": "Monthly",
                  "createdDate": "2026-02-12T16:25:52.423189Z"
                }],
                "isCustomerDefault": false
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/fileset/snapshot/{snapshotId}/browse": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of fileset snapshot files by snapshot id",
        "operationId": "Fileset_BrowseFilesetFiles",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "snapshotId",
          "in": "path",
          "description": "Id of the snapshot",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "limit",
          "in": "query",
          "description": "total filesets to display",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "offset",
          "in": "query",
          "description": "Offset filesets number",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "path",
          "in": "query",
          "description": "filesets path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Rubrik.Response.BrowseFilesetFilesResponseDto"
            },
            "examples": {
              "application/json": {
                "hasMore": true,
                "data": [{
                  "filename": "example file name",
                  "path": "\\example_path",
                  "lastModified": "0001-01-01T00:00:00",
                  "size": 123,
                  "fileMode": "example filemode",
                  "statusMessage": "status"
                }, {
                  "filename": "example file name",
                  "path": "\\example_path",
                  "lastModified": "0001-01-01T00:00:00",
                  "size": 123,
                  "fileMode": "example filemode",
                  "statusMessage": "status"
                }],
                "osGroup": "example OS group",
                "hostName": "example host name"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/fileset/snapshot/{snapshotId}/restore_file": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Restores fileset snapshot files by snapshot id",
        "operationId": "Fileset_RestoreFilesetFiles",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "snapshotId",
          "in": "path",
          "description": "Id of the snapshot",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "request",
          "in": "body",
          "description": "Config: config containing DestinationDir and SourceDir paths",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.RestoreFilesetRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/filesets": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Creates a new fileset",
        "operationId": "Host_CreateFileSet",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "HostName: Host name <br /><br />VmId: id of the VM<br /><br />FileSets: list of filesets",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.CreateFileSetRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/filesets/{id}": {
      "put": {
        "tags": ["Advanced Backup"],
        "summary": "Updates a fileset by id",
        "operationId": "Host_UpdateHostFileSetById",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "HostId: id of the host<br /><br />FileSetId: id of the fileset<br /><br />PolicyId: Id of the policy",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "updateRequest",
          "in": "body",
          "description": "Request",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.UpdateFileSetRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/fileset-template": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of fileset templates by page",
        "description": "<strong>Get request URI contain the following query options</strong>\r\n<br />\r\n<br />\r\n<strong>$top (required):</strong> total number of results to display. <strong>Data Type:</strong> integer. <strong>Example:</strong> $top=25<br /><br /><strong>$skip (required):</strong> skips the top number of results. <strong>Data Type:</strong> integer. <strong>Example:</strong> $skip=1<br /><br /><strong>$filter (optional):</strong> filters down results. <strong>Data Type:</strong> string. <strong>Example:</strong> $filter=status%20eq%20%27Success%27%20and%20taskCategory%20eq%20%27null%27<br /><br /><strong>$search (optional):</strong> search for specific result. <strong>Data Type:</strong> string. <strong>Example:</strong> $search=file%20restore<br /><br /><strong>$orderby (optional):</strong> order by column name (name, location, operatingSystemType, hostCount). <strong>Data Type:</strong> string. <strong>Example:</strong> $orderby=startTime%20desc",
        "operationId": "Host_GetFileSetTemplateList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.FileSetTemplateListDto"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "example fileset template name",
                "rubrikName": "example rubrik name",
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "accountId": 1,
                "isInternal": false,
                "operatingSystemType": "Linux",
                "hostCount": 1,
                "createdBy": "example user",
                "createdDate": "2026-02-12T16:25:53.1795217Z",
                "modifiedBy": null,
                "modifiedDate": "0001-01-01T00:00:00",
                "location": "example location",
                "isDeleted": false,
                "include": "/usr/example",
                "exclude": "/usr/example",
                "doNotExclude": "/usr/example",
                "userId": 0
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Creates a new fileset template",
        "operationId": "Host_CreateFileSetTemplate",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "reqDto",
          "in": "body",
          "description": "Name: fileset template Name<br /><br />\r\n            LocationId: Id of the location<br /><br />\r\n            Include: list of file paths to inclue<br /><br />\r\n            Exclude: list of file paths to exclue<br /><br />\r\n            DoNotExclude: list of file paths to never exclue<br /><br />\r\n            OperatingSystemType: type of OperatingSystem<br /><br />\r\n            Etag: etag id<br /><br />RubrikId: Guid id of Rubrik",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.FilesetTemplateRequestDetailstSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/fileset-template/{id}": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a fileset template by id",
        "operationId": "Host_GetFileSetTemplate",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Fileset template Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.FilesetTemplateResponseDetailsDto"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "example fileset template name",
                "rubrikName": "exemple rubrik name",
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "rubrikApplianceId": 1,
                "primaryClusterId": "00000000-0000-0000-0000-000000000000",
                "isInternal": false,
                "accountId": 1,
                "filesetTemplateShareType": "example fileset template share type",
                "operatingSystemType": "Linux",
                "hostCount": 2,
                "allowBackupNetworkMounts": false,
                "allowBackupHiddenFoldersInNetworkMounts": false,
                "preBackupScript": "example prebackup script",
                "postBackupScript": "example postbackup script",
                "backupScriptTimeout": 0,
                "backupScriptErrorHandling": "example backupscript error",
                "isArchived": false,
                "shareCount": 0,
                "useWindowsVss": false,
                "isDeleted": false,
                "etag": "123abcdefghijklmnop",
                "createdBy": "example user",
                "createdDate": "2026-02-12T16:25:53.2272203Z",
                "modifiedDate": null,
                "modifiedBy": null,
                "locationId": 1,
                "include": ["/usr/example"],
                "exclude": ["/usr/example"],
                "doNotExclude": ["/usr/example"]
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Advanced Backup"],
        "summary": "Deletes a fileset template by id",
        "operationId": "Host_DeleteFileSetTemplate",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "FileSet Template Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": ["Advanced Backup"],
        "summary": "Updates a fileset template by id",
        "operationId": "Host_UpdateFileSetTemplate",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Fileset template Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "reqDto",
          "in": "body",
          "description": "Name: fileset template Name<br /><br />\r\n            LocationId: Id of the location<br /><br />\r\n            Include: list of file paths to inclue<br /><br />\r\n            Exclude: list of file paths to exclue<br /><br />\r\n            DoNotExclude: list of file paths to never exclue<br /><br />\r\n            OperatingSystemType: type of OperatingSystem<br /><br />\r\n            Etag: etag id<br /><br />\r\n            RubrikId: Guid id of Rubrik",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.FilesetTemplateRequestDetailstSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/fileset-templates": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of all fileset templates",
        "operationId": "Host_GetFileSetTemplateNames",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.FileSetTemplateListDto"
              }
            },
            "examples": {
              "application/json": [{
                "id": 1,
                "name": "example fileset template name",
                "rubrikName": "example rubrik name",
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "accountId": 1,
                "isInternal": false,
                "operatingSystemType": "Linux",
                "hostCount": 0,
                "createdBy": null,
                "createdDate": "0001-01-01T00:00:00",
                "modifiedBy": null,
                "modifiedDate": "0001-01-01T00:00:00",
                "location": "example location",
                "isDeleted": false,
                "include": "/usr/example",
                "exclude": "/usr/example",
                "doNotExclude": "/usr/example",
                "userId": 0
              }, {
                "id": 2,
                "name": "example fileset template name",
                "rubrikName": "example rubrik name",
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "accountId": 1,
                "isInternal": false,
                "operatingSystemType": "Linux",
                "hostCount": 0,
                "createdBy": null,
                "createdDate": "0001-01-01T00:00:00",
                "modifiedBy": null,
                "modifiedDate": "0001-01-01T00:00:00",
                "location": "example location",
                "isDeleted": false,
                "include": "/usr/example",
                "exclude": "/usr/example",
                "doNotExclude": "/usr/example",
                "userId": 0
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/hosts": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of VMs eligible for fileset protection",
        "description": "<strong>Get request URI contain the following query options</strong>\r\n<br />\r\n<br />\r\n<strong>$top (required):</strong> total number of results to display. <strong>Data Type:</strong> integer. <strong>Example:</strong> $top=25<br /><br /><strong>$skip (required):</strong> skips the top number of results. <strong>Data Type:</strong> integer. <strong>Example:</strong> $skip=1<br /><br /><strong>$filter (optional):</strong> filters down results. <strong>Data Type:</strong> string. <strong>Example:</strong> $filter=status%20eq%20%27Success%27%20and%20taskCategory%20eq%20%27null%27<br /><br /><strong>$search (optional):</strong> search for specific result. <strong>Data Type:</strong> string. <strong>Example:</strong> $search=file%20restore<br /><br /><strong>$orderby (optional):</strong> order by column name (name, location, status). <strong>Data Type:</strong> string. <strong>Example:</strong> $orderby=startTime%20desc",
        "operationId": "Host_GetRubrikHosts",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.RubrikHostDto"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "example name",
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "agentId": "00000000-0000-0000-0000-000000000000",
                "vmId": 1,
                "vmName": "example vm name",
                "ipAddress": "197.168.1.1",
                "location": "example location",
                "osName": "example os name",
                "status": "status",
                "fileSetsCsv": "file set name",
                "policiesCsv": "policy name",
                "localStorageCsv": "local storeage name",
                "fileSets": ["example fileset"],
                "policies": [{
                  "policyId": 1,
                  "policyName": "example policy1"
                }, {
                  "policyId": 2,
                  "policyName": "example policy2"
                }],
                "totalStorage": 0,
                "applianceUrl": "\\example.url\\",
                "applianceCredentialId": "example credential Id",
                "rubrikApplianceId": 1,
                "primaryClusterId": "00000000-0000-0000-0000-000000000000",
                "osId": 1,
                "accountId": 1,
                "userId": "example user",
                "localUsageCsv": "example local useage",
                "localUsage": 0,
                "localArchiveUsage": 0,
                "replicationArchiveUsage": 0,
                "replicationUsageCsv": "replcation usage name",
                "replicationUsage": 0,
                "storageUsed": 0
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Makes a VM eligible for fileset protection by VM id",
        "operationId": "Host_AddHost",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "hostRequest",
          "in": "body",
          "description": "VmId: id of the VM",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.AddRubrikHostRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.RubrikHostDto"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "example name",
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "agentId": "00000000-0000-0000-0000-000000000000",
                "vmId": 1,
                "vmName": "example vm name",
                "ipAddress": "197.168.1.1",
                "location": "example location",
                "osName": "example os name",
                "status": "status",
                "fileSetsCsv": "file set name",
                "policiesCsv": "policy name",
                "localStorageCsv": "local storeage name",
                "fileSets": ["example fileset"],
                "policies": [{
                  "policyId": 1,
                  "policyName": "example policy1"
                }, {
                  "policyId": 2,
                  "policyName": "example policy2"
                }],
                "totalStorage": 0,
                "applianceUrl": "\\example.url\\",
                "applianceCredentialId": "example credential Id",
                "rubrikApplianceId": 1,
                "primaryClusterId": "00000000-0000-0000-0000-000000000000",
                "osId": 1,
                "accountId": 1,
                "userId": "example user",
                "localUsageCsv": "example local useage",
                "localUsage": 0,
                "localArchiveUsage": 0,
                "replicationArchiveUsage": 0,
                "replicationUsageCsv": "replcation usage name",
                "replicationUsage": 0,
                "storageUsed": 0
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/hosts/{id}": {
      "delete": {
        "tags": ["Advanced Backup"],
        "summary": "Removes a VM from fileset protection eligibility by VM id",
        "operationId": "Host_DeleteFileSetProtection",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "FileSet Template Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/hosts/{id}/filesets": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of filesets by VM id",
        "operationId": "Host_GetFilesetsByHostId",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Rubrik Host Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.FilesetsListDto"
              }
            },
            "examples": {
              "application/json": [{
                "id": 1,
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "rubrikApplianceId": 1,
                "name": "example name",
                "configuredSlaDomainId": 1,
                "effectiveSlaDomainId": 1,
                "fileSetTemplateId": 1,
                "storageUsed": 0,
                "policyId": 1,
                "policyName": "example policy name",
                "hostId": 12,
                "vmName": "example vm name",
                "include": ["/usr/example"],
                "location": "example location",
                "osFamily": "Linux",
                "localUsage": 0,
                "archiveUsage": 0,
                "replicationUsage": 0,
                "replicationArchiveUsage": 0,
                "totalStorageUsed": 0
              }, {
                "id": 1,
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "rubrikApplianceId": 1,
                "name": "example name",
                "configuredSlaDomainId": 1,
                "effectiveSlaDomainId": 1,
                "fileSetTemplateId": 1,
                "storageUsed": 0,
                "policyId": 1,
                "policyName": "example policy name",
                "hostId": 12,
                "vmName": "example vm name",
                "include": ["/usr/example"],
                "location": "example location",
                "osFamily": "Linux",
                "localUsage": 0,
                "archiveUsage": 0,
                "replicationUsage": 0,
                "replicationArchiveUsage": 0,
                "totalStorageUsed": 0
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/hosts/{id}/overview": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns fileset overview by VM id",
        "operationId": "Host_GetFilesetsOverviewByHostId",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Rubrik Host Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.RubrikHostOverviewDto"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "example fileset name",
                "vmName": "example VM name",
                "ipAddress": "192.168.1.1",
                "location": "example location",
                "osName": "CentOS 7.1",
                "status": "example status",
                "filesets": 1,
                "totalLocalUsage": 45645645645,
                "totalArchiveUsage": 2,
                "osFamily": "Linux",
                "vmId": 1,
                "totalReplicationUsage": 34543534,
                "totalReplicationArchiveUsage": 4543534,
                "storageUsed": 45684732715
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/hosts/{id}/snapshots": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of fileset snapshots by VM id for a specific time frame",
        "operationId": "Host_GetFilesetsSnapshotByHostId",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "StartDate: seleted start date in UTC<br /><br />EndDate: seleted end date in UTC",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.HostDetailsByIdRequestSample"
          }
        }, {
          "name": "id",
          "in": "path",
          "description": "Rubrik Host Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.RubrikHostSnapshotDto"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "rubrikSnapshotId": "00000000-0000-0000-0000-000000000000",
                "filesetName": "example fileset name",
                "snapshotDate": "2026-02-12T16:25:53.7993473Z",
                "filesetId": 1,
                "rubrikFilesetId": "00000000-0000-0000-0000-000000000000",
                "fileCount": 10
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/hosts/{id}/syncsnapshots": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Refresh list of fileset snapshots by VM id",
        "operationId": "Host_SyncFilesetSnapshotByHostId",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Host Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/hosts/fileset/{id}": {
      "delete": {
        "tags": ["Advanced Backup"],
        "summary": "Deletes a fileset by id",
        "operationId": "Host_RemoveFilesetById",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "FileSetId: id of the fileset<br /><br />\r\n            RubrikId: Guid id of Rubrik<br /><br />\r\n            RubrikApplianceId: id of the Rubrik Appliance<br /><br />\r\n            PreserveSnapshots: Preserve Snapshots bool",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.RemoveFilesetByIdRequestSample"
          }
        }, {
          "name": "id",
          "in": "path",
          "description": "Id of the Fileset",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Data.Domain.FileSet"
            },
            "examples": {
              "application/json": {
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "name": "example fileset name",
                "rubrikHostId": "example rurik host id",
                "configureSlaDomainId": 12,
                "effectiveSlaDomainId": 12,
                "fileSetTemplateId": 1,
                "accountId": 2,
                "rubrikApplianceId": 1,
                "localStorage": 0,
                "archiveStorage": 0,
                "hostId": 1,
                "vmName": "example vm name",
                "location": "example location",
                "osFamily": "Linux",
                "localUsage": 0,
                "replicationUsage": 0,
                "replicationArchiveUsage": 0,
                "id": 1,
                "createdDate": "2026-02-12T16:25:53.4558658Z",
                "createdBy": "example user",
                "modifiedDate": null,
                "modifiedBy": null
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/overview/historicstorageusage": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Returns Vm Historical Physical Usage datas for the given date range",
        "operationId": "Dashboard_GetAllVmHistoricalPhysicalStorageData",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.VmHistoricalUsageRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.VmHistoricalPhysicalStorageUsageDto"
              }
            },
            "examples": {
              "application/json": [{
                "createdDate": "2026-02-11T16:25:51.8655281+00:00",
                "physicalStorage": 435345345345,
                "historicalIngestedStorage": 4564564564
              }, {
                "createdDate": "2026-02-10T16:25:51.8655281+00:00",
                "physicalStorage": 434345345345,
                "historicalIngestedStorage": 4564564564
              }, {
                "createdDate": "2026-02-09T16:25:51.8655281+00:00",
                "physicalStorage": 433345345345,
                "historicalIngestedStorage": 4564564564
              }, {
                "createdDate": "2026-02-08T16:25:51.8655281+00:00",
                "physicalStorage": 435345345345,
                "historicalIngestedStorage": 4564564564
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/overview/vms": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Returns Vm Historical overview details for the given date range",
        "operationId": "Dashboard_GetAllVmsHistoricalOverview",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.GetVmsHistoricalOverviewRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.VmHistoricalOverviewDto"
              }
            },
            "examples": {
              "application/json": [{
                "vmName": "VM Name 1",
                "vmId": 1
              }, {
                "vmName": "VM Name 2",
                "vmId": 2
              }, {
                "vmName": "VM Name 3",
                "vmId": 3
              }, {
                "vmName": "VM Name 4",
                "vmId": 4
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/policies": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of policies",
        "description": "<strong>Get request URI contain the following query options</strong>\r\n<br />\r\n<br />\r\n<strong>$top (required):</strong> total number of results to display. <strong>Data Type:</strong> integer. <strong>Example:</strong> $top=25<br /><br /><strong>$skip (required):</strong> skips the top number of results. <strong>Data Type:</strong> integer. <strong>Example:</strong> $skip=1<br /><br /><strong>$filter (optional):</strong> filters down results. <strong>Data Type:</strong> string. <strong>Example:</strong> $filter=location%20eq%20%27null%27%20and%20slaDomainTypeName%20eq%20%27Fileset%20Protection%27<br /><br /><strong>$search (optional):</strong> search for specific result. <strong>Data Type:</strong> string. <strong>Example:</strong> $search=file%20restore<br /><br /><strong>$orderby (optional):</strong> order by column name (name, location, isReplicationEnabled, slaDomainTypeName, default). <strong>Data Type:</strong> string. <strong>Example:</strong> $orderby=startTime%20desc",
        "operationId": "AdvancedBackup_GetBackupPoliciesList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.AdvancedBackup.Models.PoliciesListDto%5D"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "example plan name",
                "frequencies": [{
                  "id": 0,
                  "frequency": 3,
                  "retention": 72,
                  "timeUnit": "Hourly",
                  "createdDate": "2026-02-12T16:25:51.9907771+00:00"
                }, {
                  "id": 0,
                  "frequency": 3,
                  "retention": 72,
                  "timeUnit": "Daily",
                  "createdDate": "2026-02-12T16:25:51.9907771+00:00"
                }],
                "assets": 1,
                "isInternal": false,
                "location": "example location",
                "slaDomainTypeId": 1,
                "slaDomainTypeName": "VM Protection",
                "isReplicationEnabled": false,
                "offsiteRetention": 0,
                "isActive": 1,
                "isCustomerDefault": true
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Creates a new policy",
        "operationId": "AdvancedBackup_CreateAdvancedBackupPolicies",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "requestDto",
          "in": "body",
          "description": "Name: Policy Name<br /><br />\r\n            Frequencies: List of Frequencies<br /><br />\r\n            FirstFullAllowedBackupWindows: List of Allowed Backup Windows<br /><br />\r\n            IsInternal: Is internal<br /><br />SlaDomainTypeId: Id of the Sla Doamin Type<br /><br />\r\n            IsReplicationEnabled: Allow replation<br /><br />\r\n            RetentionLimit: How long to Retain<br /><br />\r\n            IsCustomerDefault: Is account default",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.BackupPolicyRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.AdvancedBackup.Models.BackupPolicyRequestDto%5D"
            },
            "examples": {
              "application/json": {
                "accountId": 3,
                "id": 5,
                "name": "New Policy Name",
                "frequencies": [{
                  "id": 0,
                  "frequency": 3,
                  "retention": 72,
                  "timeUnit": "Hourly",
                  "createdDate": "2026-02-12T16:25:52.0881481+00:00"
                }, {
                  "id": 0,
                  "frequency": 3,
                  "retention": 72,
                  "timeUnit": "Daily",
                  "createdDate": "2026-02-12T16:25:52.0881481+00:00"
                }],
                "firstFullAllowedBackupWindows": [{
                  "startTimeAttributes": {
                    "id": 1,
                    "minutes": 0,
                    "hour": 5,
                    "dayOfWeek": 3
                  },
                  "durationInHours": 48,
                  "isFirstFullBackupWindow": true,
                  "createdDate": "2026-02-12T16:25:52.0881481+00:00"
                }],
                "allowedBackupWindows": null,
                "createdBy": "user email@armor.com",
                "locationId": 1,
                "podId": 1,
                "userId": 1,
                "isInternal": false,
                "etag": "123abcdefghijklmnop",
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "slaDomainTypeId": 444,
                "typeCode": 0,
                "isReplicationEnabled": true,
                "replicationClusterId": "00000000-0000-0000-0000-000000000000",
                "retentionLimit": 0,
                "isCustomerDefault": false
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/policies/{id}": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a policy by id",
        "operationId": "AdvancedBackup_GetBackupPolicyById",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Policy Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.BackupPolicyResponse"
            },
            "examples": {
              "application/json": {
                "name": "example policy name",
                "totalDbs": 0,
                "totalFilesets": 0,
                "totalVms": 2,
                "rubrikId": "00000000-0000-0000-0000-000000000000",
                "rubrikCloudId": null,
                "rubrikApplianceId": 1,
                "isInternal": false,
                "primaryClusterId": "00000000-0000-0000-0000-000000000000",
                "isDeleted": false,
                "etag": "123abcdefghijklmnop",
                "etagString": "example etag string",
                "isDefault": false,
                "accountId": 4211,
                "rubrikName": "example rubrik name",
                "frequencies": [{
                  "id": 0,
                  "frequency": 3,
                  "retention": 72,
                  "timeUnit": "Hourly",
                  "createdDate": "2026-02-12T16:25:52.1929848+00:00"
                }, {
                  "id": 0,
                  "frequency": 3,
                  "retention": 72,
                  "timeUnit": "Daily",
                  "createdDate": "2026-02-12T16:25:52.1929848+00:00"
                }],
                "backupWindows": [{
                  "id": 1,
                  "minutes": 0,
                  "hour": 1,
                  "dayOfWeek": 2,
                  "durationInHours": 123,
                  "isFirstFullBackupWindow": true
                }, {
                  "id": 1,
                  "minutes": 0,
                  "hour": 1,
                  "dayOfWeek": 2,
                  "durationInHours": 123,
                  "isFirstFullBackupWindow": true
                }],
                "allowedBackupWindows": null,
                "locationId": 1,
                "podId": 1,
                "userId": 0,
                "totalSlaInUse": 1,
                "slaDomainTypeId": 1,
                "slaDomainTypeName": "VM Protection",
                "typeCode": 0,
                "isAssignedToMultipleAccount": false,
                "mappedAccountId": 0,
                "isReplicationEnabled": false,
                "replicationClusterId": "00000000-0000-0000-0000-000000000000",
                "retentionLimit": 0,
                "isCustomerDefault": false,
                "id": 1,
                "createdDate": "2026-02-12T16:25:52.1929848Z",
                "createdBy": "example user",
                "modifiedDate": null,
                "modifiedBy": null
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Advanced Backup"],
        "summary": "Deletes a policy by id",
        "operationId": "AdvancedBackup_DeleteAdvancedBackupPolicies",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Policy Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": ["Advanced Backup"],
        "summary": "Updates a policy by id",
        "operationId": "AdvancedBackup_UpdateBackupPolicy",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Policy Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "reqDto",
          "in": "body",
          "description": "Name: Policy Name<br /><br />\r\n            Frequencies: lit of backup frequencies<br /><br />\r\n            FirstFullAllowedBackupWindows: list of first full allowed backup windows<br /><br />\r\n            AllowedBackupWindows: list of allowed backup windows<br /><br />LocationId: Id of the location<br /><br />\r\n            IsInternal: internal flag<br /><br />Etag: etag id<br /><br />\r\n            RubrikId: Guid id of Rubrik<br /><br />\r\n            SlaDomainTypeId: Id for the type of Sla Domain<br /><br />\r\n            IsReplicationEnabled: replication allow flag<br /><br />\r\n            ReplicationClusterId: Guid id of the Replication Cluster<br /><br />\r\n            RetentionLimit: limit of Retention count<br /><br />\r\n            IsCustomerDefault: is Customer Default bool",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.BackupPolicyRequestDtoSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/policies/default": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of default policies",
        "operationId": "AdvancedBackup_GetDefaultBackupPolicyForAccount",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.DefaultPolicyForAccountDto"
              }
            },
            "examples": {
              "application/json": [{
                "isDefaultExist": false,
                "locationId": 1,
                "location": "example location",
                "podId": 1,
                "rubrikApplianceId": 1
              }, {
                "isDefaultExist": false,
                "locationId": 2,
                "location": "example location",
                "podId": 2,
                "rubrikApplianceId": 2
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/policies/types": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of policy types",
        "operationId": "AdvancedBackup_GetSlaDomainTypes",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Data.Domain.RubrikSlaDomainType"
              }
            },
            "examples": {
              "application/json": [{
                "id": 1,
                "name": "Example Name"
              }, {
                "id": 2,
                "name": "Example Name"
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/policy/default/{locationId}": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns the default policy by location id",
        "operationId": "AdvancedBackup_GetDefaultPolicy",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "locationId",
          "in": "path",
          "description": "Id of a location",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "accountId",
          "in": "query",
          "required": false,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.DefaultPolicyDto"
            },
            "examples": {
              "application/json": {
                "policyId": 1,
                "policyName": "eample Policy name",
                "frequency": 0,
                "retention": 5,
                "timeUnit": "Hourly",
                "isDefault": true,
                "accountId": 1,
                "podId": 1,
                "location": "example location"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/unregistered-hosts": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of VMs not registered with the Rubrik agent",
        "operationId": "Host_GetUnRegisteredRubrikHosts",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.VmDetailDto"
              }
            },
            "examples": {
              "application/json": [{
                "vmId": 5,
                "vmName": "example vm name",
                "ipAddress": "197.168.1.1",
                "location": "example location",
                "osFamily": "Linux"
              }, {
                "vmId": 0,
                "vmName": "example vm name",
                "ipAddress": "197.168.1.2",
                "location": "example location",
                "osFamily": "Linux"
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/vm/{vmId}/policy": {
      "put": {
        "tags": ["Advanced Backup"],
        "summary": "Updates a policy for a protected VM by VM id",
        "operationId": "AdvancedBackup_UpdateVmPolicy",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "SlaDomainId: Id of the Sla Domain<br /><br />VmId: id of the VM",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.UpdateVmPolicyRequestSample"
          }
        }, {
          "name": "vmId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/vm/{vmId}/protected": {
      "get": {
        "tags": ["Advanced Backup"],
        "summary": "Returns VM protection overview by VM id",
        "operationId": "AdvancedBackup_GetProtectedVmById",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "vmId",
          "in": "path",
          "description": "Id of the VM",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.ProtectedVmDetailDto"
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "example vm name",
                "podId": 1,
                "location": "example location",
                "locationId": 1,
                "rubrikSlaDomainId": 1
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/vms/{id}/snapshots": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Returns a list of snapshots for a protected VM for a specific time frame",
        "operationId": "AdvancedBackup_GetVmSnapShots",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "VmId",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "snapShotRequestDto",
          "in": "body",
          "description": "StartDate: seleted start date in UTC<br /><br />EndDate: seleted end date in UTC",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.SnapshotRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.SnapShotDto"
              }
            },
            "examples": {
              "application/json": [{
                "id": 1,
                "snapshotId": "00000000-0000-0000-0000-000000000000",
                "vmName": "example Vm Name",
                "slaName": null,
                "snapshotDate": "2026-02-12T16:25:52.2707579Z",
                "snapshotExpiryDate": "9999-12-31T23:59:59.9999999",
                "isOnDemandSnapshot": true,
                "isDeleted": false,
                "slaDomainId": "example slaDomain Id",
                "isCorrupted": false
              }, {
                "id": 1,
                "snapshotId": "00000000-0000-0000-0000-000000000000",
                "vmName": "Vm example",
                "slaName": null,
                "snapshotDate": "2026-02-12T16:25:52.2707579Z",
                "snapshotExpiryDate": "9999-12-31T23:59:59.9999999",
                "isOnDemandSnapshot": true,
                "isDeleted": false,
                "slaDomainId": "example slaDomain Id",
                "isCorrupted": false
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/vms/{vmId}/cancelbackuprestore": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Cancels a VM snapshot restore by VM id",
        "operationId": "AdvancedBackup_CancelBackupRestore",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "vmId",
          "in": "path",
          "description": "Id of the VM",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "request",
          "in": "body",
          "description": "SagaId: Guid Id of the Saga<br /><br />\r\n            CustomerCommitted: Customer submited bool<br /><br />\r\n            SnapshotId: Guid Id of the snapshot<br /><br />\r\n            StatusDescription: Description of the snapshot",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.AdvancedBackup.ApiExample.Models.SnapshotRestoreActionRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/vms/{vmId}/register-agent": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Registers VM with the Rubrik agent by VM id",
        "operationId": "AdvancedBackup_RegisterAgent",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "vmId",
          "in": "path",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.RegisterAgentRequestDto"
            },
            "examples": {
              "application/json": {
                "vmId": 1,
                "accountId": 1,
                "modifiedBy": "example user"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/backup/vms/{vmId}/restoresnapshot": {
      "post": {
        "tags": ["Advanced Backup"],
        "summary": "Begin a VM snapshot restore by VM id",
        "operationId": "AdvancedBackup_ValidateRestoreVmSnapshotDetails",
[...]
