openapi: 3.2.0
info:
  title: Armor Compliance Vulnerability Scanning API
  description: 'Armor Compliance API provides endpoints for Cloud Security Posture Management (CSPM)

    and Vulnerability Scanning (VS) services.

    '
  version: 1.0.0
  contact:
    name: Armor Support
    url: https://www.armor.com/support
servers:
- url: https://compliance.api.secure-prod.services
  description: Production server
security:
- OAuth2: []
tags:
- name: Vulnerability Scanning
  description: Vulnerability scanning operations
paths:
  /vs/asset-vulnerabilities/{coreinstanceid}:
    get:
      tags:
      - Vulnerability Scanning
      summary: Get asset vulnerabilities
      operationId: getVsAssetVulnerabilities
      parameters:
      - name: coreinstanceid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Asset identifier (GUID)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetVulnerabilityDetail'
        '403':
          description: Forbidden
  /vulnerability-scan/asset-vulnerabilities/{coreinstanceid}:
    get:
      tags:
      - Vulnerability Scanning
      summary: Get asset and vulnerabilities with pagination
      operationId: getAssetVulnerabilitiesPaged
      parameters:
      - name: coreinstanceid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Asset identifier (GUID)
      - name: x-range
        in: header
        required: false
        schema:
          type: string
        description: Pagination range (e.g., entities=0-10; max=10)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetVulnerabilitiesPagedList'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetVulnerabilitiesPagedList'
        '403':
          description: Forbidden
  /vulnerability-scan/current:
    get:
      tags:
      - Vulnerability Scanning
      summary: Get list of current vulnerabilities
      operationId: getCurrentVulnerabilities
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: Filter by assetId or other criteria
      - name: x-range
        in: header
        required: false
        schema:
          type: string
        description: Pagination range
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentVulnerabilitiesSummary'
        '403':
          description: Forbidden
  /vulnerability-scan/current/{vulnerabilityReportId}:
    get:
      tags:
      - Vulnerability Scanning
      summary: Get details of a vulnerability
      operationId: getCurrentVulnerabilityDetail
      parameters:
      - name: vulnerabilityReportId
        in: path
        required: true
        schema:
          type: string
        description: Vulnerability report ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityDetail'
        '403':
          description: Forbidden
  /vulnerability-scan/{scanId}/vms:
    get:
      tags:
      - Vulnerability Scanning
      summary: List of VMs by scan report ID
      operationId: getVmsByScanId
      parameters:
      - name: scanId
        in: path
        required: true
        schema:
          type: string
        description: Scan report ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VulnerabilityByVm'
        '403':
          description: Forbidden
  /vulnerability-scan/{scanId}/vulnerabilities:
    get:
      tags:
      - Vulnerability Scanning
      summary: List of vulnerabilities by scan report ID
      operationId: getVulnerabilitiesByScanId
      parameters:
      - name: scanId
        in: path
        required: true
        schema:
          type: string
        description: Scan report ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vulnerability'
        '403':
          description: Forbidden
  /v2/vulnerability-scan/{scanId}/vulnerabilities:
    get:
      tags:
      - Vulnerability Scanning
      summary: List of vulnerabilities with affected assets count
      operationId: getVulnerabilitiesWithAssetsCount
      parameters:
      - name: scanId
        in: path
        required: true
        schema:
          type: string
        description: Scan report ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VulnerabilityWithAssetsCount'
        '403':
          description: Forbidden
  /vulnerability-scan/{scanId}/{vulnerabilityReportId}:
    get:
      tags:
      - Vulnerability Scanning
      summary: Get vulnerability detail by scan and vulnerability report ID
      operationId: getVulnerabilityDetailByScanId
      parameters:
      - name: scanId
        in: path
        required: true
        schema:
          type: string
        description: Scan report ID
      - name: vulnerabilityReportId
        in: path
        required: true
        schema:
          type: string
        description: Vulnerability report ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityDetail'
        '403':
          description: Forbidden
components:
  schemas:
    AssetVulnerability:
      type: object
      properties:
        vulnerabilityId:
          type: string
          description: Vulnerability ID
        title:
          type: string
          description: Vulnerability title
        description:
          type: string
          description: Diagnosis Information
        consequence:
          type: string
          description: Exploitation consequence
        severity:
          type: string
          enum:
          - Critical
          - High
          - Medium
          - Low
          - Informational
          description: Severity level
        cvssScore:
          type: string
          description: CVSS v2.0 Score (0-10)
        cvss3Score:
          type: string
          description: CVSS v3.0 Score (0-10)
        cveList:
          type: object
          additionalProperties: true
          description: CVE entries
        exploits:
          type: integer
          description: Number of Exploits
        discoveredDate:
          type: string
          format: date-time
          description: First found date
        port:
          type: integer
          description: Network Port
        protocol:
          type: string
          description: Protocol
        proof:
          type: string
          description: Proof of vulnerability
        solution:
          type: string
          description: Remediation solution
        published:
          type: string
          description: Publication date
        references:
          type: object
          additionalProperties: true
          description: References
    CurrentVulnerabilitiesSummary:
      type: object
      properties:
        total:
          type: integer
          description: Total count
        vulnerabilities:
          type: array
          items:
            $ref: '#/components/schemas/Vulnerability'
    Vulnerability:
      type: object
      properties:
        vulnerabilityId:
          type: string
          description: Vulnerability ID
        vulnerabilityReportId:
          type: string
          description: Vulnerability report ID
        vulnerabilityName:
          type: string
          description: Vulnerability name
        vms:
          type: array
          items:
            type: string
          description: Associated instances
        hasExploits:
          type: string
          description: Has exploits flag
        isMetasploit:
          type: string
          description: Is Metasploit flag
        severity:
          type: integer
          description: Numerical severity
        severityLevel:
          type: string
          enum:
          - Critical
          - High
          - Medium
          - Low
          - Informational
          description: Severity level
        category:
          type: array
          items:
            type: string
          description: Categories
        cvssBaseScore:
          type: string
          description: CVSS base score
        reportDate:
          type: string
          format: date-time
          description: Report date
        affectedAssetsCount:
          type: integer
          description: Affected assets count
        excludedAssetsCount:
          type: integer
          description: Excluded assets count
        excludedAssets:
          type: array
          items:
            type: string
          description: Excluded assets list
    VulnerabilityByVm:
      type: object
      properties:
        vmId:
          type: string
          description: VM ID
        vmName:
          type: string
          description: VM name
        criticalCount:
          type: integer
          description: Critical vulnerabilities count
        highCount:
          type: integer
          description: High vulnerabilities count
        mediumCount:
          type: integer
          description: Medium vulnerabilities count
        lowCount:
          type: integer
          description: Low vulnerabilities count
        informationalCount:
          type: integer
          description: Informational vulnerabilities count
    AssetVulnerabilitiesPagedList:
      type: object
      properties:
        total:
          type: integer
          description: Total count
        data:
          type: array
          items:
            $ref: '#/components/schemas/AssetVulnerability'
    AssetVulnerabilityDetail:
      type: object
      properties:
        assetId:
          type: string
          format: uuid
          description: Asset identifier
        assetName:
          type: string
          description: Asset name
        vulnerabilities:
          type: array
          items:
            $ref: '#/components/schemas/AssetVulnerability'
    VulnerabilityWithAssetsCount:
      allOf:
      - $ref: '#/components/schemas/Vulnerability'
      - type: object
        properties:
          totalAffectedAssets:
            type: integer
            description: Total affected assets count
    AssetInfo:
      type: object
      properties:
        assetId:
          type: string
          format: uuid
          description: Asset ID
        assetName:
          type: string
          description: Asset name
    VulnerabilityDetail:
      type: object
      properties:
        vulnerabilityId:
          type: string
          description: Vulnerability ID
        vulnerabilityName:
          type: string
          description: Vulnerability name
        description:
          type: string
          description: Detailed description
        severity:
          type: string
          description: Severity level
        cvssScore:
          type: string
          description: CVSS score
        cvss3Score:
          type: string
          description: CVSS v3 score
        solution:
          type: string
          description: Remediation solution
        references:
          type: object
          additionalProperties: true
          description: References
        affectedAssets:
          type: array
          items:
            $ref: '#/components/schemas/AssetInfo'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.armor.com/authorize
          tokenUrl: https://auth.armor.com/token
          scopes: {}
