{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Armor Services API"
  },
  "host": "api.armor.com",
  "schemes": ["https"],
  "paths": {
    "/core/{coreinstanceId}/security": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve anti-malware scan data for a specific host.",
        "operationId": "Trend_GetCoreInstanceTrendSecurityDetails",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "coreinstanceId",
          "in": "path",
          "description": "GUID for Agent CORE instance id",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Trend.Models.CoreInstanceTrendSecurityDetails"
              }
            },
            "examples": {
              "application/json": {
                "hostname": "WIN-3V6ETB0A47J",
                "accountId": 0,
                "providerRefId": null,
                "lastAvamScan": "2015-01-06T23:33:15.47",
                "lastCommunicationDate": "2015-01-06T23:33:15.47",
                "isAvamRealtime": true,
                "isFimRealtime": true,
                "biosUuid": "00000000-0000-0000-0000-000000000000"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/core/avam": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve list of Anti-Malware status details by host.",
        "operationId": "Trend_GetAvamScanResults",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Trend.Models.AvamGridDto"
              }
            },
            "examples": {
              "application/json": [{
                "coreInstanceId": "e261a9b9-bd32-46bd-a5cd-7205048d768b",
                "vmName": "VM Name",
                "location": null,
                "isActive": false,
                "vmProvider": "azure",
                "providerFullName": null,
                "os": "Microsoft Windows Server 2008 R2 Datacenter",
                "accountId": 0,
                "lastAgentCommunicationSeverity": 3,
                "lastScannedSeverity": 3,
                "lastAgentCommunicationData": null,
                "lastScannedData": null,
                "lastAgentCommunicationDate": "2015-03-22T19:52:08.63",
                "lastScannedDate": "2015-03-21T23:18:02.87",
                "hostId": 0,
                "overallAntiMalwareStatus": "OK",
                "createdDate": null,
                "customLocatiom": null,
                "customProvider": null,
                "avamRealTimeScan": false,
                "biosUuid": "00000000-0000-0000-0000-000000000000",
                "scanStatus": 0,
                "isAvamEnabled": true
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/avam/statistics": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve aggregate Anti-Malware status for all hosts.",
        "operationId": "Trend_GetAvamOverAllStatus",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Trend.Models.AvamVmOverAllStatus"
              }
            },
            "examples": {
              "application/json": {
                "totalOkStatus": 19,
                "totalWarningStatus": 2,
                "totalCriticalStatus": 1
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/fim": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve FIM status for all hosts.",
        "operationId": "Trend_GetFimResults",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Trend.Models.FimGridDto"
              }
            },
            "examples": {
              "application/json": [{
                "coreInstanceId": "e261a9b9-bd32-46bd-a5cd-7205048d768b",
                "vmName": "VM 1",
                "location": null,
                "ipAddress": null,
                "status": 0,
                "fimAgentStatus": "ON",
                "fimAgentVersion": null,
                "os": "Microsoft Windows Server 2008 R2 Datacenter",
                "fimLastCommunicationDate": "2015-03-22T19:52:08.63",
                "fimLastCommunicationData": null,
                "vmSeverity": 3,
                "createdDate": null,
                "vmProvider": "azure",
                "providerFullName": null,
                "customProvider": null,
                "customLocation": null,
                "fimRealTimeScan": 0,
                "biosUuid": "00000000-0000-0000-0000-000000000000",
                "isFimEnabled": true
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/fim/statistics": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve aggregate FIM status for all hosts.",
        "operationId": "Trend_GetFimOverAllStatus",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Trend.Models.FimOverAllStatusDto"
              }
            },
            "examples": {
              "application/json": {
                "totalOkStatus": 5,
                "totalWarningStatus": 0,
                "totalCriticalStatus": 0
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/manual-scan/{coreInstance}/start": {
      "post": {
        "tags": ["Security"],
        "summary": "Trigger trend manual scan start request for a server.",
        "operationId": "TrendManualScan_StartManualScan",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "coreInstance",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/manual-scan/getCurrentAndPastScan": {
      "get": {
        "tags": ["Security"],
        "summary": "Get a list of current and past malware manual scans.",
        "operationId": "TrendManualScan_GetCurrentAndPastScan",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/packages/{coreInstanceId}": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve OS patching status data for a specific VM.",
        "operationId": "Packages_GetDevicePackages",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "coreInstanceId",
          "in": "path",
          "description": "id of the Core Instance",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "301": {
            "description": "MovedPermanently",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.Patching.Models.PackageDepricatedResponse"
            },
            "examples": {
              "application/json": {
                "statusCode": 301,
                "warning": "Deprecated API"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/core/packages/status": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve OS patching status data for your VMs.",
        "operationId": "Packages_GetStatus",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "301": {
            "description": "MovedPermanently",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.Patching.Models.PackageDepricatedResponse"
            },
            "examples": {
              "application/json": {
                "statusCode": 301,
                "warning": "Deprecated API"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/core/security-dashboard/stats/overall": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve overall security status.",
        "operationId": "Trend_GetSecurityDashboardOverAllStatus",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Trend.Models.SecurityOverAllStatusDto"
              }
            },
            "examples": {
              "application/json": {
                "totalOkStatus": 4,
                "totalWarningStatus": 0,
                "totalCriticalStatus": 1
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/security-dashboard/stats/overview": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve aggregate Overall, Anti-Malware, and FIM for all hosts.",
        "operationId": "Trend_GetSecurityDashboardStatus",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Trend.Models.SecurityStatusDto"
              }
            },
            "examples": {
              "application/json": {
                "avamOkStatus": 4,
                "avamWarningStatus": 0,
                "avamCriticalStatus": 1,
                "fimOkStatus": 5,
                "fimWarningStatus": 0,
                "fimCriticalStatus": 0,
                "osPatchingOkStatus": 0,
                "osPatchingWarningStatus": 0,
                "osPatchingCriticalStatus": 0,
                "overAllOkStatus": 4,
                "overAllWarningStatus": 0,
                "overAllCriticalStatus": 1
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/core/trend-sync/{coreInstanceId}": {
      "get": {
        "tags": ["Security"],
        "summary": "Sync trend information by coreinstanceid.",
        "operationId": "Trend_GetTrendSyncDetails",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "coreInstanceId",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.Trend.Models.TrendCoreInstanceState"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/log-management": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve OS logging details by host.",
        "operationId": "VmLog_VmLogDetails",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.VmLogDetails"
              }
            },
            "examples": {
              "application/json": [{
                "coreInstanceId": "e5f680b7-df73-4a66-829a-50af5d6c21e7",
                "vmName": "Windows Test",
                "lastLogDate": "2015-10-05T15:49:15",
                "vmProvider": "complete",
                "vmProviderFullName": null,
                "os": "Microsoft Windows Server 2012 R2 Standard",
                "vmLocation": "s01",
                "logRetentionPlan": "90 days",
                "logSize": "7200388",
                "logSeverity": 4,
                "logApiUrl": "https://api.armor.com",
                "agentStatus": "Offline",
                "profileName": null,
                "id": 0
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/log-management/log-depot/activate": {
      "post": {
        "tags": ["Security"],
        "summary": "Activate log depot for the account",
        "operationId": "VmLog_ActivateLogDepot",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.LogDepotSubscription"
            }
          },
          "400": {
            "description": "Invalid Request"
          }
        },
        "deprecated": false
      }
    },
    "/log-management/log-depot/deactivate": {
      "post": {
        "tags": ["Security"],
        "summary": "Deactivate Log depot for the account",
        "operationId": "VmLog_DeactivateLogDepot",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.LogDepotSubscription"
            }
          },
          "400": {
            "description": "Invalid Request"
          }
        },
        "deprecated": false
      }
    },
    "/log-management/logretentiontypes": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve log retention types",
        "operationId": "AccountLogRetention_LogRetentionTypes",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.RetentionPlanTypesDto"
              }
            },
            "examples": {
              "application/json": [{
                "id": 40,
                "description": null,
                "isDefault": true,
                "sortOrder": 1,
                "skuBss": "AA-LOGMGMT-USAGE-30DAY",
                "title": "Armor Agent Logs",
                "subTitle": "This plan includes logs from the Armor Anywhere agent that such as OS, file logging ,vulnerability scanning,intrusion detection, malware protection, and file integrity monitoring. This plan allows you to store and search all of your logs for 30 days.",
                "imageList": [],
                "isCurrentPlan": true,
                "helpText": "Logs are stored for the duration of the retention period subscribed; this plan applies to sources other than each agent or OS which are already included in each agent. This plan is required for all log collection services when forwarding logs from any network device, application, or other non included source."
              }, {
                "id": 400,
                "description": null,
                "isDefault": false,
                "sortOrder": 2,
                "skuBss": "AA-SECURITY-ANALYTICS-LOG-RETENTION",
                "title": "13Month Extended Log Retention",
                "subTitle": "This plan allows you to store and search all of your logs for 13 months",
                "imageList": ["pci3", "hipaa"],
                "isCurrentPlan": false,
                "helpText": "Cost are only incurred for the month in which the data is transferred. Data is stored for the duration of the retention period subscribed. Applies to all source; agent, host or other."
              }, {
                "id": 30,
                "description": null,
                "isDefault": true,
                "sortOrder": 3,
                "skuBss": "AA-SECURITY-ANALYTICS-LOG-CONSUMPTION",
                "title": "Security/Analytics Consumption",
                "subTitle": "Included with your Armor Anywhere agent licenses, this plan allows you to store and search all of your logs for 30 days.",
                "imageList": [],
                "isCurrentPlan": false,
                "helpText": "Logs are stored for the duration of the retention period subscribed; this plan applies to sources other than each agent or OS which are already included in each agent. This plan is required for all log collection services when forwarding logs from any network device, application, or other non included source."
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/log-management/logsources": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve Log sources for the logged-in account.",
        "operationId": "LogSource_LogSourceDetails",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.LogSourceDetails"
              }
            },
            "examples": {
              "application/json": [{
                "providerName": "CloudTrail",
                "title": "Cloud Trail",
                "description": "AWS CloudTrail is a service that enables governance, compliance, operational auditing, and risk auditing of your AWS account. With Armor's CloudTrail integration, you can log, continuously monitor, and retain account activity related to actions across your AWS infrastructure.",
                "imageName": "CLOUD_TRAIL.IMG",
                "isConnected": true,
                "category": null,
                "configureUri": null,
                "logSourceTypeId": 0
              }, {
                "providerName": "Fortinet",
                "title": "Fortiweb WAF",
                "description": "The Fortiweb WAF integrates with Armor to provide a turnkey cloud-based web application firewall solution that leverages the power of our Spartan threat prevention and response platform to protect your web applications 24/7 from common web exploits that could affect application availability, compromise security, or consume excessive resources. Help secure your web app against OWASP Top 10 attacks.",
                "imageName": "vendors-fortiweb.svg",
                "isConnected": true,
                "category": null,
                "configureUri": null,
                "logSourceTypeId": 0
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/log-management/logsources/connector-request": {
      "post": {
        "tags": ["Security"],
        "summary": "Create/Connetor Request Publish to IMS ticket.",
        "operationId": "LogSource_RequestConnector",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "connectorRequest",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.ConnectorRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/log-management/logsources/log-insight/notification": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve log insight notification for the logged-in account",
        "operationId": "LogSource_DisplayLogInsightNotification",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Invalid Request"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Security"],
        "summary": "create/update log insight notification for the logged-in account",
        "operationId": "LogSource_UpdateLogInsightNotification",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "isMessageDismissed",
          "in": "body",
          "required": true,
          "schema": {
            "type": "boolean"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Invalid Request"
          }
        },
        "deprecated": false
      }
    },
    "/log-management/logsources/loginsight-overview": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve log insight overview for the logged-in account",
        "operationId": "LogSource_LogInsightOverview",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.LogInsightOverviewResponse"
            },
            "examples": {
              "application/json": {
                "totalLogStorage": 0.04,
                "totalLogStorageInBytes": 40000,
                "totalLogStorageUnit": "MB",
                "armorAgentLogStorage": 0,
                "armorAgentLogStorageInBytes": 0,
                "logsAndDataManagementLogStorage": 0,
                "logsAndDataManagementLogStorageInBytes": 0,
                "armorAgentLogStorageUnit": null,
                "logsAndDataManagementLogStorageUnit": null,
                "logRetentionDays": 90,
                "connectedSources": 3
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/log-management/log-storage": {
      "get": {
        "tags": ["Security"],
        "summary": "Return Log Utilization for last week",
        "operationId": "AccountLogRetention_GetLogStorageUtilized",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.AccountLogStorageUtilizedDto"
              }
            },
            "examples": {
              "application/json": [{
                "day": "2026-02-12T00:00:00Z",
                "logSize": 22222,
                "armrorAgentLogSize": 0,
                "logsAndDataManagementLogSize": 0,
                "logSizeGb": 0,
                "armrorAgentLogSizeGb": 0,
                "logsAndDataManagementLogSizeGb": 0
              }, {
                "day": "2026-02-11T00:00:00Z",
                "logSize": 3333,
                "armrorAgentLogSize": 0,
                "logsAndDataManagementLogSize": 0,
                "logSizeGb": 0,
                "armrorAgentLogSizeGb": 0,
                "logsAndDataManagementLogSizeGb": 0
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/log-management/log-storage-totals": {
      "get": {
        "tags": ["Security"],
        "summary": "Return Log Utilization for last 6 months on monthly basis with projection",
        "operationId": "AccountLogRetention_GetLogUtilizationTotals",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.AccountLogUtilizationTotals"
              }
            },
            "examples": {
              "application/json": [{
                "totalLogUsage": 114555,
                "usageDate": "0001-01-01T00:00:00",
                "totalLogUsageInGb": 0,
                "label": null
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/log-management/products/{id}": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve product lists for log management",
        "operationId": "VmLog_GetServiceTypes",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id of product to retrieve product catalog details",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.LogServiceTypeResponse"
              }
            },
            "examples": {
              "application/json": [{
                "id": 1120,
                "name": "Log Management 13-month Retention",
                "description": "Increased log retention duration to 13 months for Armor Complete",
                "planRate": 100,
                "sku": "LOG-MGMT-COMPLIANCE"
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/log-management/retentionplan": {
      "post": {
        "tags": ["Security"],
        "summary": "Upgrade/Downgrade OS logging retention plan for a host.\r\n            The initial VM created with logging set to 90 days; and can be upgraded to 13 months; or reset back.\r\n            LogRetentionType: Days90, Months13. Null or Invalid values will default to Months13.",
        "operationId": "VmLog_UpgradeLogRetentionPlan",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "retentionUpgradeRequest",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.LogManagement.Requests.RetentionUpgradeRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/log-management/update-logretentionplan": {
      "post": {
        "tags": ["Security"],
        "summary": "Update Retention Type for the logged-in Account User.",
        "operationId": "AccountLogRetention_UpgradeRetentionPlan",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "accountRetentionPlanRequest",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.LogManagement.Requests.AccountRetentionPlanRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/log-management/vms/{coreInstanceId}": {
      "get": {
        "tags": ["Security"],
        "summary": "Retrieve OS Logging details for a host.",
        "operationId": "VmLog_GetVmLogStats",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "coreInstanceId",
          "in": "path",
          "description": "GUID for agent CORE instance id",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.LogManagement.Models.VmLogDetails"
              }
            },
            "examples": {
              "application/json": {
                "coreInstanceId": "e5f680b7-df73-4a66-829a-50af5d6c21e7",
                "vmName": "Windows",
                "lastLogDate": "2015-10-05T15:49:15",
                "vmProvider": "Armor Complete",
                "vmProviderFullName": null,
                "os": "Microsoft Windows Server 2012 R2 Standard",
                "vmLocation": null,
                "logRetentionPlan": "90 days",
                "logSize": "7200388",
                "logSeverity": 4,
                "logApiUrl": "https://api.armor.com",
                "agentStatus": "Offline",
                "profileName": null,
                "id": 0
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/log-search/templatedsearch": {
      "post": {
        "tags": ["Security"],
        "summary": "Retrieve list of security log events.",
        "operationId": "LogSearch_GetLogs",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Infrastructure.LogSearch.Models.ExecuteSearchTemplateRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.LogSearch.Models.ExecuteChaosSearchTemplateResult"
              }
            },
            "examples": {
              "application/json": {
                "total": 154,
                "items": [{
                  "id": "AWTp1uZU9MdXCx948D41",
                  "description": "When scanned the File had the following attributes: Permissions: user::rw- group::r-- other::r--\\n",
                  "changeType": "created",
                  "timestamp": "2015-01-05T00:38:23+00:00",
                  "filename": "/var/log/unattended-upgrades/unattended-upgrades.log.2.gz"
                }],
                "filterOptions": {
                  "change Types": ["created", "updated", "deleted", "renamed"]
                },
                "aggregations": {
                  "lasttimestamp": {
                    "value": 1483576703000,
                    "valueAsString": null,
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/log-search/templatedsearch/deprecated": {
      "post": {
        "tags": ["Security"],
        "summary": "Deprecated Retrieve list of security log events.",
        "operationId": "LogSearch_GetLogsDeprecated",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Infrastructure.LogSearch.Models.ExecuteSearchTemplateRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.LogSearch.Models.ExecuteSearchTemplateResult"
              }
            },
            "examples": {
              "application/json": {
                "total": 154,
                "items": [{
                  "id": "AWTp1uZU9MdXCx948D41",
                  "description": "When scanned the File had the following attributes: Permissions: user::rw- group::r-- other::r--\\n",
                  "changeType": "created",
                  "timestamp": "2015-01-05T00:38:23+00:00",
                  "filename": "/var/log/unattended-upgrades/unattended-upgrades.log.2.gz"
                }],
                "filterOptions": {
                  "change Types": ["created", "updated", "deleted", "renamed"]
                },
                "aggregations": {
                  "lasttimestamp": {
                    "value": 1483576703000,
                    "valueAsString": null,
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/security-analytics/active-response": {
      "get": {
        "tags": ["ActiveResponse"],
        "operationId": "ActiveResponse_GetActiveResponse",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/security-analytics/overview": {
      "get": {
        "tags": ["Security Analytics"],
        "operationId": "SecurityAnalytics_SecurityAnalyticsOverview",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.SecurityAnalytics.Models.OverviewResponse"
            },
            "examples": {
              "application/json": {
                "timestamp": "2026-02-12T16:26:00.0951411Z",
                "overallScore": 4,
                "protectionScore": 4,
                "detectionScore": 3,
                "responseScore": 5,
                "criticalIncidentsCount": 12,
                "analyzedEventsCount": 1234,
                "vulnerabilities": {
                  "scanDate": "0001-01-01T00:00:00",
                  "criticalCount": 1,
                  "highCount": 2,
                  "mediumCount": 3,
                  "lowCount": 4,
                  "detailsUrl": "url"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request"
          }
        },
        "deprecated": false
      }
    },
    "/security-analytics/resources": {
      "get": {
        "tags": ["Security Analytics"],
        "operationId": "SecurityResource_GetSecurityResources",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.SecurityAnalytics.Models.SecurityResourceDto"
            }
          },
          "400": {
            "description": "Invalid Request"
          }
        },
        "deprecated": false
      }
    },
    "/security-incidents": {
      "get": {
        "tags": ["Security Incidents"],
        "operationId": "SecurityIncidents_GetSecurityIncidents",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.SecurityIncidents.Models.SecurityIncident%5D"
            },
            "examples": {
              "application/json": {
                "total": 3,
                "page": 1,
                "items": [{
                  "ticketNumber": "IMS-1",
                  "ticketSummary": "Test Ticket 1",
                  "ticketPriority": "1",
                  "ticketStatus": "Waiting For Support",
                  "createdDate": "2026-02-12T16:26:00.1698072+00:00",
                  "enabled": true,
                  "ticketLink": null
                }, {
                  "ticketNumber": "IMS-2",
                  "ticketSummary": "Test Ticket 2",
                  "ticketPriority": "0",
                  "ticketStatus": "Waiting For Customer Action",
                  "createdDate": "2026-02-12T16:26:00.1698072+00:00",
                  "enabled": true,
                  "ticketLink": null
                }, {
                  "ticketNumber": "IMS-3",
                  "ticketSummary": "Test Ticket 3",
                  "ticketPriority": "2",
                  "ticketStatus": "Resolved",
                  "createdDate": "2026-02-12T16:26:00.1698072+00:00",
                  "enabled": false,
                  "ticketLink": null
                }]
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/security-incidents/severity-count": {
      "get": {
        "tags": ["Security Incidents"],
        "operationId": "SecurityIncidents_GetSecurityIncidentsSeverityCount",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.SecurityIncidents.Models.OpenSecurityIncidentStats"
            },
            "examples": {
              "application/json": {
                "totalCriticalStatus": 10,
                "totalHighStatus": 10,
                "totalMediumStatus": 10,
                "totalLowStatus": 10
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/stats/security/time-series": {
      "get": {
        "tags": ["Security"],
        "operationId": "TimeSeries_GetDataPointsAsync",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "series",
          "in": "query",
          "required": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "collectionFormat": "multi"
        }, {
          "name": "startDate",
          "in": "query",
          "required": false,
          "type": "string",
          "format": "date-time"
        }, {
          "name": "endDate",
          "in": "query",
          "required": false,
          "type": "string",
          "format": "date-time"
        }, {
          "name": "useCache",
          "in": "query",
          "required": false,
          "type": "boolean"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/FireHost.Services.Http.TimeSeries.Models.TimeSeriesDataPointResponseDto"
                }
              }
            },
            "examples": {
              "application/json": {
                "time_Series_1": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 6.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 8.5
                }],
                "time_Series_2": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 7.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 9.5
                }],
                "time_Series_3": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 8.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 10.5
                }],
                "time_Series_4": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 9.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 11.5
                }],
                "time_Series_5": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 10.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 12.5
                }],
                "time_Series_6": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 11.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 13.5
                }],
                "time_Series_7": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 12.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 14.5
                }],
                "time_Series_8": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 13.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 15.5
                }],
                "time_Series_9": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 14.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 16.5
                }],
                "time_Series_10": [{
                  "t": "2017-09-01T00:00:00",
                  "v": 15.5
                }, {
                  "t": "2017-09-02T00:00:00",
                  "v": 17.5
                }]
              }
            }
          },
          "400": {
            "description": "Time Series name is null or empty"
          },
          "500": {
            "description": "Request failed due to server error"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "System.Object": {
      "type": "object",
      "properties": {}
    },
    "FireHost.Services.Http.Accounts.Models.GetUsageResponse": {
      "description": "Model for Usage Data",
      "type": "object",
      "properties": {
        "accountId": {
          "format": "int32",
          "description": "Account Id",
          "type": "integer"
        },
        "sku": {
          "description": "Sku",
          "type": "string"
        },
        "vmId": {
          "format": "int32",
          "description": "VmId",
          "type": "integer"
        },
        "quantity": {
          "format": "double",
          "description": "Quantity Used",
          "type": "number"
        },
        "usageDate": {
          "description": "Date of Usage",
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.SubscriptionResponse": {
      "type": "object",
      "properties": {
        "uniqueProductIdentifier": {
          "type": "string"
        },
        "productName": {
          "type": "string"
        },
        "productCategory": {
          "type": "string"
        },
        "quantity": {
          "format": "double",
          "type": "number"
        },
        "sku": {
          "type": "string"
        },
        "price": {
          "format": "double",
          "type": "number"
        },
        "totalPrice": {
          "format": "double",
          "type": "number"
        },
        "ticketNumber": {
          "format": "int32",
          "type": "integer"
        },
        "contractEffectiveDate": {
          "format": "date-time",
          "type": "string"
        },
        "pendingCancellation": {
          "type": "boolean"
        },
        "ticketKey": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Billing.ApiExamples.Models.CancelSubscriptionSampleRequest": {
      "type": "object",
      "properties": {
        "sku": {
          "type": "string",
          "readOnly": true
        },
        "uniqueProductIdentifier": {
          "type": "string",
          "readOnly": true
        }
      },
      "example": {
        "sku": "APP-MONITORING-PRO",
        "uniqueProductIdentifier": "e1158c05-5090-4083-a8e1-d56bed8ee4cc"
      }
    },
    "FireHost.Services.Meta.ApiExamples.Models.AddTagSampleRequest": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string",
          "readOnly": true
        }
      },
      "example": {
        "messages": "tag1"
      }
    },
    "FireHost.Services.Meta.ApiExamples.Models.DeleteTagSampleRequest": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string",
          "readOnly": true
        }
      },
      "example": {
        "messages": "tag1"
      }
    },
    "FireHost.Services.Common.Infrastructure.PagedResultSet[FireHost.Infrastructure.Accounts.Data.Persistence.ChildAccount]": {
      "type": "object",
      "properties": {
        "total": {
          "format": "int32",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Data.Persistence.ChildAccount"
          }
        }
      }
    },
    "FireHost.Infrastructure.Accounts.Data.Persistence.ChildAccount": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "deployedAgents": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Models.ChildAccounts.ChildAccountSignupRequest": {
      "description": "Request object for Child Account Signup",
      "type": "object",
      "properties": {
        "firstName": {
          "pattern": "^[a-zA-Z0-9àáâãäçèéêëìíîïñòóôõöùúûüýÿÀÁÂÃÄÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝ\\(\\)\\[\\]\\*^%$#@!:~`,.; \\-'&_+|\\\\?\\/]{1,100}$",
          "type": "string"
        },
        "lastName": {
          "pattern": "^[a-zA-Z0-9àáâãäçèéêëìíîïñòóôõöùúûüýÿÀÁÂÃÄÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝ\\(\\)\\[\\]\\*^%$#@!:~`,.; \\-'&_+|\\\\?\\/]{1,100}$",
          "type": "string"
        },
        "companyName": {
          "pattern": "^[a-zA-Z0-9àáâãäçèéêëìíîïñòóôõöùúûüýÿÀÁÂÃÄÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝ\\(\\)\\[\\]\\*^%$#@!:~`,.; \\-'&_+\\\\?\\/]{1,50}$",
          "type": "string"
        },
        "title": {
          "pattern": "^[a-zA-Z0-9àáâãäçèéêëìíîïñòóôõöùúûüýÿÀÁÂÃÄÇÈÉÊËÌÍÎÏÑÒÓÔÕÖÙÚÛÜÝ\\(\\)\\[\\]\\*^%$#@!:~`,.; \\-'&_+|\\\\?\\/]{1,160}$",
          "type": "string"
        },
        "parentAccountId": {
          "format": "int32",
          "type": "integer"
        },
        "email": {
          "type": "string"
        },
        "addressLine1": {
          "type": "string"
        },
        "addressLine2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "currency": {
          "pattern": "^(USD|GBP)$",
          "type": "string"
        },
        "relationshipEntity": {
          "pattern": "^(INC|LTD)$",
          "type": "string"
        },
        "productLine": {
          "pattern": "^(Complete|Anywhere)$",
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "channel": {
          "pattern": "^(SMB|Enterprise|Government)$",
          "type": "string"
        },
        "armorAnywhereLocation": {
          "pattern": "^(Azure|AWS|Internal IT|CoLocation|Other)$",
          "type": "string"
        },
        "armorAnywhereOtherLocation": {
          "type": "string"
        },
        "autoAcceptUserInvite": {
          "type": "boolean"
        },
        "correlationId": {
          "type": "string",
          "readOnly": true
        }
      },
      "example": {
        "firstName": "First",
        "lastName": "Last",
        "companyName": "Company Example",
        "title": "Title",
        "parentAccountId": 1234,
        "email": "example@email.com",
        "addressLine1": "Address Line 1",
        "addressLine2": "Address Line 2",
        "city": "City",
        "state": "TX",
        "postalCode": "12345",
        "country": "US",
        "currency": "USD",
        "relationshipEntity": "INC",
        "productLine": "Anywhere",
        "phone": "123-123-1234",
        "website": "https://example.com",
        "channel": "SMB",
        "armorAnywhereLocation": "Other",
        "armorAnywhereOtherLocation": "example location",
        "autoAcceptUserInvite": true,
        "correlationId": "d4244c08-efcc-4283-b197-27ebff111b88"
      }
    },
    "FireHost.Services.Common.HandleResult[System.Int32]": {
      "type": "object",
      "properties": {
        "error": {
          "type": "boolean"
        },
        "data": {
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Models.ChildAccounts.MassGrantAccessRequest": {
      "description": "Request object for Mass Access for Parent Account Users to Child Account",
      "type": "object",
      "properties": {
        "parentAccountId": {
          "format": "int32",
          "description": "Id of the parent account",
          "type": "integer"
        },
        "parentAccountRoleId": {
          "format": "int32",
          "description": "Role Id of the Parent account from which users should be added to the child account",
          "type": "integer"
        },
        "childAccountId": {
          "format": "int32",
          "description": "Child account Id to which Parent account users should be added",
          "type": "integer"
        },
        "childAccountRoleId": {
          "format": "int32",
          "description": "Child account Role Id to which the Parent account users should be added to",
          "type": "integer"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Data.Domain.AccountContacts": {
      "type": "object",
      "properties": {
        "accountExecutive": {
          "$ref": "#/definitions/FireHost.Services.Http.Accounts.Data.Domain.SalesForceUser"
        },
        "accountStrategicManager": {
          "$ref": "#/definitions/FireHost.Services.Http.Accounts.Data.Domain.SalesForceUser"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Data.Domain.SalesForceUser": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "homePhone": {
          "type": "string"
        },
        "mobilePhone": {
          "type": "string"
        },
        "street": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "zipcode": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "salesforceId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.AddUpdatePrimaryNotificationUserRequestSample": {
      "type": "object",
      "properties": {
        "userId": {
          "format": "int32",
          "type": "integer"
        },
        "notificationTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accountId": {
          "format": "int32",
          "type": "integer"
        }
      },
      "example": {
        "userId": 3,
        "notificationTypes": ["Account, Technical, Billing"],
        "accountId": 2
      }
    },
    "FireHost.Services.Infrastructure.CloudConnections.Models.CloudConnectionsSummaryDto": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "accountId": {
          "format": "int32",
          "type": "integer"
        },
        "connectorName": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        },
        "connectionType": {
          "type": "string",
          "readOnly": true
        },
        "status": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.CloudConnections.Models.Requests.ServiceParams": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/System.Object"
          }
        }
      }
    },
    "FireHost.Services.Infrastructure.CloudConnections.Models.CloudConnectionsDto": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "accountId": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        },
        "providerAccountId": {
          "type": "string"
        },
        "providerAccessResource": {
          "type": "string"
        },
        "total": {
          "format": "int64",
          "type": "integer"
        },
        "isEnabled_Beta": {
          "type": "boolean"
        },
        "isEnabled_Ec2": {
          "type": "boolean"
        },
        "isEnabled_Log": {
          "type": "boolean"
        },
        "setupStatus": {
          "type": "string"
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Infrastructure.CloudConnections.Models.ConnectionService"
          }
        }
      }
    },
    "FireHost.Services.Infrastructure.CloudConnections.Models.ConnectionService": {
      "type": "object",
      "properties": {
        "accountConnectionId": {
          "format": "int32",
          "type": "integer"
        },
        "lastSuccessfulConnectionDate": {
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "subServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Infrastructure.CloudConnections.Models.ConnectionSubServiceType"
          }
        },
        "policy": {
          "type": "string"
        },
        "imageName": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Infrastructure.CloudConnections.Models.ConnectionSubServiceType": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "subServiceName": {
          "type": "string"
        },
        "imageName": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Infrastructure.CloudConnections.Models.CloudConnectionDetailsDto": {
      "type": "object",
      "properties": {
        "armorAwsAccountId": {
          "type": "string",
          "readOnly": true
        },
        "connectionName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "externalId": {
          "type": "string"
        },
        "providerAccessResource": {
          "type": "string"
        },
        "accountConnectionId": {
          "format": "int32",
          "type": "integer"
        },
        "providerTypeName": {
          "type": "string"
        },
        "serviceTypeName": {
          "type": "string"
        },
        "awsBaseJsonPolicy": {
          "type": "string",
          "readOnly": true
        },
        "subServiceName": {
          "type": "string"
        }
      },
      "example": {
        "id": 1,
        "accountId": 0,
        "name": "AWS(Development)",
        "externalId": "01a5725d-ebd1-4a52-b444-f233ba952fca",
        "provider": "AWS",
        "providerAccountId": "345186984524",
        "total": 1,
        "isEnabled_Beta": false,
        "isEnabled_Ec2": false,
        "isEnabled_Log": false,
        "setupStatus": "Completed",
        "services": []
      }
    },
    "FireHost.Services.Infrastructure.CloudConnections.Models.ConnectionServiceTypesDto": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "subServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Infrastructure.CloudConnections.Models.ConnectionSubServiceType"
          }
        },
        "policy": {
          "type": "string"
        },
        "imageName": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Infrastructure.CloudConnections.Models.CloudConnectionStatus": {
      "type": "object",
      "properties": {
        "isEnabled": {
          "type": "boolean"
        },
        "isEc2Enabled": {
          "type": "boolean"
        },
        "isLogDepotEnabled": {
          "type": "boolean"
        },
        "isBetaEnabled": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Infrastructure.Accounts.Data.Persistence.PaymentMethod": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "accountBillingId": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "paymentMethodId": {
          "type": "string"
        },
        "paymentType": {
          "type": "string"
        },
        "achRoutingNumber": {
          "type": "string"
        },
        "achAccountMaskNumber": {
          "type": "string"
        },
        "creditCardType": {
          "type": "string"
        },
        "creditCardMaskNumber": {
          "type": "string"
        },
        "creditCardExpirationMonth": {
          "format": "int32",
          "type": "integer"
        },
        "creditCardExpirationYear": {
          "format": "int32",
          "type": "integer"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string"
        },
        "createdBy": {
          "type": "string"
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "modifiedBy": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isPrimary": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.SetDefaultPaymentMethodSampleRequest": {
      "type": "object",
      "properties": {
        "isPrimary": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "example": {
        "isPrimary": true
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.DeletePaymentMethodByIdSampleRequest": {
      "type": "object",
      "properties": {
        "modifiedBy": {
          "type": "string",
          "readOnly": true
        }
      },
      "example": {
        "modifiedBy": "Name"
      }
    },
    "FireHost.Services.Http.Accounts.Models.GetUserResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phonePrimary": {
          "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Data.Phone"
        },
        "timezone": {
          "type": "string"
        },
        "culture": {
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "lastModified": {
          "format": "date-time",
          "type": "string"
        },
        "passwordLastSet": {
          "format": "date-time",
          "type": "string"
        },
        "mustChangePassword": {
          "type": "boolean"
        },
        "lastLogin": {
          "format": "date-time",
          "type": "string"
        },
        "apiKeyCount": {
          "format": "int32",
          "description": "Gets or sets the Api Key Count",
          "type": "integer"
        },
        "isPrimaryBillingNotificationUser": {
          "type": "boolean"
        },
        "isPrimaryAccountNotificationUser": {
          "type": "boolean"
        },
        "isPrimaryTechnicalNotificationUser": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Infrastructure.Accounts.Data.Phone": {
      "type": "object",
      "properties": {
        "countryCode": {
          "format": "int32",
          "type": "integer"
        },
        "countryIsoCode": {
          "type": "string"
        },
        "number": {
          "type": "string"
        },
        "phoneExt": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.CreateAccountUserSampleRequest": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "readOnly": true
        },
        "lastName": {
          "type": "string",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "readOnly": true
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Internal.Data.Requests.Role"
          },
          "readOnly": true
        }
      },
      "example": {
        "firstName": "John",
        "lastName": "Smith",
        "email": "john.smith@armor.com",
        "roles": [{
          "id": 1
        }]
      }
    },
    "FireHost.Infrastructure.Accounts.Internal.Data.Requests.Role": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Models.CreateAccountResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FireHost.Services.Common.Infrastructure.PagedResultSet[FireHost.Infrastructure.Accounts.Data.Persistence.AccountUserSimple]": {
      "type": "object",
      "properties": {
        "total": {
          "format": "int32",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Data.Persistence.AccountUserSimple"
          }
        }
      }
    },
    "FireHost.Infrastructure.Accounts.Data.Persistence.AccountUserSimple": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "accountId": {
          "format": "int32",
          "type": "integer"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "title": {
          "type": "string"
        },
        "lastModified": {
          "format": "date-time",
          "type": "string"
        },
        "lastLoginTime": {
          "format": "date-time",
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "isEmployee": {
          "type": "boolean"
        },
        "timeZoneId": {
          "type": "string"
        },
        "culture": {
          "type": "string"
        },
        "invitationAcceptedDate": {
          "format": "date-time",
          "type": "string"
        },
        "apiKeyCount": {
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "type": "string"
        },
        "total": {
          "type": "string"
        },
        "isPrimaryBillingNotificationUser": {
          "type": "boolean"
        },
        "isPrimaryAccountNotificationUser": {
          "type": "boolean"
        },
        "isPrimaryTechnicalNotificationUser": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateUserSampleRequest": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "readOnly": true
        },
        "firstName": {
          "type": "string",
          "readOnly": true
        },
        "lastName": {
          "type": "string",
          "readOnly": true
        },
        "phonePrimary": {
          "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.SamplePhone",
          "readOnly": true
        }
      },
      "example": {
        "status": "enabled",
        "firstName": "John",
        "lastName": "Smith",
        "phonePrimary": {
          "countryCode": 1,
          "countryIsoCode": "US",
          "number": "8880000000"
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.SamplePhone": {
      "type": "object",
      "properties": {
        "countryCode": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "countryIsoCode": {
          "type": "string",
          "readOnly": true
        },
        "number": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.CreateUserNotificationPreferenceSampleRequest": {
      "type": "object",
      "properties": {
        "userId": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "accountId": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "isSelfUpdate": {
          "type": "boolean",
          "readOnly": true
        },
        "notificationPreferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.UserNotificationPreferenceSample"
          },
          "readOnly": true
        }
      },
      "example": {
        "userId": 2903,
        "accountId": 2,
        "isSelfUpdate": true,
        "notificationPreferences": [{
          "notificationTypeId": 2,
          "alert": true,
          "sms": true,
          "email": true
        }]
      }
    },
    "FireHost.Services.Common.Data.Domain.User.UserNotificationPreference": {
      "type": "object",
      "properties": {
        "notificationTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "notificationType": {
          "type": "string"
        },
        "alert": {
          "type": "boolean"
        },
        "sms": {
          "type": "boolean"
        },
        "email": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.UserNotificationPreferenceSample": {
      "type": "object",
      "properties": {
        "notificationTypeId": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "alert": {
          "type": "boolean",
          "readOnly": true
        },
        "sms": {
          "type": "boolean",
          "readOnly": true
        },
        "email": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "FireHost.Infrastructure.Accounts.Data.Persistence.UserNotificationPreferencesResponse": {
      "type": "object",
      "properties": {
        "notificationPreferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Common.Data.Domain.User.UserNotificationPreference"
          }
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateUserStatusSampleRequest": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "isEnabled": {
          "type": "boolean",
          "readOnly": true
        },
        "accountId": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "example": {
        "id": 8,
        "isEnabled": true,
        "accountId": 2
      }
    },
    "FireHost.Services.Http.Accounts.Models.UpdateUserStatusResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "format": "int32",
          "type": "integer"
        },
        "isEnabled": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.InvoiceResponse": {
      "type": "object",
      "properties": {
        "invoiceId": {
          "type": "string"
        },
        "invoiceNumber": {
          "type": "string"
        },
        "invoiceDate": {
          "format": "date-time",
          "type": "string"
        },
        "invoiceDueDate": {
          "format": "date-time",
          "type": "string"
        },
        "amount": {
          "format": "double",
          "type": "number"
        },
        "status": {
          "type": "string"
        },
        "remainingBalance": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.InvoiceSummary": {
      "type": "object",
      "properties": {
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.InvoiceSummaryLineItem"
          }
        },
        "invoiceNumber": {
          "type": "string"
        },
        "invoiceDate": {
          "format": "date-time",
          "type": "string"
        },
        "billingPeriodStartDate": {
          "format": "date-time",
          "type": "string"
        },
        "billingPeriodEndDate": {
          "format": "date-time",
          "type": "string"
        },
        "paymentStatus": {
          "type": "string"
        },
        "subTotal": {
          "format": "double",
          "type": "number"
        },
        "lineItemDiscounts": {
          "format": "double",
          "type": "number"
        },
        "accountLevelDiscounts": {
          "format": "double",
          "type": "number"
        },
        "adjustments": {
          "format": "double",
          "type": "number"
        },
        "tax": {
          "format": "double",
          "type": "number"
        },
        "invoiceTotal": {
          "format": "double",
          "type": "number"
        },
        "billTo": {
          "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.InvoiceAddress"
        },
        "soldTo": {
          "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.InvoiceAddress"
        },
        "remitTo": {
          "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.InvoiceAddress"
        },
        "poNumber": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.InvoiceSummaryLineItem": {
      "type": "object",
      "properties": {
        "productLine": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "itemTotal": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.InvoiceAddress": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "addressLine1": {
          "type": "string"
        },
        "addressLine2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "vatNumber": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.Usage.AccountUsageResponse": {
      "type": "object",
      "properties": {
        "accountId": {
          "format": "int32",
          "type": "integer"
        },
        "serviceStartDate": {
          "format": "date-time",
          "type": "string"
        },
        "serviceEndDate": {
          "format": "date-time",
          "type": "string"
        },
        "usageDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.Usage.AccountUsageItemDetails"
          }
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.Usage.AccountUsageItemDetails": {
      "type": "object",
      "properties": {
        "sku": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "quantity": {
          "format": "double",
          "type": "number"
        },
        "serviceStartDate": {
          "format": "date-time",
          "type": "string"
        },
        "serviceEndDate": {
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "productLine": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "vmId": {
          "format": "int32",
          "type": "integer"
        },
        "notes": {
          "type": "string"
        },
        "unit": {
          "type": "string"
        },
        "tier": {
          "type": "string"
        },
        "workload": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.Usage.AccountUsageDetailsResponse": {
      "type": "object",
      "properties": {
        "startDate": {
          "format": "date-time",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "type": "string"
        },
        "usageData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.Billing.Models.UsageDetails"
          }
        }
      }
    },
    "FireHost.Infrastructure.Billing.Models.UsageDetails": {
      "type": "object",
      "properties": {
        "uom": {
          "type": "string"
        },
        "quantity": {
          "format": "double",
          "type": "number"
        },
        "productName": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subHeading": {
          "type": "string"
        },
        "startDate": {
          "format": "date-time",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "FireHost.Infrastructure.Billing.Models.AccountListDto": {
      "type": "object",
      "properties": {
        "months": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accountDtos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.Billing.Models.SubAccountDto"
          }
        }
      }
    },
    "FireHost.Infrastructure.Billing.Models.SubAccountDto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "accountId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FireHost.Infrastructure.Billing.Models.AccountHourlyUsageItem": {
      "type": "object",
      "properties": {
        "accountId": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "coreUsageQty": {
          "format": "int32",
          "type": "integer"
        },
        "usageEndDate": {
          "format": "date-time",
          "type": "string"
        },
        "usageStartDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateChallengePhraseSampleRequest": {
      "type": "object",
      "properties": {
        "userId": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "challengePhrase": {
          "type": "string",
          "readOnly": true
        },
        "challengeAnswer": {
          "type": "string",
          "readOnly": true
        }
      },
      "example": {
        "userId": 0,
        "challengePhrase": "what is your mother's maiden name?",
        "challengeAnswer": "maiden"
      }
    },
    "FireHost.Services.Http.Accounts.Models.GetPermissionsResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.PermissionDto"
          }
        }
      }
    },
    "FireHost.Services.Http.Accounts.Models.PermissionDto": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "system": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.PermissionEndpoint"
          }
        },
        "description": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Models.PermissionEndpoint": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string"
        },
        "route": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Models.GetAccountRolePermissionsResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "modified": {
          "format": "date-time",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetRoleUser"
          }
        },
        "permissions": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "default": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Models.GetRoleUser": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "added": {
          "format": "date-time",
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "roleId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.CreateRoleSampleRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "permissions": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "readOnly": true
        }
      },
      "example": {
        "name": "Role 1",
        "permissions": [1, 2, 3]
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateRoleSampleRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "permissions": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "readOnly": true
        }
      },
      "example": {
        "name": "Admin",
        "permissions": [1, 2]
      }
    },
    "FireHost.Infrastructure.RBAC.Data.Domain.RoleUser": {
      "type": "object",
      "properties": {
        "roleId": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string"
        },
        "isEnabled": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Infrastructure.Billing.Data.Persistence.ProductList": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "salesforceId": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.ProductListItemModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "typeCode": {
          "type": "string"
        },
        "storagePolicyClass": {
          "type": "string"
        },
        "chargeType": {
          "type": "string"
        },
        "price": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.ProductItemLocationPrice"
          }
        },
        "priceType": {
          "type": "string"
        },
        "instanceSeries": {
          "type": "string"
        },
        "cpu": {
          "format": "int32",
          "type": "integer"
        },
        "memory": {
          "format": "int32",
          "type": "integer"
        },
        "baseDiskSize": {
          "format": "int32",
          "type": "integer"
        },
        "baseDiskTier": {
          "type": "string"
        },
        "operatingSystem": {
          "type": "string"
        },
        "tier": {
          "type": "string"
        },
        "min": {
          "format": "int32",
          "type": "integer"
        },
        "max": {
          "format": "int32",
          "type": "integer"
        },
        "increment": {
          "format": "int32",
          "type": "integer"
        },
        "billingOnly": {
          "type": "boolean"
        },
        "hasRules": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Http.Billing.Models.ProductItemLocationPrice": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "amount": {
          "format": "double",
          "type": "number"
        },
        "units": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "FireHost.Services.Meta.ApiExamples.Models.UpdateNoteSampleRequest": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "string",
          "readOnly": true
        }
      },
      "example": {
        "messages": "This is a note!"
      }
    },
    "FireHost.Services.Http.Meta.ApiExamples.Models.DeleteNoteSampleRequest": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "FireHost.Services.Http.Accounts.Models.UserAccountDto": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "currency": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "parent": {
          "format": "int32",
          "type": "integer"
        },
        "products": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "accountType": {
          "description": "Type of Account",
          "type": "string"
        },
        "isSynced": {
          "description": "To Check Whether Account Is Qualys Account",
          "type": "boolean"
        },
        "isFreeTrial": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateAccountSampleRequest": {
      "type": "object",
      "properties": {
        "addressLine1": {
          "type": "string",
          "readOnly": true
        },
        "addressLine2": {
          "type": "string",
          "readOnly": true
        },
        "city": {
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true
        },
        "postalCode": {
          "type": "string",
          "readOnly": true
        },
        "country": {
          "type": "string",
          "readOnly": true
        }
      },
      "example": {
        "addressLine1": "123 street",
        "addressLine2": "ste 500",
        "city": "City",
        "state": "TX",
        "postalCode": "75000",
        "country": "US"
      }
    },
    "FireHost.Services.Http.Accounts.Models.AccountDetail": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "accountId": {
          "type": "string"
        },
        "addressLine1": {
          "type": "string"
        },
        "addressLine2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "accountSignupType": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Models.GetRolesResponse": {
      "description": "Role Details",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "isdefault": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Common.Infrastructure.PagedResultSet[FireHost.Infrastructure.History.Models.AccountHistoryListResponseDto]": {
      "type": "object",
      "properties": {
        "total": {
          "format": "int32",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.History.Models.AccountHistoryListResponseDto"
          }
        }
      }
    },
    "FireHost.Infrastructure.History.Models.AccountHistoryListResponseDto": {
      "type": "object",
      "properties": {
        "account": {
          "type": "string"
        },
        "accountId": {
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "date": {
          "format": "date-time",
          "type": "string"
        },
        "user": {
          "type": "string"
        },
        "userId": {
          "format": "int32",
          "type": "integer"
        },
        "activity": {
          "type": "string"
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isInternal": {
          "type": "boolean"
        },
        "isArmor": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Http.Accounts.Models.Requests.UpdateAccountPrimaryBillingContactRequest": {
      "type": "object",
      "properties": {
        "userId": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "accountId": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "FireHost.Services.Rubrik.Response.BrowseFilesetFilesResponseDto": {
      "type": "object",
      "properties": {
        "hasMore": {
          "type": "boolean"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Services.Rubrik.Response.FileInfo"
          }
        },
        "osGroup": {
          "type": "string"
        },
        "hostName": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Rubrik.Response.FileInfo": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "lastModified": {
          "format": "date-time",
          "type": "string"
        },
        "size": {
          "format": "double",
          "type": "number"
        },
        "fileMode": {
          "type": "string"
        },
        "statusMessage": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.AdvancedBackup.ApiExample.Models.RestoreFilesetRequestSample": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.Config"
        }
      },
      "example": {
        "config": {
          "sourceDir": "\\example_path",
          "destinationDir": "\\example_path",
          "ignoreErrors": false
        }
      }
    },
    "FireHost.Infrastructure.AdvancedBackup.Models.Config": {
      "type": "object",
      "properties": {
        "sourceDir": {
          "type": "string"
        },
        "destinationDir": {
          "type": "string"
        },
        "ignoreErrors": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Services.Http.AdvancedBackup.ApiExample.Models.VmHistoricalUsageRequestSample": {
      "type": "object",
      "properties": {
        "startDate": {
          "format": "date-time",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "type": "string"
        },
        "vmProtectionType": {
          "format": "int32",
          "type": "integer"
        },
        "vmList": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "example": {
        "startDate": "2026-01-14T16:25:51.8723753+00:00",
        "endDate": "2026-02-12T16:25:51.8723753+00:00",
        "vmProtectionType": 0,
        "vmList": [1, 2, 3]
      }
    },
    "FireHost.Infrastructure.AdvancedBackup.Models.VmHistoricalPhysicalStorageUsageDto": {
      "type": "object",
      "properties": {
        "createdDate": {
          "format": "date-time",
          "type": "string"
        },
        "physicalStorage": {
          "format": "int64",
          "type": "integer"
        },
        "historicalIngestedStorage": {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "FireHost.Services.Http.AdvancedBackup.ApiExample.Models.GetVmsHistoricalOverviewRequestSample": {
      "type": "object",
      "properties": {
        "startDate": {
          "format": "date-time",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "type": "string"
        }
      },
      "example": {
        "startDate": "2026-01-14T16:25:51.9361054+00:00",
        "endDate": "2026-02-12T16:25:51.9361054+00:00"
      }
    },
    "FireHost.Infrastructure.AdvancedBackup.Models.VmHistoricalOverviewDto": {
      "type": "object",
      "properties": {
        "vmId": {
          "format": "int32",
          "type": "integer"
        },
        "vmName": {
          "type": "string"
        }
      }
    },
    "FireHost.Services.Common.Infrastructure.PagedResultSet[FireHost.Infrastructure.AdvancedBackup.Models.PoliciesListDto]": {
      "type": "object",
      "properties": {
        "total": {
          "format": "int32",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.PoliciesListDto"
          }
        }
      }
    },
    "FireHost.Infrastructure.AdvancedBackup.Models.PoliciesListDto": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "frequencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.Frequencies"
          }
        },
        "assets": {
          "format": "int32",
          "type": "integer"
        },
        "isInternal": {
          "type": "boolean"
        },
        "location": {
          "type": "string"
        },
        "slaDomainTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "slaDomainTypeName": {
          "type": "string"
        },
        "isReplicationEnabled": {
          "type": "boolean"
        },
        "offsiteRetention": {
          "format": "int32",
          "type": "integer"
        },
        "isActive": {
          "format": "int32",
          "type": "integer"
        },
        "isCustomerDefault": {
          "type": "boolean"
        }
      }
    },
    "FireHost.Infrastructure.AdvancedBackup.Models.Frequencies": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "frequency": {
          "format": "int32",
          "type": "integer"
        },
        "retention": {
          "format": "int32",
          "type": "integer"
        },
        "timeUnit": {
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "FireHost.Services.Http.AdvancedBackup.ApiExample.Models.BackupPolicyRequestSample": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "frequencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.Frequencies"
          }
        },
        "firstFullAllowedBackupWindows": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FireHost.Infrastructure.AdvancedBackup.Models.FirstFullAllowedBackupWindows"
          }
        },
        "isInternal": {
          "type": "boolean"
        },
        "slaDomainTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "isReplicationEnabled": {
          "type": "boolean"
        },
        "replicationClusterId": {
          "type": "string"
        },
        "retentionLimit": {
          "format": "int64",
          "type": "integer"
        },
        "isCustomerDefault": {
          "type": "boolean"
        }
      },
      "example": {
[...]
