openapi: 3.2.0
info:
  title: MDR Public TI - Customer Intelligence API
  version: 1.0.0
  description: Comprehensive API documentation for Armor's Managed Detection and Response (MDR) platform.
  contact:
    name: Armor Security Team
    url: https://armor.com
servers:
- url: https://mdr.api.secure-prod.services
  description: Production environment
- url: https://mdr.api.secure-dev.services
  description: Development environment
security:
- OAuth2BearerAuth: []
- FH-AUTH: []
tags:
- name: TI - Customer Intelligence
  description: Customer-specific threat intelligence
paths:
  /ti/customer-ti/:
    get:
      tags:
      - TI - Customer Intelligence
      summary: Get customer-specific threat intelligence
      description: 'Retrieves threat intelligence tailored to a specific customer based on their

        deployed products and vendors. Maps rules to products and queries OpenCTI for

        relevant vulnerabilities and reports.'
      operationId: getCustomerTI
      parameters:
      - name: x-account-context
        in: header
        required: true
        description: AMP Account ID for customer identification
        schema:
          type: string
        example: 12345-67890-abcde
      responses:
        '200':
          description: Successfully retrieved customer threat intelligence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTIResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    OpenCTIReport:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        published:
          type: string
          format: date-time
        report_types:
          type: array
          items:
            type: string
    ProductVendor:
      type: object
      required:
      - productName
      - productVendor
      properties:
        productName:
          type: string
        productVendor:
          type: string
    CustomerTIResponse:
      type: object
      required:
      - accountId
      - productsAndVendors
      - threatIntelligence
      properties:
        accountId:
          type: string
        customerName:
          type: string
        productsAndVendors:
          type: array
          items:
            $ref: '#/components/schemas/ProductVendor'
        threatIntelligence:
          type: object
          required:
          - vulnerabilities
          - reports
          properties:
            vulnerabilities:
              type: array
              items:
                $ref: '#/components/schemas/OpenCTIVulnerability'
            reports:
              type: array
              items:
                $ref: '#/components/schemas/OpenCTIReport'
    OpenCTIVulnerability:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        x_opencti_cvss_base_score:
          type: number
          format: float
          minimum: 0.0
          maximum: 10.0
        x_opencti_cvss_base_severity:
          type: string
          enum:
          - NONE
          - LOW
          - MEDIUM
          - HIGH
          - CRITICAL
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string
        message:
          type: string
        statusCode:
          type: integer
  securitySchemes:
    OAuth2BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: 'OAuth2 Scoped Access Token authentication. An authorization header with Bearer token

        must be included with every authenticated request.


        For authentication details, see the official documentation:

        https://kb.armor.com/kb/sso-authentication-with-postman

        '
    FH-AUTH:
      type: http
      scheme: bearer
      bearerFormat: FH-AUTH
      description: 'FH-AUTH token authentication.


        ## Authentication Flow


        1. **Authorize**: POST credentials to `/auth/authorize` to receive an authorization code

        2. **Token Exchange**: Exchange the code at `/auth/token` within 2 minutes for access tokens

        3. **API Calls**: Use the access token in the `Authorization: FH-AUTH {token}` header

        4. **Refresh**: When token expires (15 minutes), refresh via `/auth/token/reissue`


        ## Security Notes


        - Authorization codes expire in 2 minutes

        - Access tokens expire in 15 minutes

        - All endpoints require HTTPS

        - Never log or persist tokens in plain text


        Include the access token in the Authorization header:

        ```

        Authorization: FH-AUTH {access_token}

        ```

        '
