openapi: 3.2.0
info:
  version: v1
  title: Armor Services Network Services API
servers:
- url: https://api.armor.com
tags:
- name: Network Services
paths:
  /firewall/{ovdcId}/groups:
    get:
      tags:
      - Network Services
      summary: Get information about firewall groups in your account. These groups define the individual IPs, IP ranges, and/or subnets to be used as sources and destinations in firewall rules.
      operationId: Groups_GetGroups
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to retrieve rules
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Groups.GroupDto'
              example:
              - id: 1
                deviceId: 2
                name: ANY
                description: The CIDR 0.0.0.0/0 represents ANY Ip, range, or CIDR.
                type: any
                values:
                - 0.0.0.0/0
                isReadonly: false
                vcdOrgVdcId: 0
                status: 0
                retryCount: 0
                isDefaultGroupCopied: false
              - id: 2
                deviceId: 2
                name: SSL VPN (100-127-255-192--026)
                description: SSL VPN for CIDR
                type: group
                values:
                - 100.127.255.192/26
                isReadonly: true
                vcdOrgVdcId: 0
                status: 0
                retryCount: 0
                isDefaultGroupCopied: false
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Groups.GroupDto'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
      deprecated: false
    post:
      tags:
      - Network Services
      summary: Create a firewall group.
      operationId: Groups_CreateGroup
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to retrieve rules
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Groups.GroupDto'
              example:
              - id: 1
                deviceId: 2
                name: ANY
                description: The CIDR 0.0.0.0/0 represents ANY Ip, range, or CIDR.
                type: any
                values:
                - 0.0.0.0/0
                isReadonly: false
                vcdOrgVdcId: 0
                status: 0
                retryCount: 0
                isDefaultGroupCopied: false
              - id: 2
                deviceId: 2
                name: SSL VPN (100-127-255-192--026)
                description: SSL VPN for CIDR
                type: group
                values:
                - 100.127.255.192/26
                isReadonly: true
                vcdOrgVdcId: 0
                status: 0
                retryCount: 0
                isDefaultGroupCopied: false
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Groups.GroupDto'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.CreateGroupSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.CreateGroupSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.CreateGroupSampleRequest'
        description: 'deviceId: id for the device to retrieve rules<br /><br />name: Name of the firewall group<br /><br />values: Array of network addresses<br /><br />description: Description for the firewall group'
        required: true
  /firewall/{ovdcId}/groups/{id}:
    get:
      tags:
      - Network Services
      summary: Get details for a specific firewall group.
      operationId: Groups_GetGroup
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to retrieve rules
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: id for the firewall group
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Groups.GroupDto'
              example:
                id: 8
                deviceId: 2
                name: Local IP
                description: ''
                type: group
                values:
                - 192.158.1.1
                isReadonly: false
                vcdOrgVdcId: 0
                status: 0
                retryCount: 0
                isDefaultGroupCopied: false
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Groups.GroupDto'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
      - Network Services
      summary: Update details for a specific firewall group.
      operationId: Groups_UpdateGroup
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to retrieve rules
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: id for the firewall group
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Groups.GroupDto'
              example:
                id: 8
                deviceId: 2
                name: Local IP
                description: ''
                type: group
                values:
                - 192.158.1.1
                isReadonly: false
                vcdOrgVdcId: 0
                status: 0
                retryCount: 0
                isDefaultGroupCopied: false
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Groups.GroupDto'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: No Content
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateGroupByIdSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateGroupByIdSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateGroupByIdSampleRequest'
        description: 'deviceId: id for the device to retrieve rules<br /><br />id: id for the firewall group<br /><br />name: Name of the firewall group<br /><br />description: Description for the firewall group<br /><br />values: Array of network addresses'
        required: true
    delete:
      tags:
      - Network Services
      summary: Delete a firewall group.
      operationId: Groups_DeleteGroup
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to retrieve rules
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        description: id of the firewall group to delete
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Accepted
        '400':
          description: Validation Error
      deprecated: false
  /firewall/{ovdcId}/rule:
    post:
      tags:
      - Network Services
      summary: Creates an individual firewall rule for a given device.
      operationId: Firewall_CreateIndividualRule
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to create rule for
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '202':
          description: No content
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.CreateRuleSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.CreateRuleSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.CreateRuleSampleRequest'
        description: 'rule entity <br /><br />destinations:List of destination IPgroups(Should not have duplicate IPgroups in a rule)<br /><br />sources:List of source IPgroups (Should not have duplicate IPgroups in a rule) <br /><br />services: List of service groups<br /><br />action:specify either allow or block<br /><br />SortOrder: sort order of the rule.<br /><br />IsEnabled:specify whether a rule needs to be enabled or disabled (true/false)'
        required: true
  /firewall/{ovdcId}/rule/{ruleId}:
    get:
      tags:
      - Network Services
      operationId: Firewall_GetFirewallRuleById
      parameters:
      - name: ovdcId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ruleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Rules.RuleSet'
              example:
                id: 1
                deviceId: 2
                accountId: 2
                rules:
                - id: 1
                  destinations:
                  - type: any
                    id: 1
                    name: ANY
                    joinedValues: null
                    values: []
                    isReadOnly: false
                  sources:
                  - type: any
                    id: 1
                    name: ANY
                    joinedValues: null
                    values: []
                    isReadOnly: false
                  services:
                  - id: 1
                    deviceId: 2
                    location: null
                    accountId: 2
                    name: HTTP
                    description: null
                    values:
                    - port: 80
                      protocol: tcp
                      subprotocol: null
                      isConsistent: false
                    vcdOrgVdcId: 0
                    ruleId: 0
                    status: 0
                    retryCount: 0
                    isRetry: false
                    joinedValues: tcp/80, udp/21
                    concattedValues:
                    - tcp/80, udp/21
                    isReadOnly: false
                    isDefaultGroupCopied: false
                  action: allow
                  name: VMA Web Traffic
                  description: null
                  sortOrder: 1
                  isEnabled: true
                  status: 0
                  retryCount: 0
                  providerRefId: 1067
                batchId: 00000000-0000-0000-0000-000000000000
                staged: true
                lastModified: '2015-12-13T02:31:33.53'
                status: null
                vcdOrgVdcId: 0
            text/json:
              schema:
                $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Rules.RuleSet'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
      - Network Services
      summary: Update/Retry an individual firewall rule based on rule id for a given device.
      operationId: Firewall_UpdateIndividualRule
      parameters:
      - name: ovdcId
        in: path
        description: id of the device to update rules
        required: true
        schema:
          type: integer
          format: int32
      - name: ruleId
        in: path
        description: rule id for which rule needs to be updated
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '202':
          description: No content
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateIndividualRuleSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateIndividualRuleSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateIndividualRuleSampleRequest'
        description: 'rule entity with modifications<br /><br />FirewallRuleAction : Specify update to update the individual rule or retry to retry the firewall rule<br /><br />destinations:List of destination IPgroups(Should not have duplicate IPgroups in a rule)<br /><br />sources:List of source IPgroups (Should not have duplicate IPgroups in a rule)<br /><br />services: List of service groups<br /><br />action:specify either allow or block<br /><br />SortOrder: sort order of the rule.<br /><br />IsEnabled:specify whether rule is enabled or disabled'
        required: true
  /firewall/{ovdcId}/rules:
    get:
      tags:
      - Network Services
      summary: Retrieve firewall rules for a orginaztion Vdc.
      operationId: Firewall_GetRuleSet
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to retrieve rules
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Firewall.Models.Rules.RuleSet%5D'
              example:
                id: 1
                deviceId: 2
                accountId: 2
                rules:
                - id: 1
                  destinations:
                  - type: any
                    id: 1
                    name: ANY
                    joinedValues: null
                    values: []
                    isReadOnly: false
                  sources:
                  - type: any
                    id: 1
                    name: ANY
                    joinedValues: null
                    values: []
                    isReadOnly: false
                  services:
                  - id: 1
                    deviceId: 2
                    location: null
                    accountId: 2
                    name: HTTP
                    description: null
                    values:
                    - port: 80
                      protocol: tcp
                      subprotocol: null
                      isConsistent: false
                    vcdOrgVdcId: 0
                    ruleId: 0
                    status: 0
                    retryCount: 0
                    isRetry: false
                    joinedValues: tcp/80, udp/21
                    concattedValues:
                    - tcp/80, udp/21
                    isReadOnly: false
                    isDefaultGroupCopied: false
                  action: allow
                  name: VMA Web Traffic
                  description: null
                  sortOrder: 1
                  isEnabled: true
                  status: 0
                  retryCount: 0
                  providerRefId: 1067
                batchId: 00000000-0000-0000-0000-000000000000
                staged: true
                lastModified: '2015-12-13T02:31:33.53'
                status: null
                vcdOrgVdcId: 0
            text/json:
              schema:
                $ref: '#/components/schemas/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Firewall.Models.Rules.RuleSet%5D'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: Not Found
      deprecated: false
  /firewall/{ovdcId}/rules/export:
    get:
      tags:
      - Network Services
      summary: Retrieve firewall rules for a orginaztion Vdc for csv export.
      operationId: Firewall_GetFirewallRuleCsvExport
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to retrieve rules
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Firewall.Models.Rules.RuleSet%5D'
              example:
                id: 1
                deviceId: 2
                accountId: 2
                rules:
                - id: 1
                  destinations:
                  - type: any
                    id: 1
                    name: ANY
                    joinedValues: null
                    values: []
                    isReadOnly: false
                  sources:
                  - type: any
                    id: 1
                    name: ANY
                    joinedValues: null
                    values: []
                    isReadOnly: false
                  services:
                  - id: 1
                    deviceId: 2
                    location: null
                    accountId: 2
                    name: HTTP
                    description: null
                    values:
                    - port: 80
                      protocol: tcp
                      subprotocol: null
                      isConsistent: false
                    vcdOrgVdcId: 0
                    ruleId: 0
                    status: 0
                    retryCount: 0
                    isRetry: false
                    joinedValues: tcp/80, udp/21
                    concattedValues:
                    - tcp/80, udp/21
                    isReadOnly: false
                    isDefaultGroupCopied: false
                  action: allow
                  name: VMA Web Traffic
                  description: null
                  sortOrder: 1
                  isEnabled: true
                  status: 0
                  retryCount: 0
                  providerRefId: 1067
                batchId: 00000000-0000-0000-0000-000000000000
                staged: true
                lastModified: '2015-12-13T02:31:33.53'
                status: null
                vcdOrgVdcId: 0
            text/json:
              schema:
                $ref: '#/components/schemas/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Firewall.Models.Rules.RuleSet%5D'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: Not Found
      deprecated: false
  /firewall/{ovdcId}/services:
    get:
      tags:
      - Network Services
      summary: Get information about firewall services in your account. These services define the ports and protocols to be used as service groups in firewall rules, to determine the type of traffic being allowed or blocked.
      operationId: Services_GetServices
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to retrieve rules
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ''
              example:
              - id: 4
                deviceId: 2
                location: DFW01
                accountId: 0
                name: HTTP
                description: ''
                values:
                - port: 80
                  protocol: TCP
                  subprotocol: null
                  isConsistent: false
                vcdOrgVdcId: 0
                ruleId: 0
                status: 0
                retryCount: 0
                isRetry: false
                joinedValues: tcp/80,udp/21
                concattedValues:
                - tcp/80
                - udp/21
                isReadOnly: false
                isDefaultGroupCopied: false
            text/json:
              schema:
                type: array
                items:
                  $ref: ''
        '400':
          description: Bad Request
      deprecated: false
    post:
      tags:
      - Network Services
      summary: Create firewall service groups.
      description: Protocol must be entered in lower-case letters
      operationId: Services_CreateService
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to under which service needs to be created
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Services.ServiceCreatedDto'
              example:
                id: 5
                deviceId: 2
                location: DFW01
                accountId: 0
                name: TCP HTTP
                description: ''
                values:
                - port: 80
                  protocol: TCP
                  subprotocol: null
                  isConsistent: false
                vcdOrgVdcId: 0
                ruleId: 0
                status: 0
                retryCount: 0
                isRetry: false
                joinedValues: tcp/80,udp/21
                concattedValues:
                - tcp/80
                - udp/21
                isReadOnly: false
                isDefaultGroupCopied: false
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Services.ServiceCreatedDto'
        '400':
          description: Bad Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.CreateServiceSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.CreateServiceSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.CreateServiceSampleRequest'
        description: "name: Name for the service group<br /><br />\n            values: Array of ServiceValue objects<br /><br />\n            description: Description of the service group<br /><br />\n            location: Name of the location"
        required: true
  /firewall/{ovdcId}/services/{serviceGroupId}:
    get:
      tags:
      - Network Services
      summary: Get details about a specific firewall service group.
      operationId: Services_GetService
      parameters:
      - name: ovdcId
        in: path
        description: Device ID
        required: true
        schema:
          type: integer
          format: int32
      - name: serviceGroupId
        in: path
        description: Firewall Service Group ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ''
              example:
              - id: 4
                deviceId: 2
                location: DFW01
                accountId: 0
                name: HTTP
                description: null
                values:
                - port: 80
                  protocol: TCP
                  subprotocol: null
                  isConsistent: false
                vcdOrgVdcId: 0
                ruleId: 0
                status: 0
                retryCount: 0
                isRetry: false
                joinedValues: tcp/80,udp/21
                concattedValues:
                - tcp/80
                - udp/21
                isReadOnly: false
                isDefaultGroupCopied: false
            text/json:
              schema:
                type: array
                items:
                  $ref: ''
        '400':
          description: Bad Request
      deprecated: false
    put:
      tags:
      - Network Services
      summary: Update the details for a firewall service group.
      operationId: Services_UpdateService
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to update service for
        required: true
        schema:
          type: integer
          format: int32
      - name: serviceGroupId
        in: path
        description: id of the service group
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Services.ServiceUpdatedDto'
              example:
                id: 4
                deviceId: 2
                location: DFW01
                name: HTTP
                description: Use this for inbound HTTP traffic
                values:
                - port: 80
                  protocol: tcp
                  subprotocol: null
                  isConsistent: false
                vcdOrgVdcId: 0
                status: 0
                retryCount: 0
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Services.ServiceUpdatedDto'
        '400':
          description: Bad Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateServiceSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateServiceSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateServiceSampleRequest'
        description: "id: Service Group ID (not used)<br /><br />\n            deviceId: id for the device to update rules (not used)<br /><br />\n            location: Name of the location<br /><br />\n            accountId: Account ID (not used)<br /><br />\n            name: The name of the service group<br /><br />\n            description: Description of the service group<br /><br />\n            values: Array of ServiceValue objects"
        required: true
    delete:
      tags:
      - Network Services
      summary: Delete a firewall service group.
      operationId: Services_DeleteService
      parameters:
      - name: ovdcId
        in: path
        description: id for the device to delete services for
        required: true
        schema:
          type: integer
          format: int32
      - name: serviceGroupId
        in: path
        description: id of the service group
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
      deprecated: false
  /firewall/rules/{ruleId}:
    put:
      tags:
      - Network Services
      summary: Enables/Disables a firewall rule.
      operationId: Firewall_EnableDisableFirewallRule
      parameters:
      - name: ruleId
        in: path
        description: Unique firewall ruleId
        required: true
        schema:
          type: integer
          format: int32
      - name: disabled
        in: query
        description: Boolean value indicating if rule needs to be disabled or enabled as a query string parameter
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '202':
          description: no content
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: Not Found
        '500':
          description: Internal ServerError
      deprecated: false
    delete:
      tags:
      - Network Services
      summary: Deletes a firewall rule with specified ruleid.
      operationId: Firewall_DeleteRule
      parameters:
      - name: ruleId
        in: path
        description: firewall rule Id which needs to be deleted
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '202':
          description: No content
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      deprecated: false
  /firewalls:
    get:
      tags:
      - Network Services
      summary: Get information about firewall devices in your account environments.
      operationId: Firewall_GetFirewalls
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.FirewallDeviceDto'
              example:
              - id: 2
                name: DFW01-VC01
                location: DFW01
                vcdOrgVdcId: 0
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.FirewallDeviceDto'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '404':
          description: No content
      deprecated: false
  /ips:
    get:
      tags:
      - Network Services
      summary: Return a list of IP addresses allocated to the account and how they are assigned.
      operationId: Ip_GetIps
      parameters:
      - name: vcdOrgVdcId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: type
        in: query
        description: Enum of private4, public4
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: Enum of Routed, Reserved, Assigned
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Services.Ipam.Data.Domain.IpDto'
              example:
              - id: 515
                location: DFW01
                zone: DFW01-VC01
                ip: 100.64.0.9
                state: Reserved
                type: private4
                assignedTo: null
                vcdOrgVdcId: 0
                isRecovery: false
              - id: 518
                location: 'DFW01 '
                zone: DFW01-VC01
                ip: 100.64.0.10
                state: Assigned
                type: private4
                assignedTo:
                  id: 1
                  type: vm
                  name: Smoke-Test-A1
                  assignmentType: primary
                vcdOrgVdcId: 0
                isRecovery: false
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Services.Ipam.Data.Domain.IpDto'
        '400':
          description: Bad Request
      deprecated: false
    post:
      tags:
      - Network Services
      summary: Assigns an IP to a VM.
      operationId: Ip_AssignPrivateIpToVm
      responses:
        '200':
          description: The IpAddress 100.64.0.10 has been assigned to Vm Smoke-Test-A1
        '400':
          description: Bad Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.AssignPrivateIpToVmSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.AssignPrivateIpToVmSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.AssignPrivateIpToVmSampleRequest'
        description: 'vmId: The VM id to which the IP is assigned<br /><br />id: id of the IP'
        required: true
    delete:
      tags:
      - Network Services
      summary: Un-assign an IP from a virtual machine.
      operationId: Ip_UnAssignIpFromVm
      responses:
        '200':
          description: The IpAddress 100.64.0.10 has been Unassigned
        '400':
          description: Bad Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.UnAssignIpFromVmSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.UnAssignIpFromVmSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.UnAssignIpFromVmSampleRequest'
        description: 'vmId: The VM id to which the IP is assigned<br /><br />id: id of the IP'
        required: true
  /ips/publicIps/quantity/{quantity}:
    post:
      tags:
      - Network Services
      summary: Allocate more public IPs to your Account for a location.
      operationId: Ip_AssignExtDnatToAccount
      parameters:
      - name: quantity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Services.Common.Data.Domain.Nat.IpAddressModel'
              example:
              - id: 1
                ipAddress: 10.254.11.1
                subnetId: 15405
                ipStateId: 3
                location: DFW01
                type: null
                cancelOrgRequestedSagaId: null
                ipState: 3
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Services.Common.Data.Domain.Nat.IpAddressModel'
        '400':
          description: Bad Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Ipam.Data.Domain.AssignExtDnatRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Ipam.Data.Domain.AssignExtDnatRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Ipam.Data.Domain.AssignExtDnatRequest'
        description: 'quantity: Number of IPs<br /><br />locationId: id of the location from which you would like the IPs assigned'
        required: true
  /l2l:
    get:
      tags:
      - Network Services
      summary: Return a list of L2L (IPSec) tunnels.
      operationId: L2L_GetL2LList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.L2LConfigurationDto'
              example:
              - id: 4
                edgeId: 4
                edgeIp: 146.88.118.5
                location: DFW01
                zone: DFW01T01-VC03
                lastModified: '2015-01-06T22:18:19.1'
                sites:
                - id: 24
                  name: ME
                  localIp: 146.88.118.5
                  peerIp: 1.2.3.4
                  isEnabled: true
                  notes: null
                  tags: []
                tenantCidr: 100.64.0.64/26
                vcdOrgVdcId: 0
                vcdOrgId: 0
                hasGen34: false
                isNsxT: false
              - id: 1222
                edgeId: 1240
                edgeIp: 146.88.122.13
                location: PHX01
                zone: PHX01T01-VC03
                lastModified: '2015-01-06T07:01:19.693'
                sites: []
                tenantCidr: 100.64.218.0/24
                vcdOrgVdcId: 0
                vcdOrgId: 0
                hasGen34: false
                isNsxT: false
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.L2LConfigurationDto'
        '400':
          description: Bad Request
      deprecated: false
    post:
      tags:
      - Network Services
      summary: Create a new L2L tunnel.
      operationId: L2L_CreateL2L
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ''
              example:
                location: DFW01
                zone: DFW01T01-VC03
                lastModified: '2015-01-06T23:06:09.893'
                peerId: 1.2.3.4
                encryption: 3des
                enablePfs: true
                dhGroup: dh2
                localSubnets:
                - 100.64.0.64/32
                peerSubnets:
                - 10.1.1.0/24
                psk: null
                authentication: psk
                configurationId: 4
                vcdOrgVdcId: 0
                ikeVersion: null
                digestAlgorithm: null
                tunnelEncryption: null
                tunnelDigestAlgorithm: null
                tunnelDHGroup: null
                id: 24
                name: ME
                localIp: 146.88.118.5
                peerIp: 1.2.3.4
                isEnabled: true
                notes: null
                tags: []
            text/json:
              schema:
                type: array
                items:
                  $ref: ''
        '202':
          description: Accepted
        '400':
          description: Bad Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.CreateL2LSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.CreateL2LSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.CreateL2LSampleRequest'
        description: "name: Name of tunnel<br /><br />\n            psk: Pre-shared key<br /><br />\n            dhGroup: Diffie-Hellman group. (dh2 , dh5)<br /><br />\n            isEnabled: Flag to enable or disable<br /><br />\n            enablePfs: Enable perfect forward secrecy<br /><br />\n            localSubnets: Local subnets to tunnel<br /><br />\n            peerSubnets: Peer subnets to tunnel<br /><br />\n            authentication: Type of authentication (psk)<br /><br />\n            encryption: Type of encryption to use (aes256,aes128,3des)<br /><br />\n            localIp: Local Peer IP address<br /><br />\n            peerId: Remote peer address<br /><br />"
        required: true
  /l2l/{id}:
    get:
      tags:
      - Network Services
      summary: Get L2L tunnel by id.
      operationId: L2L_GetL2L
      parameters:
      - name: id
        in: path
        description: id for the l2l tunnel
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ''
              example:
                location: DFW01
                zone: DFW01T01-VC03
                lastModified: '0001-01-01T00:00:00'
                peerId: 1.2.3.4
                encryption: 3des
                enablePfs: true
                dhGroup: dh2
                localSubnets:
                - 100.64.0.64/32
                peerSubnets:
                - 10.1.1.0/24
                psk: e$KIG%&5k7K0S%rx
                authentication: psk
                configurationId: 4
                vcdOrgVdcId: 0
                ikeVersion: null
                digestAlgorithm: null
                tunnelEncryption: null
                tunnelDigestAlgorithm: null
                tunnelDHGroup: null
                id: 24
                name: ME
                localIp: 146.88.118.5
                peerIp: 1.2.3.4
                isEnabled: true
                notes: null
                tags: []
            text/json:
              schema:
                type: array
                items:
                  $ref: ''
        '400':
          description: Bad Request
      deprecated: false
    delete:
      tags:
      - Network Services
      summary: Delete a specific L2L tunnel.
      operationId: L2L_DeleteL2L
      parameters:
      - name: id
        in: path
        description: id for the l2l tunnel
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.L2LSiteDto'
              example:
                location: DFW01
                zone: DFW01T01-VC03
                lastModified: '2015-01-06T23:06:09.893'
                peerId: 1.2.3.4
                encryption: 3des
                enablePfs: true
                dhGroup: dh2
                localSubnets:
                - 100.64.0.64/32
                peerSubnets:
                - 10.1.1.0/24
                psk: null
                authentication: psk
                configurationId: 4
                vcdOrgVdcId: 0
                ikeVersion: null
                digestAlgorithm: null
                tunnelEncryption: null
                tunnelDigestAlgorithm: null
                tunnelDHGroup: null
                id: 24
                name: ME
                localIp: 146.88.118.5
                peerIp: 1.2.3.4
                isEnabled: true
                notes: null
                tags: []
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.L2LSiteDto'
        '400':
          description: Bad Request
      deprecated: false
  /l2l/{id}/esglimit/check:
    get:
      tags:
      - Network Services
      operationId: L2L_CheckEsgLimit
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
  /nats:
    get:
      tags:
      - Network Services
      summary: Retrieve a list of NATs that are associated to your account.
      operationId: Nat_GetNatRules
      parameters:
      - name: locationName
        in: query
        description: The datacenter
        required: false
        schema:
          type: string
      - name: zone
        in: query
        description: The zone in the datacenter
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: The type of nat
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Services.Common.Events.Compute.Environment.Catalogs.NatRuleRefactoredDto'
              example:
                location: dfw01
                zone: dfw01 - vc01
                destinationIpId: 120
                type: dnat
                sourceIpIds:
                - 121
                - 134
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Services.Common.Events.Compute.Environment.Catalogs.NatRuleRefactoredDto'
        '400':
          description: Bad Request
      deprecated: false
    put:
      tags:
      - Network Services
      summary: Add/Delete NATs associated to a virtual machine.
      operationId: Nat_UpdateNatRule
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ''
              example:
                vmId: 2
                translatedIp: 100.10.10.1
                originalIps:
                - 192.158.1.1
                id: 1
            text/json:
              schema:
                type: array
                items:
                  $ref: ''
        '400':
          description: Invalid Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.UpdateNatSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.UpdateNatSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.UpdateNatSampleRequest'
        description: "VmId: id for the virtual machine that owns the TranslatedIp<br /><br />\n            TranslatedIp: The private IP address of the virtual machine<br /><br />\n            OriginalIps: An array of public IP addresses to remove<br /><br />\n            VcdOrgVdcId: id of the Virtual Datacenter"
        required: true
    post:
      tags:
      - Network Services
      summary: Create NATs associated to a virtual machine.
      operationId: Nat_AddNatRule
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ''
              example:
                url: null
                locationName: null
                action: null
                vmId: 2
                translatedIp: 100.10.10.1
                originalIps:
                - 192.158.1.1
                id: 1
                vnic: 0
            text/json:
              schema:
                type: array
                items:
                  $ref: ''
        '400':
          description: Invalid Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.NatSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.NatSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.NatSampleRequest'
        description: "VmId: id for the virtual machine that owns the TranslatedIp<br /><br />\n            TranslatedIp: The private IP address of the virtual machine<br /><br />\n            OriginalIps: An array of public IP addresses to remove<br /><br />\n            Id: id of the Edge Gateway"
        required: true
    delete:
      tags:
      - Network Services
      summary: Delete NATs associated to a virtual machine.
      operationId: Nat_DeleteNatRule
      responses:
        '200':
          description: Accepted
        '400':
          description: Invalid Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.NatSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.NatSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.NatSampleRequest'
        description: "VmId: id for the virtual machine that owns the TranslatedIp<br /><br />\n            TranslatedIp: The private IP address of the virtual machine<br /><br />\n            OriginalIps: An array of public IP addresses to remove<br /><br />\n            id: id of the Edge Gateway"
        required: true
  /nats/vm/{vmId}:
    get:
      tags:
      - Network Services
      summary: Retrieve a list of NATs that are associated to a virtual machine.
      operationId: Nat_GetNatRulesByVmId
      parameters:
      - name: vmId
        in: path
        description: id of the virtual machine
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Services.Common.Events.Compute.Environment.Catalogs.VmNatRuleDto'
              example:
                vmIp: 10.10.10.10
                publicIps: []
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Services.Common.Events.Compute.Environment.Catalogs.VmNatRuleDto'
        '400':
          description: Bad Request
      deprecated: false
  /ssl-certificates:
    get:
      tags:
      - Network Services
      summary: Returns a list of users with their SSL VPN access to various environments.
      operationId: SslCertificates_GetSslCertificates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Network.Models.SslCertificateDto%5D'
              example:
                total: 3
                page: 0
                items:
                - id: 0
                  cname: ssl1
                  sku: null
                  certificateType: null
                  orderDate: '2025-12-14T16:25:57.3824929Z'
                  expiryDate: '2026-03-14T16:25:57.3824929Z'
                  uniqueProductIdentifier: null
                  accountId: 2
                  accountName: test
                  tickets: null
                  status: null
                - id: 0
                  cname: ssl1
                  sku: null
                  certificateType: null
                  orderDate: '2025-11-14T16:25:57.3824929Z'
                  expiryDate: '2026-03-24T16:25:57.3824929Z'
                  uniqueProductIdentifier: null
                  accountId: 4
                  accountName: test5
                  tickets: null
                  status: null
                - id: 0
                  cname: ssl3
                  sku: null
                  certificateType: null
                  orderDate: '2026-01-03T16:25:57.3824929Z'
                  expiryDate: '2026-02-22T16:25:57.3824929Z'
                  uniqueProductIdentifier: null
                  accountId: 1
                  accountName: test1
                  tickets: null
                  status: null
            text/json:
              schema:
                $ref: '#/components/schemas/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Network.Models.SslCertificateDto%5D'
        '400':
          description: Bad Request
      deprecated: false
  /ssl-certificates/{id}:
    put:
      tags:
      - Network Services
      summary: Update SSL-Certificate
      operationId: SslCertificates_UpdateSslCertificate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslCertificateDto'
              example:
                id: 0
                cname: ssl1
                sku: null
                certificateType: null
                orderDate: '2025-12-14T16:25:57.4249572Z'
                expiryDate: '2026-03-14T16:25:57.4249572Z'
                uniqueProductIdentifier: null
                accountId: 2
                accountName: test
                tickets: null
                status: null
            text/json:
              schema:
                $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslCertificateDto'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '500':
          description: Internal Server Error
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.UpdateSslCertificateRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.UpdateSslCertificateRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.UpdateSslCertificateRequestDto'
        required: true
    delete:
      tags:
      - Network Services
      summary: Cancel SSL-Certificate
      operationId: SslCertificates_CancelSslCertificate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslCertificateDto'
              example:
                id: 0
                cname: ssl1
                sku: null
                certificateType: null
                orderDate: '2025-12-14T16:25:57.4406429Z'
                expiryDate: '2026-03-14T16:25:57.4406429Z'
                uniqueProductIdentifier: null
                accountId: 2
                accountName: test
                tickets: null
                status: null
            text/json:
              schema:
                $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslCertificateDto'
        '400':
          description: Bad Request
        '403':
          description: Permission Denied
        '500':
          description: Internal Server Error
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.CancelSslCertificateRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.CancelSslCertificateRequestDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.CancelSslCertificateRequestDto'
        required: true
  /sslvpn:
    get:
      tags:
      - Network Services
      summary: Returns a list of users with their SSL VPN access to various environments.
      operationId: SslVpn_GetSslVpnList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslVpnUserDto'
              example:
              - id: 3
                location: DFW01
                zone: dfw01-vc01
                users:
                - id: 5
                  firstName: Test
                  lastName: Account
                  email: user@example.com
                  isSslVpnEnabled: true
                vcdOrgVdcId: 0
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslVpnUserDto'
        '400':
          description: Bad Request
      deprecated: false
  /sslvpn/client-config:
    get:
      tags:
      - Network Services
      operationId: SslVpn_GetSslVpnConfigDetails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslVpnConfigDetail'
              example:
                sslVpnConnectionDetails:
                - location: null
                  host: 192-168-002-125.test.testdomain.co
                  port: 0
                sslVpnClientVersions:
                - osName: Linux
                  version: 6.42.0.64
                  clientDownloadUrl: https://test.com/sslvpn/linux_client_6_4_6400.tgz
            text/json:
              schema:
                $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslVpnConfigDetail'
        '400':
          description: Bad Request
      deprecated: false
  /sslvpn/enable:
    post:
      tags:
      - Network Services
      summary: Enable a user for SSL VPN access to one or more environments.
      operationId: SslVpn_EnableSslVpn
      responses:
        '200':
          description: ''
        '202':
          description: Accepted
        '400':
          description: Bad Request
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.EnableSslVpnSampleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.EnableSslVpnSampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.EnableSslVpnSampleRequest'
        description: "userId: id of user to enable or disable<br /><br />\n            locations: Collection of Zones on which to enable userId<br /><br />\n            enable: Enable or Disable user in locations bool required"
        required: true
  /sslvpn/members:
    get:
      tags:
      - Network Services
      summary: Returns a list of users with their SSL VPN access to various environments.
      operationId: SslVpn_GetSslVpnMembers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslVpnMemberDto'
              example:
              - id: 3
                location: DFW01
                zone: dfw01-vc01
                users:
                - id: 5
                  firstName: Test
                  lastName: Account
                  email: user@example.com
                  isSslVpnEnabled: true
                vcdOrgVdcId: 0
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslVpnMemberDto'
        '400':
          description: Bad Request
      deprecated: false
components:
  schemas:
    FireHost.Infrastructure.Network.Models.L2LConfigurationDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        edgeId:
          format: int32
          type: integer
        edgeIp:
          type: string
        location:
          type: string
        zone:
          type: string
        lastModified:
          format: date-time
          type: string
        sites:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.L2LSiteDto'
        tenantCidr:
          type: string
        vcdOrgVdcId:
          format: int32
          type: integer
        vcdOrgId:
          format: int32
          type: integer
        hasGen34:
          type: boolean
        isNsxT:
          type: boolean
    FireHost.Services.Http.Network.ApiExamples.Models.NatSampleRequest:
      type: object
      properties:
        vmId:
          format: int32
          type: integer
          readOnly: true
        translatedIp:
          type: string
          readOnly: true
        originalIps:
          type: array
          items:
            type: string
          readOnly: true
        id:
          format: int32
          type: integer
          readOnly: true
      example:
        vmId: 2
        translatedIp: 100.10.10.1
        originalIps:
        - 192.158.1.1
        id: 1
    FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateServiceSampleRequest:
      type: object
      properties:
        id:
          format: int32
          type: integer
          readOnly: true
        deviceId:
          format: int32
          type: integer
          readOnly: true
        location:
          type: string
          readOnly: true
        accountId:
          format: int32
          type: integer
          readOnly: true
        name:
          type: string
          readOnly: true
        description:
          type: string
          readOnly: true
        values:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Services.ServiceValueDto'
          readOnly: true
      example:
        id: 4
        deviceId: 2
        location: DFW01
        accountId: 0
        name: HTTP
        description: Use this for inbound HTTP traffic
        values:
        - port: 80
          protocol: tcp
          isConsistent: false
    FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateIndividualRuleSampleRequest:
      type: object
      properties:
        id:
          format: int32
          type: integer
        deviceId:
          format: int32
          type: integer
        rule:
          $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.SampleFirewallRule'
      example:
        id: 2
        deviceId: 3
        rule:
          id: 0
          sources:
          - id: 5
            deviceId: 3
            name: Source 1
            type: group
            ipGroups: 192.168.10.10
            isReadonly: false
            vcdOrgVdcId: 0
            status: 5
            retryCount: 0
            joinedValues: 192.168.10.10
            values:
            - 192.168.10.10
          destinations:
          - id: 3
            deviceId: 3
            name: Destination 1
            type: group
            ipGroups: 192.168.10.12
            isReadonly: false
            vcdOrgVdcId: 0
            status: 5
            retryCount: 0
            joinedValues: 192.168.10.12
            values:
            - 192.168.10.12
          services:
          - id: 2
            deviceId: 3
            location: vsite-a
            accountId: 2
            name: Service 2
            values:
            - port: 8888
              protocol: tcp
              isConsistent: false
            - port: 21
              protocol: udp
              isConsistent: false
          action: allow
          name: Test Rule edited
          sortOrder: 12
          isEnabled: true
          providerRefId: 1069
          readonly: false
          status: 4
          firewallRuleAction: 2
    FireHost.Infrastructure.Firewall.Models.Rules.RuleMember:
      type: object
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
        type:
          type: string
          readOnly: true
        joinedValues:
          type: string
        values:
          type: array
          items:
            type: string
          readOnly: true
        isReadOnly:
          type: boolean
    FireHost.Services.Ipam.Data.Domain.IpDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        location:
          type: string
        zone:
          type: string
        ip:
          type: string
        state:
          type: string
        type:
          type: string
        assignedTo:
          $ref: '#/components/schemas/FireHost.Services.Ipam.Data.Domain.AssignedToDto'
        vcdOrgVdcId:
          format: int32
          type: integer
        isRecovery:
          type: boolean
    FireHost.Infrastructure.Network.Models.SslVpnUserDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        isSslVpnEnabled:
          type: boolean
    FireHost.Services.Common.Data.Domain.Nat.IpAddressModel:
      type: object
      properties:
        id:
          format: int32
          type: integer
        ipAddress:
          type: string
        subnetId:
          format: int32
          type: integer
        ipStateId:
          format: int32
          type: integer
        location:
          type: string
        type:
          type: string
        cancelOrgRequestedSagaId:
          type: string
        ipState:
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          type: integer
          readOnly: true
    FireHost.Infrastructure.Firewall.Models.FirewallDeviceDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
        location:
          type: string
        vcdOrgVdcId:
          format: int32
          type: integer
    FireHost.Services.Common.Events.Compute.Environment.Catalogs.NatRuleRefactoredDto:
      type: object
      properties:
        location:
          type: string
        zone:
          type: string
        destinationIpId:
          format: int32
          type: integer
        type:
          type: string
        sourceIpIds:
          type: array
          items:
            format: int32
            type: integer
          readOnly: true
    FireHost.Services.Http.Network.ApiExamples.Models.AssignPrivateIpToVmSampleRequest:
      type: object
      properties:
        vmId:
          format: int32
          type: integer
          readOnly: true
        id:
          format: int32
          type: integer
          readOnly: true
      example:
        vmId: 1
        id: 518
    FireHost.Infrastructure.Firewall.Models.Services.ServiceCreatedDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        location:
          type: string
        deviceId:
          format: int32
          type: integer
        name:
          type: string
        description:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Services.ServiceValueDto'
        vcdOrgVdcId:
          format: int32
          type: integer
    FireHost.Infrastructure.Firewall.Models.Groups.GroupDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        deviceId:
          format: int32
          type: integer
        name:
          type: string
        description:
          type: string
        type:
          type: string
          readOnly: true
        values:
          type: array
          items:
            type: string
        isReadonly:
          type: boolean
        vcdOrgVdcId:
          format: int32
          type: integer
        status:
          format: int32
          type: integer
        retryCount:
          format: int32
          type: integer
        isDefaultGroupCopied:
          type: boolean
    FireHost.Infrastructure.Network.Models.SslVpnClientVersion:
      type: object
      properties:
        osName:
          type: string
        version:
          type: string
        clientDownloadUrl:
          type: string
    System.Object:
      type: object
      properties: {}
    FireHost.Infrastructure.Network.Models.L2LSiteDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
        localIp:
          type: string
        peerIp:
          type: string
        isEnabled:
          type: boolean
        notes:
          type: string
        tags:
          type: array
          items:
            type: string
          readOnly: true
    FireHost.Services.Http.Network.ApiExamples.Models.EnableSslVpnSampleRequest:
      type: object
      properties:
        userId:
          format: int32
          type: integer
          readOnly: true
        locations:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Services.Http.Network.ApiExamples.Models.SampleLocation'
          readOnly: true
        enable:
          type: boolean
          readOnly: true
      example:
        userId: 3
        locations:
        - zone: dfw01-vc01
        enable: true
    FireHost.Services.Http.Network.ApiExamples.Models.UnAssignIpFromVmSampleRequest:
      type: object
      properties:
        vmId:
          format: int32
          type: integer
          readOnly: true
        id:
          format: int32
          type: integer
          readOnly: true
      example:
        vmId: 1
        id: 518
    FireHost.Services.Http.Firewall.ApiExamples.Models.CreateServiceSampleRequest:
      type: object
      properties:
        deviceId:
          format: int32
          type: integer
          readOnly: true
        location:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        description:
          type: string
          readOnly: true
        values:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Services.ServiceValueDto'
          readOnly: true
      example:
        deviceId: 2
        location: DFW01
        name: TCP HTTP
        description: ''
        values:
        - port: 80
          protocol: tcp
          isConsistent: false
    FireHost.Services.Http.Network.ApiExamples.Models.SampleLocation:
      type: object
      properties:
        zone:
          type: string
          readOnly: true
    FireHost.Infrastructure.Network.Models.UpdateSslCertificateRequestDto:
      type: object
      properties:
        accountId:
          format: int32
          type: integer
        id:
          format: int32
          type: integer
        cname:
          type: string
        expiry:
          format: date-time
          type: string
        status:
          type: string
        ticket:
          type: string
    FireHost.Services.Ipam.Data.Domain.AssignedToDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        type:
          type: string
        name:
          type: string
        assignmentType:
          type: string
    FireHost.Services.Http.Firewall.ApiExamples.Models.UpdateGroupByIdSampleRequest:
      type: object
      properties:
        deviceId:
          format: int32
          type: integer
          readOnly: true
        id:
          format: int32
          type: integer
          readOnly: true
        name:
          type: string
          readOnly: true
        description:
          type: string
          readOnly: true
        values:
          type: array
          items:
            type: string
          readOnly: true
      example:
        deviceId: 2
        id: 8
        name: Local IP
        description: ''
        values:
        - 192.158.1.1
    FireHost.Infrastructure.Network.Models.SslCertificateDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        cname:
          type: string
        sku:
          type: string
        certificateType:
          type: string
        orderDate:
          format: date-time
          type: string
        expiryDate:
          format: date-time
          type: string
        uniqueProductIdentifier:
          type: string
        accountId:
          format: int32
          type: integer
        accountName:
          type: string
        tickets:
          type: string
        status:
          type: string
    FireHost.Services.Http.Firewall.ApiExamples.Models.SampleFirewallRule:
      type: object
      properties:
        id:
          format: int32
          type: integer
        sources:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.SampleFirewallRuleMember'
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.SampleFirewallRuleMember'
        services:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.SampleFirewallService'
        action:
          type: string
        name:
          type: string
        sortOrder:
          format: int32
          type: integer
        isEnabled:
          type: boolean
        providerRefId:
          format: int32
          type: integer
        readonly:
          type: boolean
        status:
          format: int32
          type: integer
        firewallRuleAction:
          format: int32
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          type: integer
    FireHost.Services.Common.Events.Compute.Environment.Catalogs.VmNatRuleDto:
      type: object
      properties:
        vmIp:
          type: string
        publicIps:
          type: array
          items:
            type: string
          readOnly: true
    FireHost.Infrastructure.Compute.Models.Environment.VdcDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
        location:
          type: string
        zone:
          type: string
        isRecoveryVdc:
          type: boolean
        description:
          type: string
    FireHost.Services.Http.Firewall.ApiExamples.Models.CreateRuleSampleRequest:
      type: object
      properties:
        id:
          format: int32
          type: integer
        deviceId:
          format: int32
          type: integer
        rule:
          $ref: '#/components/schemas/FireHost.Services.Http.Firewall.ApiExamples.Models.SampleFirewallRule'
      example:
        id: 2
        deviceId: 3
        rule:
          id: 0
          sources:
          - id: 5
            deviceId: 3
            name: Source 1
            type: group
            ipGroups: 192.168.10.10
            isReadonly: false
            vcdOrgVdcId: 0
            status: 5
            retryCount: 0
            joinedValues: 192.168.10.10
            values:
            - 192.168.10.10
          destinations:
          - id: 3
            deviceId: 3
            name: Destination 1
            type: group
            ipGroups: 192.168.10.12
            isReadonly: false
            vcdOrgVdcId: 0
            status: 5
            retryCount: 0
            joinedValues: 192.168.10.12
            values:
            - 192.168.10.12
          services:
          - id: 2
            deviceId: 3
            location: vsite-a
            accountId: 2
            name: Service 2
            values:
            - port: 8888
              protocol: tcp
              isConsistent: false
            - port: 21
              protocol: udp
              isConsistent: false
          action: allow
          name: Test Rule
          sortOrder: 12
          isEnabled: true
          providerRefId: 0
          readonly: false
          status: 0
          firewallRuleAction: 0
    FireHost.Services.Http.Firewall.ApiExamples.Models.CreateGroupSampleRequest:
      type: object
      properties:
        deviceId:
          format: int32
          type: integer
          readOnly: true
        name:
          type: string
          readOnly: true
        description:
          type: string
          readOnly: true
        values:
          type: array
          items:
            type: string
          readOnly: true
      example:
        deviceId: 2
        name: HTTP
        description: ''
        values:
        - 192.158.1.1
    FireHost.Infrastructure.Network.Models.SslVpnConnectionDetail:
      type: object
      properties:
        location:
          type: string
        host:
          type: string
        port:
          format: int32
          type: integer
    FireHost.Services.Http.Network.ApiExamples.Models.CreateL2LSampleRequest:
      type: object
      properties:
        peerId:
          type: string
          readOnly: true
        encryption:
          type: string
          readOnly: true
        enablePfs:
          type: boolean
          readOnly: true
        dhGroup:
          type: string
          readOnly: true
        localSubnets:
          type: array
          items:
            type: string
          readOnly: true
        peerSubnets:
          type: array
          items:
            type: string
          readOnly: true
        psk:
          type: string
          readOnly: true
        authentication:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        localIp:
          type: string
          readOnly: true
        peerIp:
          type: string
          readOnly: true
        isEnabled:
          type: boolean
          readOnly: true
      example:
        peerId: 10.1.1.0
        encryption: aes256
        enablePfs: true
        dhGroup: dh2
        localSubnets:
        - 100.64.0.66/32
        peerSubnets:
        - 10.1.0.0/24
        psk: Secur3_K3Y
        authentication: psk
        name: ME4
        localIp: 146.88.118.5
        peerIp: 10.1.1.3
        isEnabled: true
    FireHost.Infrastructure.Firewall.Models.Services.ServiceValueDto:
      type: object
      properties:
        port:
          format: int32
          type: integer
        protocol:
          type: string
        subprotocol:
          type: string
        minimum:
          format: int32
          type: integer
        maximum:
          format: int32
          type: integer
        isConsistent:
          type: boolean
    FireHost.Infrastructure.Firewall.Models.Rules.RuleSet:
      type: object
      properties:
        id:
          format: int32
          type: integer
        deviceId:
          format: int32
          type: integer
        accountId:
          format: int32
          type: integer
        rules:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Rules.Rule'
        staged:
          type: boolean
        vcdOrgVdcId:
          format: int32
          type: integer
        isOverride:
          type: boolean
        ipGroups:
          type: string
        isRulePendingGlobal:
          type: boolean
        isRuleErrorGlobal:
          type: boolean
        totalRulesInRuleSet:
          format: int32
          type: integer
    FireHost.Services.Http.Network.ApiExamples.Models.UpdateNatSampleRequest:
      type: object
      properties:
        vmId:
          format: int32
          type: integer
          readOnly: true
        translatedIp:
          type: string
          readOnly: true
        originalIps:
          type: array
          items:
            type: string
          readOnly: true
        vcdOrgVdcId:
          format: int32
          type: integer
      example:
        vmId: 2
        translatedIp: 100.10.10.1
        originalIps:
        - 192.158.1.1
        vcdOrgVdcId: 1
    FireHost.Services.Http.Firewall.ApiExamples.Models.SampleFirewallRuleMember:
      type: object
      properties:
        id:
          format: int32
          type: integer
        deviceId:
          format: int32
          type: integer
        name:
          type: string
        description:
          type: string
        type:
          type: string
        ipGroups:
          type: string
        isReadonly:
          type: boolean
        vcdOrgVdcId:
          format: int32
          type: integer
        status:
          format: int32
          type: integer
        retryCount:
          format: int32
          type: integer
        joinedValues:
          type: string
        values:
          type: array
          items:
            type: string
          readOnly: true
    FireHost.Infrastructure.Firewall.Models.Services.ServiceUpdatedDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        deviceId:
          format: int32
          type: integer
        location:
          type: string
        name:
          type: string
        description:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Services.ServiceValueDto'
        vcdOrgVdcId:
          format: int32
          type: integer
        status:
          format: int32
          type: integer
        retryCount:
          format: int32
          type: integer
    FireHost.Services.Http.Firewall.ApiExamples.Models.SampleFirewallService:
      type: object
      properties:
        id:
          format: int32
          type: integer
        deviceId:
          format: int32
          type: integer
        location:
          type: string
        accountId:
          format: int32
          type: integer
        name:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Services.ServiceValueDto'
    FireHost.Services.Ipam.Data.Domain.AssignExtDnatRequest:
      type: object
      properties:
        quantity:
          format: int32
          type: integer
        locationId:
          format: int32
          type: integer
        isRecovery:
          type: boolean
      example:
        quantity: 1
        locationId: 1
        isRecovery: false
    FireHost.Infrastructure.Firewall.Models.Rules.Rule:
      type: object
      properties:
        id:
          format: int32
          type: integer
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Rules.RuleMember'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Firewall.Models.Rules.RuleMember'
        services:
          type: array
          items:
            $ref: ''
        action:
          type: string
        name:
          type: string
        description:
          type: string
        sortOrder:
          format: int32
          type: integer
        providerRefId:
          format: int32
          type: integer
        isEnabled:
          type: boolean
        readonly:
          type: boolean
        status:
          format: int32
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          type: integer
        retryCount:
          format: int32
          type: integer
        total:
          format: int32
          type: integer
        isRetry:
          type: boolean
        lastAction:
          format: int32
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          type: integer
        isDeleted:
          type: boolean
    FireHost.Infrastructure.Network.Models.SslVpnMemberDto:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        id:
          format: int32
          type: integer
        email:
          type: string
        isSslVpnEnabled:
          type: boolean
          readOnly: true
        vpcData:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Compute.Models.Environment.VdcDto'
    FireHost.Infrastructure.Network.Models.CancelSslCertificateRequestDto:
      type: object
      properties:
        id:
          format: int32
          type: integer
        accountId:
          format: int32
          type: integer
        cname:
          type: string
        expiryDate:
          format: date-time
          type: string
        tickets:
          type: string
        status:
          type: string
    FireHost.Infrastructure.Network.Models.SslVpnConfigDetail:
      type: object
      properties:
        sslVpnConnectionDetails:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslVpnConnectionDetail'
        sslVpnClientVersions:
          type: array
          items:
            $ref: '#/components/schemas/FireHost.Infrastructure.Network.Models.SslVpnClientVersion'
  securitySchemes:
    Authorization:
      type: apiKey
      description: Authorization Token
      name: Authorization
      in: header
    X-Account-Context:
      type: apiKey
      description: X-Account-Context
      name: X-Account-Context
      in: header
