openapi: 3.2.0
info:
  title: MDR Public TI - Threat Actors API
  version: 1.0.0
  description: 'Comprehensive API documentation for Armor''s Managed Detection and Response (MDR) platform.


    This unified API provides access to:


    ## AI Platform (AIP)

    - AI-processed incident analysis with threat indicators and recommendations

    - Entity threat intelligence for security entities associated with incidents


    ## Microsoft Defender Integration

    - Machine/device management in Microsoft Defender for Endpoint

    - Security action execution (isolation, scans, investigations)

    - Investigation package collection and live response operations


    ## Detection Rules Management

    - Microsoft Sentinel detection rules across customer environments

    - Enriched rule metadata including MITRE ATT&CK mappings

    - Incident generation statistics


    ## JSM Middleware

    - Security incident management and tracking

    - Metrics aggregation and reporting

    - Service request management

    - Organization management


    ## Monthly Security Reports

    - Access to monthly security reports (PowerPoint, JSON, PDF)

    - Security metrics and performance indicators

    - Data ingestion analytics


    ## Threat Intelligence

    - Threat actor intelligence data

    - Customer-specific threat intelligence based on deployed products

    - OpenCTI GraphQL proxy for advanced queries


    ## Authentication

    All endpoints (except health checks) require OAuth2 Bearer token authentication.


    For authentication details, see: https://kb.armor.com/kb/sso-authentication-with-postman

    '
  contact:
    name: Armor Security Team
    url: https://armor.com
servers:
- url: https://mdr.api.secure-prod.services
  description: Production environment
- url: https://mdr.api.secure-dev.services
  description: Development environment
security:
- OAuth2BearerAuth: []
- FH-AUTH: []
tags:
- name: TI - Threat Actors
  description: Retrieve threat actor intelligence data
paths:
  /ti/threat-actors:
    get:
      tags:
      - TI - Threat Actors
      summary: Get all threat actors
      description: 'Retrieves a comprehensive list of all threat actors from DynamoDB.

        Returns the latest threat actor intelligence data including profiles and capabilities.

        '
      operationId: getAllThreatActors
      responses:
        '200':
          description: Successfully retrieved all threat actors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ThreatActor'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ti/threat-actors-by-country:
    get:
      tags:
      - TI - Threat Actors
      summary: Get threat actors grouped by country
      description: 'Retrieves threat actors organized by their country of origin or operation.

        Provides a geographical view of threat actor distribution.

        '
      operationId: getThreatActorsByCountry
      responses:
        '200':
          description: Successfully retrieved threat actors grouped by country
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ThreatActor'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /ti/threat-actors/{threatActorId}:
    get:
      tags:
      - TI - Threat Actors
      summary: Get specific threat actor by ID
      description: 'Retrieves detailed information about a specific threat actor using their unique identifier.

        Returns comprehensive profile data including TTPs and historical activity.

        '
      operationId: getThreatActorById
      parameters:
      - name: threatActorId
        in: path
        required: true
        description: Unique identifier of the threat actor
        schema:
          type: string
        example: threat-actor-001
      responses:
        '200':
          description: Successfully retrieved threat actor data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatActorDetail'
        '400':
          description: Threat actor not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string
        message:
          type: string
        statusCode:
          type: integer
    ThreatActor:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        sophistication:
          type: string
          enum:
          - none
          - minimal
          - intermediate
          - advanced
          - expert
          - innovator
          - strategic
        aliases:
          type: array
          items:
            type: string
        primary_motivation:
          type: string
          enum:
          - accidental
          - coercion
          - dominance
          - ideology
          - notoriety
          - organizational-gain
          - personal-gain
          - personal-satisfaction
          - revenge
          - state-sponsored
          - unpredictable
        country:
          type: string
        resource_level:
          type: string
          enum:
          - individual
          - club
          - contest
          - team
          - organization
          - government
    ThreatActorDetail:
      allOf:
      - $ref: '#/components/schemas/ThreatActor'
      - type: object
        properties:
          first_seen:
            type: string
            format: date-time
          last_seen:
            type: string
            format: date-time
          goals:
            type: array
            items:
              type: string
          tactics:
            type: array
            items:
              type: string
          associated_campaigns:
            type: array
            items:
              type: string
  securitySchemes:
    OAuth2BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: 'OAuth2 Scoped Access Token authentication. An authorization header with Bearer token

        must be included with every authenticated request.


        For authentication details, see the official documentation:

        https://kb.armor.com/kb/sso-authentication-with-postman

        '
    FH-AUTH:
      type: http
      scheme: bearer
      bearerFormat: FH-AUTH
      description: 'FH-AUTH token authentication.


        ## Authentication Flow


        1. **Authorize**: POST credentials to `/auth/authorize` to receive an authorization code

        2. **Token Exchange**: Exchange the code at `/auth/token` within 2 minutes for access tokens

        3. **API Calls**: Use the access token in the `Authorization: FH-AUTH {token}` header

        4. **Refresh**: When token expires (15 minutes), refresh via `/auth/token/reissue`


        ## Security Notes


        - Authorization codes expire in 2 minutes

        - Access tokens expire in 15 minutes

        - All endpoints require HTTPS

        - Never log or persist tokens in plain text


        Include the access token in the Authorization header:

        ```

        Authorization: FH-AUTH {access_token}

        ```

        '
