openapi: 3.2.0
info:
  title: MDR Public JSM - Metrics API
  version: 1.0.0
  description: 'Comprehensive API documentation for Armor''s Managed Detection and Response (MDR) platform.


    This unified API provides access to:


    ## AI Platform (AIP)

    - AI-processed incident analysis with threat indicators and recommendations

    - Entity threat intelligence for security entities associated with incidents


    ## Microsoft Defender Integration

    - Machine/device management in Microsoft Defender for Endpoint

    - Security action execution (isolation, scans, investigations)

    - Investigation package collection and live response operations


    ## Detection Rules Management

    - Microsoft Sentinel detection rules across customer environments

    - Enriched rule metadata including MITRE ATT&CK mappings

    - Incident generation statistics


    ## JSM Middleware

    - Security incident management and tracking

    - Metrics aggregation and reporting

    - Service request management

    - Organization management


    ## Monthly Security Reports

    - Access to monthly security reports (PowerPoint, JSON, PDF)

    - Security metrics and performance indicators

    - Data ingestion analytics


    ## Threat Intelligence

    - Threat actor intelligence data

    - Customer-specific threat intelligence based on deployed products

    - OpenCTI GraphQL proxy for advanced queries


    ## Authentication

    All endpoints (except health checks) require OAuth2 Bearer token authentication.


    For authentication details, see: https://kb.armor.com/kb/sso-authentication-with-postman

    '
  contact:
    name: Armor Security Team
    url: https://armor.com
servers:
- url: https://mdr.api.secure-prod.services
  description: Production environment
- url: https://mdr.api.secure-dev.services
  description: Development environment
security:
- OAuth2BearerAuth: []
- FH-AUTH: []
tags:
- name: JSM - Metrics
  description: Metrics aggregation and reporting
paths:
  /metrics/incidents:
    get:
      tags:
      - JSM - Metrics
      summary: Get incident summary metrics
      description: 'Retrieve aggregated incident metrics including event-to-incident ratio trends,

        incident statistics, and summary data over time.

        '
      operationId: getIncidentMetrics
      responses:
        '200':
          description: Successfully retrieved incident metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentMetrics'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics/ti-updates:
    get:
      tags:
      - JSM - Metrics
      summary: Get threat intelligence updates
      description: 'Retrieve threat intelligence updates from various sources including threat feeds,

        device ingestion, identity ingestion, and vulnerability summaries.

        '
      operationId: getThreatIntelUpdates
      responses:
        '200':
          description: Successfully retrieved threat intelligence updates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ThreatIntelUpdate'
        '400':
          description: Missing account context
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
  /metrics/data-ingestion:
    get:
      tags:
      - JSM - Metrics
      summary: Get data ingestion metrics
      description: Retrieve data ingestion metrics from DynamoDB for the authenticated customer
      operationId: getDataIngestionMetrics
      responses:
        '200':
          description: Successfully retrieved data ingestion metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    IncidentMetrics:
      type: object
      properties:
        eventToIncidentRatioTrend:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              value:
                type: object
                properties:
                  events:
                    type: integer
                  alerts:
                    type: integer
                  incidents:
                    type: integer
    Error:
      type: object
      properties:
        message:
          type: string
    ThreatIntelUpdate:
      type: object
      properties:
        workspaceId:
          type: string
        customerId:
          type: string
        customerName:
          type: string
        defenderTenant:
          type: string
        data:
          type: object
          properties:
            threatFeedsIngested:
              type: array
              items:
                type: object
            deviceIngestionSummary:
              type: array
              items:
                type: object
            identityIngestionSummary:
              type: array
              items:
                type: object
            deviceVulnerabilitySummary:
              type: array
              items:
                type: object
            defenderIngestionSummary:
              type: array
              items:
                type: object
  securitySchemes:
    OAuth2BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: 'OAuth2 Scoped Access Token authentication. An authorization header with Bearer token

        must be included with every authenticated request.


        For authentication details, see the official documentation:

        https://kb.armor.com/kb/sso-authentication-with-postman

        '
    FH-AUTH:
      type: http
      scheme: bearer
      bearerFormat: FH-AUTH
      description: 'FH-AUTH token authentication.


        ## Authentication Flow


        1. **Authorize**: POST credentials to `/auth/authorize` to receive an authorization code

        2. **Token Exchange**: Exchange the code at `/auth/token` within 2 minutes for access tokens

        3. **API Calls**: Use the access token in the `Authorization: FH-AUTH {token}` header

        4. **Refresh**: When token expires (15 minutes), refresh via `/auth/token/reissue`


        ## Security Notes


        - Authorization codes expire in 2 minutes

        - Access tokens expire in 15 minutes

        - All endpoints require HTTPS

        - Never log or persist tokens in plain text


        Include the access token in the Authorization header:

        ```

        Authorization: FH-AUTH {access_token}

        ```

        '
