openapi: 3.2.0
info:
  title: MDR Public AIP - Entity Intelligence API
  version: 1.0.0
  description: Comprehensive API documentation for Armor's Managed Detection and Response (MDR) platform.
  contact:
    name: Armor Security Team
    url: https://armor.com
servers:
- url: https://mdr.api.secure-prod.services
  description: Production environment
- url: https://mdr.api.secure-dev.services
  description: Development environment
security:
- OAuth2BearerAuth: []
- FH-AUTH: []
tags:
- name: AIP - Entity Intelligence
  description: Threat intelligence data for security entities
paths:
  /aip/incident/{incidentId}/entity/{value}:
    get:
      tags:
      - AIP - Entity Intelligence
      summary: Fetch entity threat intelligence for an incident
      description: 'Retrieves threat intelligence data for a security entity (IP address, domain, hash, email, or URL)

        that is associated with a specific incident.


        **Authorization**: Validates that the requesting account has permission to view the incident

        and that the entity belongs to the incident.'
      operationId: fetchEntityForIncident
      parameters:
      - name: incidentId
        in: path
        required: true
        description: The incident identifier
        schema:
          type: string
        example: SEC-2024-001
      - name: value
        in: path
        required: true
        description: The entity value to look up
        schema:
          type: string
        example: 192.168.1.100
      - name: x-account-context
        in: header
        required: true
        description: The AMP account ID for authorization context
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Entity data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityIntelligenceResponse'
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Issue not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    EntityIntelligenceResponse:
      type: object
      properties:
        value:
          type: string
        kind:
          type: string
          enum:
          - ip
          - domain
          - url
          - filehash
          - email
        reputation:
          type: string
          enum:
          - malicious
          - suspicious
          - benign
          - unknown
        count_incidents:
          type: integer
        first_seen:
          type: string
          format: date-time
        last_seen:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
        geolocation:
          type: object
          properties:
            country:
              type: string
            region:
              type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string
        message:
          type: string
        statusCode:
          type: integer
  securitySchemes:
    OAuth2BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: 'OAuth2 Scoped Access Token authentication. An authorization header with Bearer token

        must be included with every authenticated request.


        For authentication details, see the official documentation:

        https://kb.armor.com/kb/sso-authentication-with-postman

        '
    FH-AUTH:
      type: http
      scheme: bearer
      bearerFormat: FH-AUTH
      description: 'FH-AUTH token authentication.


        ## Authentication Flow


        1. **Authorize**: POST credentials to `/auth/authorize` to receive an authorization code

        2. **Token Exchange**: Exchange the code at `/auth/token` within 2 minutes for access tokens

        3. **API Calls**: Use the access token in the `Authorization: FH-AUTH {token}` header

        4. **Refresh**: When token expires (15 minutes), refresh via `/auth/token/reissue`


        ## Security Notes


        - Authorization codes expire in 2 minutes

        - Access tokens expire in 15 minutes

        - All endpoints require HTTPS

        - Never log or persist tokens in plain text


        Include the access token in the Authorization header:

        ```

        Authorization: FH-AUTH {access_token}

        ```

        '
