openapi: 3.2.0
info:
  title: MDR Public Detection Rules API
  version: 1.0.0
  description: 'Comprehensive API documentation for Armor''s Managed Detection and Response (MDR) platform.


    This unified API provides access to:


    ## AI Platform (AIP)

    - AI-processed incident analysis with threat indicators and recommendations

    - Entity threat intelligence for security entities associated with incidents


    ## Microsoft Defender Integration

    - Machine/device management in Microsoft Defender for Endpoint

    - Security action execution (isolation, scans, investigations)

    - Investigation package collection and live response operations


    ## Detection Rules Management

    - Microsoft Sentinel detection rules across customer environments

    - Enriched rule metadata including MITRE ATT&CK mappings

    - Incident generation statistics


    ## JSM Middleware

    - Security incident management and tracking

    - Metrics aggregation and reporting

    - Service request management

    - Organization management


    ## Monthly Security Reports

    - Access to monthly security reports (PowerPoint, JSON, PDF)

    - Security metrics and performance indicators

    - Data ingestion analytics


    ## Threat Intelligence

    - Threat actor intelligence data

    - Customer-specific threat intelligence based on deployed products

    - OpenCTI GraphQL proxy for advanced queries


    ## Authentication

    All endpoints (except health checks) require OAuth2 Bearer token authentication.


    For authentication details, see: https://kb.armor.com/kb/sso-authentication-with-postman

    '
  contact:
    name: Armor Security Team
    url: https://armor.com
servers:
- url: https://mdr.api.secure-prod.services
  description: Production environment
- url: https://mdr.api.secure-dev.services
  description: Development environment
security:
- OAuth2BearerAuth: []
- FH-AUTH: []
tags:
- name: Detection Rules
  description: Operations for retrieving and managing detection rules
paths:
  /rules:
    get:
      tags:
      - Detection Rules
      summary: Retrieve detection rules for a customer
      description: 'Retrieves all Microsoft Sentinel detection rules deployed across a customer''s

        Azure subscriptions and workspaces, including enriched metadata.

        '
      operationId: getRulesForCustomer
      parameters:
      - name: x-account-context
        in: header
        required: true
        description: The unique account identifier for the customer
        schema:
          type: string
        example: 12345678-abcd-1234-abcd-123456789abc
      responses:
        '200':
          description: Successfully retrieved detection rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DetectionRule'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    DetectionRule:
      type: object
      required:
      - name
      - productVendor
      - productName
      - dataSource
      - modifiedTime
      - severity
      - description
      - tactics
      - techniques
      - subscriptionId
      - workspaceId
      - incidentsGenerated
      properties:
        name:
          type: string
        productVendor:
          type: string
        productName:
          type: string
        dataSource:
          type: array
          items:
            type: string
        modifiedTime:
          type: string
          format: date-time
        severity:
          type: string
          enum:
          - Informational
          - Low
          - Medium
          - High
          - Critical
        description:
          type: string
        tactics:
          type: array
          items:
            type: string
        techniques:
          type: array
          items:
            type: string
        subscriptionId:
          type: string
        workspaceId:
          type: string
        incidentsGenerated:
          type: integer
          format: int32
          minimum: 0
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string
        message:
          type: string
        statusCode:
          type: integer
  securitySchemes:
    OAuth2BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: 'OAuth2 Scoped Access Token authentication. An authorization header with Bearer token

        must be included with every authenticated request.


        For authentication details, see the official documentation:

        https://kb.armor.com/kb/sso-authentication-with-postman

        '
    FH-AUTH:
      type: http
      scheme: bearer
      bearerFormat: FH-AUTH
      description: 'FH-AUTH token authentication.


        ## Authentication Flow


        1. **Authorize**: POST credentials to `/auth/authorize` to receive an authorization code

        2. **Token Exchange**: Exchange the code at `/auth/token` within 2 minutes for access tokens

        3. **API Calls**: Use the access token in the `Authorization: FH-AUTH {token}` header

        4. **Refresh**: When token expires (15 minutes), refresh via `/auth/token/reissue`


        ## Security Notes


        - Authorization codes expire in 2 minutes

        - Access tokens expire in 15 minutes

        - All endpoints require HTTPS

        - Never log or persist tokens in plain text


        Include the access token in the Authorization header:

        ```

        Authorization: FH-AUTH {access_token}

        ```

        '
