{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Armor Services API"
  },
  "host": "api.armor.com",
  "schemes": ["https"],
  "paths": {
    "/{entityType}/{entityId}/notes": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Return notes for a given entity type and id. Notes provide a free text field that can be used to storage additional information about a given entity.",
        "operationId": "Notes_GetNoteAsync",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "entityType",
          "in": "path",
          "description": "Entity Type (apps)",
          "required": true,
          "type": "string"
        }, {
          "name": "entityId",
          "in": "path",
          "description": "Entity ID",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Account Management"],
        "summary": "Add or update notes for a given entity type and id. A free text field that can be used to store additional information about a given entity.",
        "operationId": "Notes_UpdateNoteAsync",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "entityType",
          "in": "path",
          "description": "Entity Type (apps)",
          "required": true,
          "type": "string"
        }, {
          "name": "entityId",
          "in": "path",
          "description": "Entity ID",
          "required": true,
          "type": "string"
        }, {
          "name": "request",
          "in": "body",
          "description": "messages: Notes go here",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Meta.ApiExamples.Models.UpdateNoteSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Account Management"],
        "summary": "Delete notes for a given entity type and id.",
        "operationId": "Notes_DeleteNoteAsync",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "entityType",
          "in": "path",
          "description": "Entity Type",
          "required": true,
          "type": "string"
        }, {
          "name": "entityId",
          "in": "path",
          "description": "Entity ID",
          "required": true,
          "type": "string"
        }, {
          "name": "request",
          "in": "body",
          "description": "Request (empty object)",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Meta.ApiExamples.Models.DeleteNoteSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/{entityType}/{entityId}/tags": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Return tags for entity type and id. Tags are custom meta-data attributes that can be leveraged when searching for a given entity type.",
        "operationId": "Tags_GetTagsAsync",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "entityType",
          "in": "path",
          "description": "Entity Type (apps)",
          "required": true,
          "type": "string"
        }, {
          "name": "entityId",
          "in": "path",
          "description": "Entity ID",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "application/json": ["tag1", "tag2"]
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Account Management"],
        "summary": "Add tags for a given entity type and id.",
        "operationId": "Tags_AddTagAsync",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "entityType",
          "in": "path",
          "description": "Entity Type (apps)",
          "required": true,
          "type": "string"
        }, {
          "name": "entityId",
          "in": "path",
          "description": "Entity ID",
          "required": true,
          "type": "string"
        }, {
          "name": "request",
          "in": "body",
          "description": "messages: Tags go here",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Meta.ApiExamples.Models.AddTagSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Account Management"],
        "summary": "Delete tags for a given entity type and id.",
        "operationId": "Tags_DeleteTagAsync",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "entityType",
          "in": "path",
          "description": "Entity Type (apps)",
          "required": true,
          "type": "string"
        }, {
          "name": "entityId",
          "in": "path",
          "description": "Entity ID",
          "required": true,
          "type": "string"
        }, {
          "name": "request",
          "in": "body",
          "description": "messages: The name of the tag<br />\r\n            (You must enter the tag as it is logged. Here, tags are case-sensitive.)",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Meta.ApiExamples.Models.DeleteTagSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/account/activity/history": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve list of Account Activity for your account.",
        "description": "<strong>Get request URI contain the following query options</strong>\r\n<br />\r\n<br />\r\n<strong>$top (required):</strong> total number of results to display. <strong>Data Type:</strong> integer. <strong>Example:</strong> $top=25<br /><br /><strong>$skip (required):</strong> skips the top number of results. <strong>Data Type:</strong> integer. <strong>Example:</strong> $skip=1<br /><br /><strong>$filter (required):</strong> filters down results. <strong>Data Type:</strong> string. <strong>Example:</strong> date%20eq%20%27null%27%20and%20type%20eq%20%27null%27%20and%20startDate%20eq%20%272018-10-03T05.00.00%27%20and%20endDate%20eq%20%272018-10-06T04.59.59%27<br /><br /><strong>$search (optional):</strong> search for specific result. <strong>Data Type:</strong> string. <strong>Example:</strong> $search=file%20restore<br /><br /><strong>$orderby (optional):</strong> order by column name (name, location, status). <strong>Data Type:</strong> string. <strong>Example:</strong> $orderby=startTime%20desc<br /><br />\r\n            Times are submited as UTC",
        "operationId": "AccountHistory_GetAccountActivityHistory",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.History.Models.AccountHistoryListResponseDto%5D"
            },
            "examples": {
              "application/json": [{
                "account": "Development Test Account",
                "accountId": 1,
                "type": "Infrastructure",
                "date": "2026-02-12T16:25:51.6777668+00:00",
                "user": "Development Test User",
                "userId": 2,
                "activity": "Added tier Example_Tier to workload Example_Workload.",
                "details": {
                  "workloadName": "Example_Workload",
                  "tierName": "Example_Tier",
                  "action": "Added",
                  "user": "Development Test User",
                  "url": "http://example.url.com/orders/vms"
                },
                "isInternal": false,
                "isArmor": false
              }, {
                "account": "Development Test Account",
                "accountId": 1,
                "type": "Security",
                "date": "2026-02-12T16:25:51.6777668+00:00",
                "user": "Development Test User",
                "userId": 2,
                "activity": "Enabled SSL VPN access for development.user@armor.com in AMP",
                "details": {
                  "enable": "True",
                  "location": "DFW",
                  "accountName": "Development Test Account",
                  "user": "Development Test User",
                  "url": "http://example.url.com/sslvpn/enable"
                },
                "isInternal": false,
                "isArmor": false
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/children": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Returns a list of child accounts associated to the parent account",
        "description": "<strong>Get request URI contain the following query options</strong>\r\n<br />\r\n<br />\r\n<strong>$top (required):</strong> total number of results to display. <strong>Data Type:</strong> integer. <strong>Example:</strong> $top=25<br /><br /><strong>$skip (required):</strong> skips the top number of results. <strong>Data Type:</strong> integer. <strong>Example:</strong> $skip=1<br /><br /><strong>$filter (optional):</strong> filters down results. <strong>Data Type:</strong> string. <strong>Example:</strong> $filter=status%20eq%20%27Active%27<br /><br /><strong>$search (optional):</strong> search for specific result. <strong>Data Type:</strong> string. <strong>Example:</strong> $search=Armor<br /><br /><strong>$orderby (optional):</strong> order by column name (name, account ID, status, deployed agents). <strong>Data Type:</strong> string. <strong>Example:</strong> $orderby=Name%20desc",
        "operationId": "ChildAccounts_GetAllChildAccounts",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Accounts.Data.Persistence.ChildAccount%5D"
            },
            "examples": {
              "application/json": {
                "total": 1,
                "page": 1,
                "items": [{
                  "id": 5,
                  "name": "Company Name 1",
                  "status": "Active",
                  "deployedAgents": 3
                }, {
                  "id": 12,
                  "name": "Company Name 2",
                  "status": "Cancelled",
                  "deployedAgents": 0
                }]
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Account Management"],
        "summary": "Creates a child account",
        "operationId": "ChildAccounts_CreateChildAccount",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "companyName: Name of the Account<br /><br />\r\n            relationshipEntity: Valid values: INC, LTD<br /><br />\r\n            addressLine1: Address Line 1<br /><br />\r\n            addressLine2: Address Line 2<br /><br />\r\n            city: City<br /><br />\r\n            state: State/Province ISO alpha-2 code<br /><br />\r\n            postalCode: Postal Code<br /><br />\r\n            country: Country ISO alpha-2 code<br /><br />\r\n            phone: Account Phone Number<br /><br />\r\n            website: Account Website<br /><br />\r\n            firstName: First Name<br /><br />\r\n            lastName: Last Name<br /><br />\r\n            email: Email<br /><br />\r\n            title: Title<br /><br />\r\n            currency: Valid values: USD, GBP<br /><br />\r\n            channel: Valid values: SMB, Enterprise, Government<br /><br />\r\n            productLine: Valid values: Anywhere, Complete<br /><br />\r\n            armorAnywhereLocation: Armor agent deployment location. Required if productLine is Anywhere. Valid values: Azure, AWS, Internal IT, Colocation, Other<br /><br />\r\n            armorAnywhereOtherLocation: Armor agent custom deployment location. Required if armorAnywhereLocation is Other<br /><br />\r\n            autoAcceptUserInvite: Setting this property to 'true' bypasses user invitation workflow, permitting users to immediately access the new sub-account.<br /><br />",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.ChildAccounts.ChildAccountSignupRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/children/massgrantaccess": {
      "post": {
        "tags": ["Account Management"],
        "summary": "Give mass access for Parent Account Users to Child Account",
        "operationId": "ChildAccounts_MassGrantAccess",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.ChildAccounts.MassGrantAccessRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/contacts": {
      "get": {
        "tags": ["Account Management"],
        "summary": "This will return the list of Armor Contacts for the given Armor Account.",
        "operationId": "AccountContacts_GetContacts",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Data.Domain.AccountContacts"
              }
            },
            "examples": {
              "application/json": {
                "accountExecutive": {
                  "accountId": "1",
                  "name": "Users Name",
                  "firstName": "Users",
                  "lastName": "Name",
                  "title": "developer",
                  "email": "user@email.com",
                  "homePhone": null,
                  "mobilePhone": null,
                  "street": "123 street",
                  "city": "New City",
                  "state": "TX",
                  "zipcode": "75000",
                  "country": "US",
                  "salesforceId": null,
                  "type": "AccountOwner"
                },
                "accountStrategicManager": null
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/account/pricing/{sku}": {
      "get": {
        "tags": ["Account Management"],
        "operationId": "AccountSkuPricing_GetAccountPrice",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "sku",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/primary-user": {
      "post": {
        "tags": ["Account Management"],
        "summary": "Set Primary User for one or more notification types",
        "operationId": "PrimaryNotificationUser_UpdateAccountPrimaryBillingContact",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "userId: Id of the user being set<br /><br />\r\n            notificationTypes: one or more notification types to be set.  Valid values: Account, Billing, Technical<br /><br />",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.AddUpdatePrimaryNotificationUserRequestSample"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/accounts": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Return a list of accounts and the products related to the account id.",
        "operationId": "Accounts_GetAccounts",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.UserAccountDto"
              }
            },
            "examples": {
              "application/json": {
                "id": 2,
                "name": "Development Test Account",
                "currency": "USD",
                "status": "Claimed",
                "parentAccountId": 1,
                "products": {
                  "aA-CORE": ["Monitoring", "Anti-Malware and Virus Protection", "Log Monitoring and Management", "Vulnerability Scanning", "File Integrity Monitoring", "Invoicing"],
                  "armoR-COMPLETE": ["Server Agent", "Operating System Server Hardening", "Operating System Patching", "Invoicing"]
                },
                "accountType": null,
                "isSynced": false,
                "isFreeTrial": false
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Account Management"],
        "summary": "Update the Account information.",
        "operationId": "Accounts_UpdateAccount",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "accountUpdateRequest",
          "in": "body",
          "description": "addressLine1: Recipient Line<br /><br />addressLine2: Delivery Address Line<br /><br />city: City<br /><br />state: State<br /><br />postalCode: Postal Code<br /><br />country: Country",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateAccountSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.AccountDetail"
              }
            },
            "examples": {
              "application/json": {
                "name": "Development Test Account",
                "accountId": "2",
                "addressLine1": "123 street",
                "addressLine2": "ste 500",
                "city": "City",
                "state": "TX",
                "postalCode": "75000",
                "country": "US",
                "accountSignupType": null
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get the Account information.",
        "operationId": "Accounts_GetAccount",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "accountId",
          "in": "path",
          "description": "Armor account id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.AccountDetail"
              }
            },
            "examples": {
              "application/json": {
                "name": "Development Test Account",
                "accountId": "2",
                "addressLine1": "123 street",
                "addressLine2": "ste 500",
                "city": "City",
                "state": "TX",
                "postalCode": "75000",
                "country": "US",
                "accountSignupType": null
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{accountId}/accountusersandrole": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get the users of an account and their roles",
        "operationId": "Accounts_GetAccountUsersAndRole",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "accountId",
          "in": "path",
          "description": "Armor account id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetRoleUser"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{accountId}/primary-billing": {
      "get": {
        "tags": ["AccountPrimaryBilling"],
        "summary": "(Deprecated) Get the Account Primary Billing User",
        "operationId": "AccountPrimaryBilling_GetAccountPrimaryBillingContact",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "accountId",
          "in": "path",
          "description": "account id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetUserResponse"
            },
            "examples": {
              "application/json": {
                "id": 2402,
                "status": "disabled",
                "title": "",
                "firstName": "John",
                "lastName": "Smith",
                "email": "john.smith@example.com",
                "phonePrimary": {
                  "countryCode": 1,
                  "countryIsoCode": "US",
                  "number": "8880000000",
                  "phoneExt": null
                },
                "timezone": "GMT Standard Time",
                "culture": "en-US",
                "permissions": [1],
                "lastModified": "2015-09-22T15:28:06.89",
                "passwordLastSet": "1999-01-01T00:00:00",
                "mustChangePassword": false,
                "lastLogin": "1999-01-01T00:00:00",
                "apiKeyCount": 0,
                "isPrimaryBillingNotificationUser": false,
                "isPrimaryAccountNotificationUser": false,
                "isPrimaryTechnicalNotificationUser": false
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["AccountPrimaryBilling"],
        "summary": "(Deprecated) Update the Account Primary Billing User. Instead use account/primary-notificationcontact endpoint to achieve same functionality",
        "operationId": "AccountPrimaryBilling_UpdateAccountPrimaryBillingContact",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "accountId",
          "in": "path",
          "description": "account id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "userId",
          "in": "body",
          "description": "user id",
          "required": true,
          "schema": {
            "format": "int32",
            "type": "integer"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.Requests.UpdateAccountPrimaryBillingContactRequest"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{accountId}/roles": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get the Roles of an account",
        "operationId": "Accounts_GetRoles",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "accountId",
          "in": "path",
          "description": "Armor account id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetRolesResponse"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/cloud-connections": {
      "post": {
        "tags": ["Account Management"],
        "summary": "Retrieve All Cloud Connections based on Account Id.",
        "operationId": "CloudConnections_CloudConnections",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "Parameters: Contains page number, pagesize, search text, sort order, filter by and sorting field<br /><br />",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.CloudConnections.Models.Requests.ServiceParams"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Infrastructure.CloudConnections.Models.CloudConnectionsDto"
              }
            },
            "examples": {
              "application/json": {
                "id": 1,
                "accountId": 0,
                "name": "AWS(Development)",
                "externalId": "78a1d8dc-4d73-4575-8828-eb37bef28742",
                "provider": "AWS",
                "providerAccountId": "345186984524",
                "providerAccessResource": null,
                "total": 1,
                "isEnabled_Beta": false,
                "isEnabled_Ec2": false,
                "isEnabled_Log": false,
                "setupStatus": "Completed",
                "services": []
              }
            }
          },
          "400": {
            "description": "Invalid Request"
          }
        },
        "deprecated": false
      }
    },
    "/cloud-connections/{connectionId}": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve cloud connection detail by connection Id",
        "operationId": "CloudConnections_CloudConnectionDetails",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "connectionId",
          "in": "path",
          "description": "Cloud connection Id to get the cloud connection details",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Infrastructure.CloudConnections.Models.CloudConnectionDetailsDto"
              }
            },
            "examples": {
              "application/json": {
                "armorAwsAccountId": "679703615338",
                "connectionName": "AWS(Development)",
                "description": "For Search",
                "externalId": "33c6b08a-0872-4908-97f4-81b61a0d9235",
                "providerAccessResource": "arn:aws:iam::d345186984524:role/armor_audit",
                "accountConnectionId": 1,
                "providerTypeName": "AWS",
                "serviceTypeName": "CloudTrail Log Ingestion",
                "awsBaseJsonPolicy": "Enable the following policies on AWS:",
                "subServiceName": null
              }
            }
          },
          "400": {
            "description": "Invalid Request"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Account Management"],
        "summary": "Soft Delete Cloud Connection by Id.",
        "operationId": "CloudConnections_CloudConnection",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "connectionId",
          "in": "path",
          "description": "Cloud connection Id to delete the cloud connection data",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid request."
          }
        },
        "deprecated": false
      }
    },
    "/cloud-connections/connections/isEnabled": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Check whether any enabled cloud connections exist.",
        "operationId": "CloudConnections_CloudConnectionsEnabled",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/cloud-connections/savecloudconnection": {
      "post": {
        "tags": ["Account Management"],
        "summary": "Save cloud connection details.",
        "operationId": "CloudConnections_SaveCloudConnectionsDetails",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "cloudConnectionDetailsDto",
          "in": "body",
          "description": "connectionName: Connection Name<br /><br />\r\n            description: Description<br /><br />\r\n            armorAwsAccountId: Armor AWS account id<br /><br />\r\n            externalId: External id<br /><br />\r\n            providerAccessResource: Provider access resource<br /><br />\r\n            providerTypeName:Provider type name<br /><br />\r\n            accountConnectionId:Account connection id<br /><br />\r\n            serviceTypeName:Service type name<br /><br />\r\n            accountId:Account id",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Infrastructure.CloudConnections.Models.CloudConnectionDetailsDto"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Infrastructure.CloudConnections.Models.CloudConnectionDetailsDto"
              }
            },
            "examples": {
              "application/json": {
                "id": 1,
                "accountId": 0,
                "name": "AWS(Development)",
                "externalId": "98f5da34-d763-48ca-bfe5-291c19ed01c1",
                "provider": "AWS",
                "providerAccountId": "345186984524",
                "providerAccessResource": null,
                "total": 1,
                "isEnabled_Beta": false,
                "isEnabled_Ec2": false,
                "isEnabled_Log": false,
                "setupStatus": "Completed",
                "services": []
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/cloud-connections/servicetypes": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve All Connection Service Types.",
        "operationId": "CloudConnections_AllServiceTypes",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Infrastructure.CloudConnections.Models.ConnectionServiceTypesDto"
              }
            },
            "examples": {
              "application/json": {
                "id": 1,
                "name": "AWS Security Hub",
                "subServices": [{
                  "id": 1,
                  "name": "Malware",
                  "subServiceName": null,
                  "imageName": "securityhub.svg",
                  "policy": null
                }],
                "policy": "securityhub*",
                "imageName": null
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/cloud-connections/summary": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Cloud connectiion summary dto used by ngx-portal\r\n            Returns cloud connection list for security hub",
        "operationId": "CloudConnections_CloudConnectionsSummary",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Infrastructure.CloudConnections.Models.CloudConnectionsSummaryDto"
              }
            },
            "examples": {
              "application/json": {
                "armorAwsAccountId": "679703615338",
                "connectionName": "AWS(Development)",
                "description": "For Search",
                "externalId": "1f7ffe08-3174-4678-a8c3-d15ef4ab07be",
                "providerAccessResource": "arn:aws:iam::d345186984524:role/armor_audit",
                "accountConnectionId": 1,
                "providerTypeName": "AWS",
                "serviceTypeName": "CloudTrail Log Ingestion",
                "awsBaseJsonPolicy": "Enable the following policies on AWS:",
                "subServiceName": null
              }
            }
          },
          "400": {
            "description": "Invalid Request"
          }
        },
        "deprecated": false
      }
    },
    "/internal/awssecurityhub/audits": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get AWS SecurityHub audit logs",
        "operationId": "InternalAWSSecurityHubAudit_GetAWSSecurityHubAuditsAsync",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/internal/awssecurityhub/audits/{id}": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get AWS SecurityHub payload by Id",
        "operationId": "InternalAWSSecurityHubAudit_GetAuditsPayloadByIdAsync",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/invoices": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve invoices for an account.",
        "operationId": "Invoice_GetInvoices",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.InvoiceResponse"
              }
            },
            "examples": {
              "application/json": [{
                "invoiceId": "2c92a0b05925c98701595a9eeaa45251",
                "invoiceNumber": "INV0010001",
                "invoiceDate": "2015-01-01T00:00:00",
                "invoiceDueDate": "2015-02-01T00:00:00",
                "amount": 900,
                "status": "Unpaid",
                "remainingBalance": 900
              }, {
                "invoiceId": "2c92a0b158aa8e0b0158bb805071233e",
                "invoiceNumber": "INV0010000",
                "invoiceDate": "2015-12-01T00:00:00",
                "invoiceDueDate": "2015-01-01T00:00:00",
                "amount": 900,
                "status": "Paid",
                "remainingBalance": 0
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/invoices/{id}": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve the invoice summary for an invoice.",
        "description": "Response Type: application/json or application/pdf - depends on Accept header on request",
        "operationId": "Invoice_GetInvoiceSummary",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id for the requested invoice",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.InvoiceSummary"
            },
            "examples": {
              "application/json": {
                "lineItems": [{
                  "productLine": "Armor | Complete",
                  "category": "Network",
                  "subCategory": "Network + Connectivity",
                  "sku": "IP-001",
                  "name": "IP Address - Allocated",
                  "itemTotal": 42.65
                }],
                "invoiceNumber": "INV00100000",
                "invoiceDate": "2015-12-22T00:00:00",
                "billingPeriodStartDate": "2015-12-22T00:00:00",
                "billingPeriodEndDate": "2015-12-31T00:00:00",
                "paymentStatus": "Unpaid",
                "subTotal": 7794.64,
                "lineItemDiscounts": -85.15,
                "invoiceTotal": 7709.48,
                "billTo": {
                  "name": "Company",
                  "addressLine1": "1234 Main St",
                  "addressLine2": "",
                  "city": "Dallas",
                  "state": "TX",
                  "postalCode": "12345",
                  "country": "US"
                },
                "soldTo": {
                  "name": "Company",
                  "addressLine1": "1234 Main St",
                  "addressLine2": "",
                  "city": "Dallas",
                  "state": "TX",
                  "postalCode": "12345",
                  "country": "US"
                },
                "remitTo": {
                  "name": "Armor INC",
                  "addressLine1": "2360 Campbell Creek Blvd.",
                  "addressLine2": "Suite 525",
                  "city": "Richardson",
                  "state": "TX",
                  "postalCode": "75082",
                  "country": "US"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Invoice not found."
          }
        },
        "deprecated": false
      }
    },
    "/invoices/{id}/detail": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve invoice export detail for an invoice.",
        "description": "Response Type: application/json or text/csv - depends on Accept header on request",
        "operationId": "Invoice_GetInvoicesDetail",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id for the requested invoice",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Invoice not found."
          }
        },
        "deprecated": false
      }
    },
    "/paymentmethods": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve payment methods for an account.",
        "operationId": "PaymentMethod_GetPaymentMethods",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Data.Persistence.PaymentMethod"
              }
            },
            "examples": {
              "application/json": [{
                "id": 1,
                "accountBillingId": 1,
                "name": "Corporate Visa",
                "paymentMethodId": "2c92c0f959687a90015975b882f515a0",
                "paymentType": "CreditCard",
                "achRoutingNumber": "",
                "achAccountMaskNumber": "",
                "creditCardType": "",
                "creditCardMaskNumber": "****1114",
                "creditCardExpirationMonth": 2,
                "creditCardExpirationYear": 2020,
                "createdDate": "2015-01-06T21:38:52.027",
                "createdBy": "2",
                "modifiedDate": null,
                "modifiedBy": null,
                "status": "Pending",
                "isDeleted": false,
                "isPrimary": true
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/paymentmethods/{id}": {
      "delete": {
        "tags": ["Account Management"],
        "summary": "Delete payment method from an account",
        "description": "Primary payment method cannot be deleted",
        "operationId": "PaymentMethod_DeletePaymentMethodById",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id of the payment method that you want to delete",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "request",
          "in": "body",
          "description": "modifiedBy: The user that is requesting the modification",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.DeletePaymentMethodByIdSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": ["Account Management"],
        "summary": "Update payment method on an account.",
        "operationId": "PaymentMethod_SetDefaultPaymentMethod",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id of the payment method that you want to delete",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "request",
          "in": "body",
          "description": "Indicate whether the payment method should be set as primary",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.SetDefaultPaymentMethodSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/permissions": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get a list of all permissions available on the account.",
        "operationId": "Roles_GetPermissions",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetPermissionsResponse"
              }
            },
            "examples": {
              "application/json": [{
                "name": "accounts",
                "permissions": [{
                  "id": 29,
                  "name": "Read Identity",
                  "system": "Identity",
                  "resource": "Accounts",
                  "endpoints": [{
                    "method": "GET",
                    "route": "accounts"
                  }, {
                    "method": "GET",
                    "route": "accounts/{accountId}"
                  }, {
                    "method": "GET",
                    "route": "account/contacts"
                  }, {
                    "method": "GET",
                    "route": "roles"
                  }, {
                    "method": "GET",
                    "route": "roles/{id}"
                  }, {
                    "method": "GET",
                    "route": "users"
                  }, {
                    "method": "GET",
                    "route": "users/{id}"
                  }, {
                    "method": "GET",
                    "route": "usersecurity/challengephrase"
                  }, {
                    "method": "GET",
                    "route": "usersecurity/challengephrase/{userId}"
                  }, {
                    "method": "GET",
                    "route": "usersecurity/securityquestions"
                  }, {
                    "method": "GET",
                    "route": "users/LockedOut/{accountId}/{email}"
                  }, {
                    "method": "GET",
                    "route": "survey/{accountId}/{userId}"
                  }],
                  "description": "View account information."
                }, {
                  "id": 32,
                  "name": "Write Account",
                  "system": "identity",
                  "resource": "accounts",
                  "endpoints": [{
                    "method": "POST",
                    "route": "accounts"
                  }],
                  "description": "Update account information"
                }]
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/products": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve any product lists that are associated to your Account.",
        "operationId": "ProductCatalog_GetProductLists",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Billing.Data.Persistence.ProductList"
              }
            },
            "examples": {
              "application/json": [{
                "id": 1,
                "name": "Armor USD",
                "category": "Primary",
                "currency": "USD",
                "salesforceId": null
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/products/{id}": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve a specific product list that is associated to your Account.",
        "operationId": "ProductCatalog_GetProductList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id for the product list of the desired products",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.ProductListItemModel"
              }
            },
            "examples": {
              "application/json": [{
                "name": "SSD (GB)",
                "sku": "SAN-001",
                "category": "Disk",
                "description": "SSD-based storage",
                "typeCode": "PT02",
                "storagePolicyClass": null,
                "chargeType": null,
                "price": [{
                  "location": "DFW01",
                  "amount": 1.7,
                  "units": null
                }, {
                  "location": "PHX01",
                  "amount": 1.7,
                  "units": null
                }],
                "priceType": "PerUnit",
                "tier": "SSD",
                "min": 10,
                "max": 500,
                "increment": 10,
                "billingOnly": false,
                "hasRules": false
              }, {
                "name": "Fluid (GB)",
                "sku": "SAN-002",
                "category": "Disk",
                "description": "Fluid-based storage",
                "typeCode": "PT02",
                "storagePolicyClass": null,
                "chargeType": null,
                "price": [{
                  "location": "DFW01",
                  "amount": 0.75,
                  "units": null
                }, {
                  "location": "PHX01",
                  "amount": 0.75,
                  "units": null
                }],
                "priceType": "PerUnit",
                "tier": "Fluid",
                "min": 50,
                "max": 2000,
                "increment": 50,
                "billingOnly": false,
                "hasRules": false
              }, {
                "name": "RAW (GB)",
                "sku": "SAN-003",
                "category": "Disk",
                "description": "RAW-based storage",
                "typeCode": "PT02",
                "storagePolicyClass": null,
                "chargeType": null,
                "price": [{
                  "location": "DFW01",
                  "amount": 0.15,
                  "units": null
                }, {
                  "location": "PHX01",
                  "amount": 0.15,
                  "units": null
                }],
                "priceType": "PerUnit",
                "tier": "RAW",
                "min": 250,
                "max": 2000,
                "increment": 250,
                "billingOnly": false,
                "hasRules": false
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/products/{id}/{category}": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve a filtered list of products specific to a category within a given product list on your Account.",
        "operationId": "ProductCatalog_GetProductListByCategory",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id for the product list of the desired products",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "category",
          "in": "path",
          "description": "Category of the desired products in the product list",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.ProductListItemModel"
              }
            },
            "examples": {
              "application/json": [{
                "name": "A1-CentOS 6",
                "sku": "A1-101",
                "category": "Instance",
                "description": "Armor-hardened 64-bit CentOS 6 image with 30GB SSD storage",
                "typeCode": "PT01",
                "storagePolicyClass": null,
                "chargeType": null,
                "price": [{
                  "location": "DFW01",
                  "amount": 25,
                  "units": null
                }, {
                  "location": "PHX01",
                  "amount": 25,
                  "units": null
                }],
                "priceType": "PerUnit",
                "instanceSeries": "A",
                "cpu": 1,
                "memory": 2,
                "baseDiskSize": 30,
                "baseDiskTier": "SSD",
                "operatingSystem": "CentOS 6",
                "billingOnly": false,
                "hasRules": false
              }, {
                "name": "A1-CentOS 7",
                "sku": "A1-102",
                "category": "Instance",
                "description": "Armor-hardened 64-bit CentOS 7 image with 30GB SSD storage",
                "typeCode": "PT01",
                "storagePolicyClass": null,
                "chargeType": null,
                "price": [{
                  "location": "DFW01",
                  "amount": 25,
                  "units": null
                }, {
                  "location": "PHX01",
                  "amount": 25,
                  "units": null
                }],
                "priceType": "PerUnit",
                "instanceSeries": "A",
                "cpu": 1,
                "memory": 2,
                "baseDiskSize": 30,
                "baseDiskTier": "SSD",
                "operatingSystem": "CentOS 7",
                "billingOnly": false,
                "hasRules": false
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/products/{id}/resizeinstance": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve a resizable list of products specific to a instance.",
        "operationId": "ProductCatalog_GetResizableInstanceProductList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id for the product list of the desired products",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.ProductListItemModel"
              }
            },
            "examples": {
              "application/json": [{
                "name": "A1-CentOS 6",
                "sku": "A1-101",
                "category": "Instance",
                "description": "Armor-hardened 64-bit CentOS 6 image with 30GB SSD storage",
                "typeCode": "PT01",
                "storagePolicyClass": null,
                "chargeType": null,
                "price": [{
                  "location": "DFW01",
                  "amount": 25,
                  "units": null
                }, {
                  "location": "PHX01",
                  "amount": 25,
                  "units": null
                }],
                "priceType": "PerUnit",
                "instanceSeries": "A",
                "cpu": 1,
                "memory": 2,
                "baseDiskSize": 30,
                "baseDiskTier": "SSD",
                "operatingSystem": "CentOS 6",
                "billingOnly": false,
                "hasRules": false
              }, {
                "name": "A1-CentOS 7",
                "sku": "A1-102",
                "category": "Instance",
                "description": "Armor-hardened 64-bit CentOS 7 image with 30GB SSD storage",
                "typeCode": "PT01",
                "storagePolicyClass": null,
                "chargeType": null,
                "price": [{
                  "location": "DFW01",
                  "amount": 25,
                  "units": null
                }, {
                  "location": "PHX01",
                  "amount": 25,
                  "units": null
                }],
                "priceType": "PerUnit",
                "instanceSeries": "A",
                "cpu": 1,
                "memory": 2,
                "baseDiskSize": 30,
                "baseDiskTier": "SSD",
                "operatingSystem": "CentOS 7",
                "billingOnly": false,
                "hasRules": false
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/roles": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get a list of all roles on an account, including the associated permissions and assigned users.",
        "operationId": "Roles_GetRoles",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetAccountRolePermissionsResponse"
              }
            },
            "examples": {
              "application/json": [{
                "id": 4,
                "name": "Admin",
                "created": "2015-12-13T02:00:46.51",
                "modified": null,
                "members": [{
                  "id": 2,
                  "firstName": "John",
                  "lastName": "Smith",
                  "email": "john.smith@example.com",
                  "added": "2015-12-13T02:01:30.923",
                  "enabled": true,
                  "roleId": 0
                }],
                "permissions": [1, 2, 3],
                "default": true
              }]
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Account Management"],
        "summary": "Create a role with a group of permissions.",
        "operationId": "Roles_CreateRole",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "Name and Permissions",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.CreateRoleSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetAccountRolePermissionsResponse"
              }
            },
            "examples": {
              "application/json": {
                "id": 8,
                "name": "Role 1",
                "created": "2015-01-07T00:25:05.103",
                "modified": null,
                "members": [],
                "permissions": [1, 2, 3],
                "default": false
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/roles/{id}": {
      "get": {
        "tags": ["Account Management"],
        "summary": "GET a role by the role id.",
        "operationId": "Roles_GetRole",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Role ID",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetAccountRolePermissionsResponse"
              }
            },
            "examples": {
              "application/json": {
                "id": 4,
                "name": "Admin",
                "created": "2015-12-13T02:00:46.51",
                "modified": null,
                "members": [{
                  "id": 2,
                  "firstName": "John",
                  "lastName": "Smith",
                  "email": "john.smith@example.com",
                  "added": "2015-12-13T02:01:30.923",
                  "enabled": true,
                  "roleId": 0
                }],
                "permissions": [1, 2, 3],
                "default": true
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Account Management"],
        "summary": "Update the name and/or permissions assigned to a role.",
        "operationId": "Roles_UpdateRole",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Role ID",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "request",
          "in": "body",
          "description": "Name and Permissions",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateRoleSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetAccountRolePermissionsResponse"
              }
            },
            "examples": {
              "application/json": {
                "id": 4,
                "name": "Admin",
                "created": "2015-12-13T02:00:46.51",
                "modified": null,
                "members": [{
                  "id": 2,
                  "firstName": "John",
                  "lastName": "Smith",
                  "email": "john.smith@example.com",
                  "added": "2015-12-13T02:01:30.923",
                  "enabled": true,
                  "roleId": 0
                }],
                "permissions": [1, 2, 3],
                "default": true
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Account Management"],
        "summary": "Delete a role by id.",
        "operationId": "Roles_DeleteRole",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Role ID",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/roles/{id}/members/{userId}": {
      "post": {
        "tags": ["Account Management"],
        "summary": "Add a user to a role.",
        "operationId": "Roles_UpdateRoleMember",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Role ID",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "userId",
          "in": "path",
          "description": "User ID",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.RBAC.Data.Domain.RoleUser"
              }
            },
            "examples": {
              "application/json": {
                "roleId": 4,
                "id": 3,
                "firstName": "John",
                "lastName": "Smith",
                "email": "john.smith@example.com",
                "createdDate": "2015-01-07T00:46:24.157",
                "isEnabled": true
              }
            }
          },
          "404": {
            "description": "User cannot be found for the account"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Account Management"],
        "summary": "Delete a user from a role.",
        "operationId": "Roles_DeleteRoleMember",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "Role ID",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "userId",
          "in": "path",
          "description": "User ID",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.RBAC.Data.Domain.RoleUser"
              }
            },
            "examples": {
              "application/json": {
                "roleId": 4,
                "id": 3,
                "firstName": "John",
                "lastName": "Smith",
                "email": "john.smith@example.com",
                "createdDate": "2015-01-07T00:46:24.157",
                "isEnabled": true
              }
            }
          },
          "404": {
            "description": "User cannot be found for the account"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve subscriptions for an account.",
        "operationId": "Subscription_GetSubscriptions",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.SubscriptionResponse"
              }
            },
            "examples": {
              "application/json": [{
                "uniqueProductIdentifier": "a4bee0fd-4a3c-4c23-87a1-bc2a136e6d06",
                "productName": "SQL Server Express 2016",
                "productCategory": "Software License",
                "quantity": 1,
                "sku": "DB-SQL-EXPRESS-2016",
                "price": 0,
                "totalPrice": 0,
                "ticketNumber": null,
                "contractEffectiveDate": null,
                "pendingCancellation": false,
                "ticketKey": null
              }]
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/account-details": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get partner customer details for logged-in account.",
        "operationId": "SubscriptionUsage_GetAllAccountDetailsForPartner",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Billing.Models.AccountListDto"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/account-usage": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get account all usage for billing period.",
        "operationId": "SubscriptionUsage_GetAccountUsage",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.Usage.AccountUsageResponse"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/account-usagedetails": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get usage details for partner and partner customers",
        "operationId": "SubscriptionUsage_GetAccountUsageDetails",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Billing.Models.Usage.AccountUsageResponse"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/actions/cancel": {
      "post": {
        "tags": ["Account Management"],
        "summary": "Cancel an active subscription.",
        "operationId": "Subscription_CancelSubscription",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "sku: Sku of the product to be removed<br /><br />\r\n            UniqueProductIdentifier: Identifier for the specific product to be removed",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Billing.ApiExamples.Models.CancelSubscriptionSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": ""
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/hourlyusage": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get partners and partner customers hourly usagedetails for logged-in account.",
        "operationId": "SubscriptionUsage_GetHourlyUsage",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Billing.Models.AccountHourlyUsageItem"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/usage": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve Usage records for an account.",
        "operationId": "Usage_GetAccountUsage",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetUsageResponse"
              }
            },
            "examples": {
              "application/json": [{
                "accountId": 2,
                "sku": "SKU-001",
                "vmId": 2079,
                "quantity": 2,
                "usageDate": "2018-04-04"
              }]
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/users": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve a list of users for an account.",
        "operationId": "Users_GetUsers",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetUserResponse"
              }
            },
            "examples": {
              "application/json": {
                "id": 2540,
                "status": "disabled",
                "title": "",
                "firstName": "John",
                "lastName": "Smith",
                "email": "john.smith@example.com",
                "phonePrimary": {
                  "countryCode": 1,
                  "countryIsoCode": null,
                  "number": "8880000000",
                  "phoneExt": null
                },
                "timezone": "GMT Standard Time",
                "culture": "en-US",
                "permissions": [1, 2],
                "lastModified": "2015-12-08T20:25:34.083",
                "passwordLastSet": "1999-01-01T00:00:00",
                "mustChangePassword": false,
                "lastLogin": "2025-02-08T20:25:34.083",
                "apiKeyCount": 15,
                "isPrimaryBillingNotificationUser": false,
                "isPrimaryAccountNotificationUser": false,
                "isPrimaryTechnicalNotificationUser": false
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Account Management"],
        "summary": "Invite a new or existing user to an account.",
        "operationId": "Users_CreateAccountUser",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "firstName First name of the user you want to create<br /><br />\r\n            lastName: Last name of the user you want to create<br /><br />\r\n            email: Email of the user you want to create<br /><br />\r\n            roles: Array of roles you want to apply to the user<br /><br />",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.CreateAccountUserSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.CreateAccountResponse"
              }
            },
            "examples": {
              "application/json": {
                "id": 2598
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/users/{id}": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get details about a specific user.",
        "operationId": "Users_GetUser",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id of the user",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.GetUserResponse"
              }
            },
            "examples": {
              "application/json": {
                "id": 2402,
                "status": "disabled",
                "title": "",
                "firstName": "John",
                "lastName": "Smith",
                "email": "john.smith@example.com",
                "phonePrimary": {
                  "countryCode": 1,
                  "countryIsoCode": "US",
                  "number": "8880000000",
                  "phoneExt": null
                },
                "timezone": "GMT Standard Time",
                "culture": "en-US",
                "permissions": [1],
                "lastModified": "2015-09-22T15:28:06.89",
                "passwordLastSet": "1999-01-01T00:00:00",
                "mustChangePassword": false,
                "lastLogin": "1999-01-01T00:00:00",
                "apiKeyCount": 0,
                "isPrimaryBillingNotificationUser": false,
                "isPrimaryAccountNotificationUser": false,
                "isPrimaryTechnicalNotificationUser": false
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Account Management"],
        "summary": "Update the attributes of a user.",
        "operationId": "Users_UpdateUser",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "id of the user",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "user",
          "in": "body",
          "description": "firstName: First name<br /><br />\r\n            lastName: Last name<br /><br />\r\n            status: Enabled or disabled status<br /><br />\r\n            phonePrimary: Phone object",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateUserSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": ""
              }
            },
            "examples": {
              "application/json": {
                "id": 2381,
                "firstName": "John",
                "lastName": "Smith",
                "title": "",
                "timezone": "GMT Standard Time",
                "culture": "en-US",
                "phonePrimary": {
                  "countryCode": 1,
                  "countryIsoCode": "US",
                  "number": "8880000000",
                  "phoneExt": null
                },
                "accountid": 2093
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/users/{id}/keys": {
      "get": {
        "tags": ["Keys"],
        "summary": "/Returns list of api keys for a user",
        "operationId": "Keys_GetApiTokenList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Data.Persistence.ApiKey"
            },
            "examples": {
              "application/json": {
                "id": "00000000-0000-0000-0000-000000000000",
                "name": "Example Key Name",
                "createdDate": "2026-02-12T00:00:00+00:00",
                "lastUsed": "2026-02-12T16:25:56.4275729Z",
                "keyStatus": "True"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Keys"],
        "summary": "Rename Api key",
        "operationId": "Keys_RenameAPIKey",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "updateApiKeyRequest",
          "in": "body",
          "description": "",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Data.Persistence.UpdateApiKeyRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Keys"],
        "summary": "Method to create Api Key",
        "operationId": "Keys_CreateAPIKey",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "User Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "request",
          "in": "body",
          "description": "Create Api Key request",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Data.Persistence.CreateApiKeyRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Data.Persistence.CreateApiKeyResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/users/{id}/keys/{key}": {
      "delete": {
        "tags": ["Keys"],
        "summary": "Deletes api key",
        "operationId": "Keys_DeleteApiKey",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "id",
          "in": "path",
          "description": "User Id",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "key",
          "in": "path",
          "description": "Key Id",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            },
            "examples": {
              "application/json": true
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/users/{userId}/invite": {
      "post": {
        "tags": ["Account Management"],
        "summary": "Resend email invitation for an invited user.",
        "operationId": "Users_ResendAccountInvite",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "userId",
          "in": "path",
          "description": "id of the user",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/users/notifications": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Get a user's notification settings. Notification settings determine the types of notifications a given user is subscribed to (e.g. Technical notifications, Ticket notifications, etc.).",
        "operationId": "Users_GetUserNotificationPreferences",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Infrastructure.Accounts.Data.Persistence.UserNotificationPreferencesResponse"
              }
            },
            "examples": {
              "application/json": {
                "notificationPreferences": [{
                  "notificationTypeId": 7,
                  "notificationType": "Billing",
                  "alert": true,
                  "sms": false,
                  "email": false
                }, {
                  "notificationTypeId": 3,
                  "notificationType": "Ticket",
                  "alert": true,
                  "sms": false,
                  "email": true
                }, {
                  "notificationTypeId": 2,
                  "notificationType": "Security",
                  "alert": false,
                  "sms": false,
                  "email": false
                }, {
                  "notificationTypeId": 1,
                  "notificationType": "Account",
                  "alert": false,
                  "sms": false,
                  "email": true
                }, {
                  "notificationTypeId": 8,
                  "notificationType": "Technical",
                  "alert": false,
                  "sms": false,
                  "email": true
                }]
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Account Management"],
        "summary": "Update the notification settings for a user.",
        "operationId": "Users_CreateUserNotificationPreferences",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "userId: id of the user<br /><br />\r\n            isSelfUpdate:Where the user you are updating is yourself<br /><br />\r\n            NotificationPreferences: Array of UserNotificationPreferences",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.CreateUserNotificationPreferenceSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/users/simpleUserList": {
      "get": {
        "tags": ["Account Management"],
        "summary": "Retrieve a simplified list of users for an account.",
        "operationId": "Users_GetUsersSimpleList",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Accounts.Data.Persistence.AccountUserSimple%5D"
            },
            "examples": {
              "application/json": {
                "total": 10,
                "page": 1,
                "items": [{
                  "id": 2540,
                  "accountId": 1,
                  "isEnabled": true,
                  "title": "",
                  "lastModified": "2015-12-08T20:25:34.083",
                  "lastLoginTime": "2025-02-08T20:25:34.083",
                  "firstName": null,
                  "lastName": null,
                  "name": "John Smith",
                  "email": "john.smith@example.com",
                  "isEmployee": false,
                  "timeZoneId": "GMT Standard Time",
                  "culture": "en-US",
                  "invitationAcceptedDate": "2026-02-12T16:25:50.5025965+00:00",
                  "apiKeyCount": 15,
                  "status": "enabled",
                  "total": null,
                  "isPrimaryBillingNotificationUser": false,
                  "isPrimaryAccountNotificationUser": false,
                  "isPrimaryTechnicalNotificationUser": false
                }, {
                  "id": 2541,
                  "accountId": 1,
                  "isEnabled": true,
                  "title": "",
                  "lastModified": "2015-11-08T20:25:34.083",
                  "lastLoginTime": "2025-11-03T20:25:34.083",
                  "firstName": null,
                  "lastName": null,
                  "name": "John Smith2",
                  "email": "john.smith2@example.com",
                  "isEmployee": false,
                  "timeZoneId": "GMT Standard Time",
                  "culture": "en-US",
                  "invitationAcceptedDate": "2026-02-12T16:25:50.5025965+00:00",
                  "apiKeyCount": 10,
                  "status": "enabled",
                  "total": null,
                  "isPrimaryBillingNotificationUser": false,
                  "isPrimaryAccountNotificationUser": false,
                  "isPrimaryTechnicalNotificationUser": false
                }]
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users/status": {
      "post": {
        "tags": ["Account Management"],
        "summary": "Enable or disable a user on an account.",
        "operationId": "Users_UpdateUserStatus",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "isEnabled: Whether the user is enabled or not<br /><br />\r\n            accountId: id of the account<br /><br />\r\n            id: Id of the user",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateUserStatusSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireHost.Services.Http.Accounts.Models.UpdateUserStatusResponse"
              }
            },
            "examples": {
              "application/json": {
                "userId": 5718,
                "isEnabled": false
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/usersecurity/challengephrase": {
      "put": {
        "tags": ["Account Management"],
        "summary": "Update the user challenge phrase for a given user account.",
        "operationId": "UserSecurity_UpdateChallengePhrase",
        "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "request",
          "in": "body",
          "description": "Request",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FireHost.Services.Http.Accounts.ApiExamples.Models.UpdateChallengePhraseSampleRequest"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": ""
              }
            },
            "examples": {
              "application/json": {
                "userId": 0,
                "challengePhrase": "what is your mother's maiden name?",
                "challengeAnswer": "maiden",
                "userName": "user@example.com",
                "signedInUserId": 0
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    },
    "/utilization/{reportType}": {
      "get": {
        "tags": ["Utilization"],
        "summary": "Retrieve Utilization for an account.",
        "description": "Response Type: csv or zip file based on the report Type.",
        "operationId": "Utilization_GetUtilization",
        "consumes": [],
        "produces": ["application/json", "text/json"],
        "parameters": [{
          "name": "reportType",
          "in": "path",
          "description": "Type of the report required. All, Detail, ByHost, ByHour",
          "required": true,
          "type": "string"
        }, {
          "name": "startDate",
          "in": "query",
[...]
