openapi: 3.2.0
info:
  title: Armor FH-AUTH Security User API
  description: Armor Security Platform Authentication API using FH-AUTH flow.
  version: 2.0.0
  contact:
    name: Armor Support
    url: https://armor.com
servers:
- url: https://api.armor.com
  description: Production API
tags:
- name: User
  description: User profile and account information
paths:
  /me:
    get:
      operationId: getCurrentUser
      summary: Get current user information
      description: Returns the authenticated user's profile and associated accounts
      tags:
      - User
      security:
      - FH-AUTH: []
      parameters:
      - $ref: '#/components/parameters/X-Account-Context'
      responses:
        '200':
          description: Current user information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          description: Unauthorized - invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - invalid account context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: integer
          example: 1000
        currency:
          type: string
          example: USD
        name:
          type: string
          example: Armor Internal Test_AA
        status:
          type: string
          enum:
          - Claimed
          - Pending
          - Inactive
          example: Claimed
        parent:
          type:
          - integer
          - 'null'
          example: 1
        products:
          type:
          - array
          - 'null'
          items:
            type: string
        accountType:
          type: string
          enum:
          - Partner
          - Direct
          - Partner Customer
          example: Partner
        isSynced:
          type: boolean
          example: true
        isFreeTrial:
          type: boolean
          example: false
    UserLinks:
      type: object
      properties:
        userId:
          type: integer
          example: 4922
    MeResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
    User:
      type: object
      properties:
        type:
          type: string
          example: user
        username:
          type: string
          format: email
          example: john.doe@armor.com
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        links:
          $ref: '#/components/schemas/UserLinks'
        passwordExpiry:
          type: string
          description: Password expiry time in seconds
          example: '2609961'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code
          example: invalid_credentials
        error_description:
          type: string
          description: Human-readable error message
          example: The provided credentials are invalid
        status:
          type: integer
          description: HTTP status code
          example: 401
  parameters:
    X-Account-Context:
      name: X-Account-Context
      in: header
      required: true
      description: The account ID context for the request
      schema:
        type: string
        example: '1000'
  securitySchemes:
    FH-AUTH:
      type: http
      scheme: bearer
      bearerFormat: FH-AUTH
      description: 'FH-AUTH token authentication.


        ## Authentication Flow


        1. **Authorize**: POST credentials to `/auth/authorize` to receive an authorization code

        2. **Token Exchange**: Exchange the code at `/auth/token` within 2 minutes for access tokens

        3. **API Calls**: Use the access token in the `Authorization: FH-AUTH {token}` header

        4. **Refresh**: When token expires (15 minutes), refresh via `/auth/token/reissue`


        ## Security Notes


        - Authorization codes expire in 2 minutes

        - Access tokens expire in 15 minutes

        - All endpoints require HTTPS

        - Never log or persist tokens in plain text


        Include the access token in the Authorization header:

        ```

        Authorization: FH-AUTH {access_token}

        ```

        '
