openapi: 3.2.0
info:
  version: v1
  title: Armor Services Utilization API
servers:
- url: https://api.armor.com
tags:
- name: Utilization
paths:
  /utilization/{reportType}:
    get:
      tags:
      - Utilization
      summary: Retrieve Utilization for an account.
      description: 'Response Type: csv or zip file based on the report Type.'
      operationId: Utilization_GetUtilization
      parameters:
      - name: reportType
        in: path
        description: Type of the report required. All, Detail, ByHost, ByHour
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start Date of the report (YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End Date of the report (YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
      deprecated: false
  /utilization/usage-for:
    get:
      tags:
      - Utilization
      summary: Retrieve Utilization for an account group by Core Instance.
      description: End Date should be later than Start Date. But not over 1 month later than Start Date.<br /><br /><strong>Get request URI contain the following query options</strong><br /><br /><strong>$top (required):</strong> total number of results to display. <strong>Data Type:</strong> integer. <strong>Example:</strong> $top=25<br /><br /><strong>$skip (required):</strong> skips the top number of results. <strong>Data Type:</strong> integer. <strong>Example:</strong> $skip=1<br /><br />
      operationId: Utilization_GetUsagePerCoreInstance
      parameters:
      - name: startDate
        in: query
        description: Start Date of the report (YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End Date of the report (YYYY-MM-DD).
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Billing.Models.CoreHeartbeatCoreInstanceUsage%5D'
            text/json:
              schema:
                $ref: '#/components/schemas/FireHost.Services.Common.Infrastructure.PagedResultSet%5BFireHost.Infrastructure.Billing.Models.CoreHeartbeatCoreInstanceUsage%5D'
        '400':
          description: Bad Request
      deprecated: false
components:
  securitySchemes:
    Authorization:
      type: apiKey
      description: Authorization Token
      name: Authorization
      in: header
    X-Account-Context:
      type: apiKey
      description: X-Account-Context
      name: X-Account-Context
      in: header
